/* Header - Style8 */

/* Text Colors*/
.body-light #main-body a, .body-light #bottom a, .body-light #main-content .poll-line:hover, .body-light #footer a, .banner-module a, .body-light .moduletable h3 span, .body-light .contentheading span {color: #1366A3;}
.body-dark #main-body a, .body-dark #bottom a, .body-dark #main-content .poll-line:hover, .body-dark #footer a, .body-dark .moduletable h3 span, .body-dark .contentheading span {color: #1366A3;}
#showmodules a, .feature-module a, #showcase-section .logo-list a:hover {color: #1366A3;}
#header-bg .moduletable, #showcase-section .logo-list a {color: #444;}
#showcase-section .desc-container {color: #111;text-shadow: 1px 1px 0 #ccc;}
#horiz-menu li.root > .item, #horiz-menu.splitmenu li .item {color: #555;text-shadow: 1px 1px 0 #fff;}
.feature-module .readon-main {text-shadow: -1px -1px 0 #000;}
#horiz-menu li > .item {color: #666;}
body #horiz-menu li.root:hover > .item span,
body #horiz-menu li.root.active > .item span,
body #horiz-menu li.root.active:hover > .item span,
#horiz-menu.splitmenu li:hover .item span,
#horiz-menu.splitmenu li.active .item span,
#horiz-menu.splitmenu li.active:hover .item span {color: #111;}
#showcase-section .moduletable h3, #showcase-section .logo-list a {text-shadow: 1px 1px 0 #fff;}
#showcase-section .moduletable h3 span {color: #111;}
.body-light .round3 .moduletable h3 span, .body-light .square3 .moduletable h3 span {color: #ddd;}
.body-light .round4 .moduletable h3 span, .body-light .square4 .moduletable h3 span {color: #333;}
.body-light .round5 .moduletable h3 span, .body-light .square5 .moduletable h3 span {color: #333;}
.body-dark .round3 .moduletable h3 span, .body-dark .square3 .moduletable h3 span {color: #aaa;}
.body-dark .round4 .moduletable h3 span, .body-dark .square4 .moduletable h3 span {color: #fff;}
.body-dark .round5 .moduletable h3 span, .body-dark .square5 .moduletable h3 span {color: #fff;}

#header-bg {background: #E9E9E9 url(../images/header/style8/show-bg.jpg) 50% 0 no-repeat;}
#logo {background: url(../images/header/style8/logo.png) 0 0 no-repeat;}

/* Showcase */
.module-top, .module-bottom, #showmodules .module-inner, .feature-module .module-inner, .feature-block-top, .feature-block-bottom, .feature-block-inner {background: url(../images/header/style8/menu-bg.png) 0 0;}
.module-top2, .feature-block-top2 {background: url(../images/header/style8/showcase-corners.png) 0 0;}
.module-top3, .feature-block-top3 {background: url(../images/header/style8/showcase-corners.png) -58px 0;}
.module-bottom2, .feature-block-bottom2 {background: url(../images/header/style8/showcase-corners.png) 0 -58px;}
.module-bottom3, .feature-block-bottom3 {background: url(../images/header/style8/showcase-corners.png) -58px -58px;}
#header-bg .feature-circles-sub {background: url(../images/header/style8/showcase-corners.png) -76px 0 no-repeat;}
#header-bg .feature-circles .active {background: url(../images/header/style8/showcase-corners.png) -93px 0 no-repeat;color: #666;}

/* Fusion Pill */
.fusion-pill-l, #horiz-menu.splitmenu li.active .item, #horiz-menu.splitmenu li:hover .item {background: url(../images/header/style8/menutab-r.png) 100% 0;}
.fusion-pill-r, #horiz-menu.splitmenu li.active .item span, #horiz-menu.splitmenu li:hover .item span {background: url(../images/header/style8/menutab-l.png) 0 0 no-repeat;}

/* Horizontal Menu */
#horiz-menu {background: url(../images/header/style8/menu-bg.png) 0 0;}
#horiz-menu li.root .daddy span {background: url(../images/header/style8/arrows.png) 100% 50% no-repeat;}

.logo-list a:hover {background: url(../images/header/style8/menutab-r.png) 100% 0 no-repeat;}
.logo-list a:hover span {background: url(../images/header/style8/menutab-l.png) 0 0 no-repeat;}