/* Text Colors - Dark */
.body-dark div.itemMainImageBlock .itemMainImageCaption, .body-dark span.itemImageCaption, .body-dark span.itemDateModified, .body-dark span.catItemDateModified, .body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail, .body-dark div.authorBlock span.authorUrl, .body-dark div.itemHeader span.itemDateCreated, .body-dark div.catItemHeader span.catItemDateCreated {color:#666;}
.body-dark div.itemMainImageBlock .itemMainImageCredits, .body-dark span.itemImageCredits, .body-dark div.itemIntroText, .body-dark div.catItemIntroText, .body-dark div.catItemRatingBlock span, .body-dark div.k2LatestCommentsBlock ul li span.lcCommentDate {color:#999;}
.body-dark textarea#commentText, .body-dark #comment-form input.inputbox {color: #ccc;}

/* Background Colors - Dark */
.body-dark div.itemImageThumbBlock span.itemImage img, .body-dark div.itemImageMainBlock img, .body-dark div.yellowbox-bl, .body-dark div.itemAuthorBlock, .body-dark div.itemAuthorBlock img.itemAuthorAvatar, .body-dark div.itemNavigation, .body-dark div.itemComments, .body-dark div.itemListCategoriesBlock, .body-dark div.itemListCategory a.itemListCategoryImage, .body-dark div.authorBlock, .body-dark div.authorBlock img.authorAvatar, .body-dark div.defCategoryWrapper div.defCategoryBlock, .body-dark div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage, .body-dark div.subCategory, .body-dark div.catItemLinks, .body-dark div.userItemView, .body-dark div.titleTools, .body-dark span.catItemImage img, .body-dark div.itemToolbar, .body-dark span.itemImage img, .body-dark div.genericItemView, .body-dark div.userBlock {background:#191919;}
.body-dark #comment-form input.inputbox, .body-dark textarea#commentText {background: #444;}
.body-dark .k2ItemsList .itemAuthorBlock {background: #3f3f3f;}

/* Border Colors - Dark */
.body-dark div.itemImageThumbBlock span.itemImage img, .body-dark div.itemImageMainBlock img, .body-dark div.yellowbox-bl, .body-dark div.itemFullText img, .body-dark div.itemAuthorBlock img.itemAuthorAvatar, .body-dark div.itemNavigation, .body-dark div.itemListCategory a.itemListCategoryImage, .body-dark div.itemImageMainBlock span.itemImage img, .body-dark div.authorBlock img.authorAvatar, .body-dark div.defCategoryWrapper div.defCategoryBlock, .body-dark div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage, .body-dark span.itemImage img, .body-dark .itemListCategoriesBlock, .body-dark div.catItemLinks, .body-dark div.subCategory a.subCategoryImage img, .body-dark div.subCategory a.subCategoryImage:hover img, .body-dark div.itemListCategory img, .body-dark div.userItemView, .body-dark div.titleTools, .body-dark span.catItemImage img, .body-dark div.itemToolbar, .body-dark .itemAuthorBlock, .body-dark span.itemImage img, .body-dark div.genericItemView, .body-dark .itemComments, .body-dark div.userBlock {border: 1px solid #222;}
.body-dark div.catItemTagsBlock, .body-dark div.itemTagsBlock {border-top:1px solid #222;}
.body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-dark div.authorBlock span.authorUrl {border-right:1px solid #222;}
.body-dark div.itemView, .body-dark div.itemSocialLinksBlock, .body-dark div.itemAttachmentsBlock, .body-dark div.itemComments ul.itemCommentsList li, .body-dark div.defView, .body-dark span.itemEditLink, .body-dark .itemCommentsCounter {border-bottom:1px solid #222;}
.body-dark ul.itemToolbar li {border-left:1px solid #222;}
.body-dark .k2ItemsList .itemAuthorBlock, .body-dark ul.k2ItemsList li a.k2ItemsThumb, .body-dark #comment-form input.inputbox, .body-dark textarea#commentText {border: 1px solid #333;}
.body-dark .itemRatingList, .body-dark .itemRatingList a:hover, .body-dark .itemRatingList .itemCurrentRating {background: url(../images/system/star2.gif) left -1000px repeat-x;}

/* Text Colors - Light */
.body-light div.itemIntroText, .body-light div.catItemIntroText, .body-light div.itemMainImageBlock .itemMainImageCaption, .body-light span.itemImageCaption, .body-light span.itemDateModified, .body-light span.catItemDateModified, .body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail, .body-light div.authorBlock span.authorUrl {color:#666;}
.body-light div.itemMainImageBlock .itemMainImageCredits, .body-light span.itemImageCredits, .body-light div.itemHeader span.itemDateCreated, .body-light div.catItemHeader span.catItemDateCreated, .body-light div.catItemRatingBlock span, .body-dark div.k2LatestCommentsBlock ul li span.lcCommentDate {color:#999;}
.body-light #comment-form textarea.inputbox, .body-light textarea#commentText {color: #333;}

/* Background Colors - Light */
.body-light div.itemImageMainBlock img, .body-light div.yellowbox-bl, .body-light div.itemAuthorBlock, .body-light div.itemAuthorBlock img.itemAuthorAvatar, .body-light div.itemNavigation, .body-light div.itemComments, .body-light div.itemListCategoriesBlock, .body-light div.itemListCategory a.itemListCategoryImage, .body-light div.authorBlock, .body-light div.authorBlock img.authorAvatar, .body-light div.defCategoryWrapper div.defCategoryBlock, .body-light div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage, .body-light div.subCategory, .body-light div.catItemLinks, .body-light div.userItemView, .body-light div.titleTools, .body-light span.catItemImage img, .body-light div.itemToolbar, .body-light span.itemImage img, .body-light div.genericItemView, .body-light div.userBlock {background:#eee;}
.body-light #comment-form input.inputbox, .body-light textarea#commentText {background: #ddd;}

/* Border Colors - Light */
.body-light div.itemImageMainBlock img, .body-light div.yellowbox-bl, .body-light div.itemFullText img, .body-light div.itemAuthorBlock img.itemAuthorAvatar, .body-light div.itemNavigation, .body-light textarea#commentText, .body-light div.itemListCategory a.itemListCategoryImage, .body-light div.itemImageMainBlock span.itemImage img, .body-light div.authorBlock img.authorAvatar, .body-light div.defCategoryWrapper div.defCategoryBlock, .body-light div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage, .body-light span.itemImage img, .body-light .itemListCategoriesBlock, .body-light div.catItemLinks, .body-light div.subCategory a.subCategoryImage img, .body-light div.subCategory a.subCategoryImage:hover img, .body-light div.itemListCategory img, .body-light div.userItemView, .body-light div.titleTools, .body-light span.catItemImage img, .body-light div.itemToolbar, .body-light .itemAuthorBlock, .body-light span.itemImage img, .body-light div.genericItemView, .body-light .itemComments, .body-light div.userBlock {border: 1px solid #ccc;}
.body-light div.catItemTagsBlock, .body-light div.itemTagsBlock {border-top:1px solid #ddd;}
.body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-light div.authorBlock span.authorUrl {border-right:1px solid #ddd;}
.body-light div.itemView, .body-light div.itemSocialLinksBlock, .body-light div.itemAttachmentsBlock, .body-light div.itemComments ul.itemCommentsList li, .body-light div.defView, .body-light span.itemEditLink, .body-light .itemCommentsCounter {border-bottom:1px solid #ddd;}
.body-light ul.itemToolbar li {border-left:1px solid #ddd;}
.body-light #comment-form input.inputbox, .body-light #comment-form textarea {border: 1px solid #ccc;}
.body-light .itemRatingList, .body-light .itemRatingList a:hover, .body-light .itemRatingList .itemCurrentRating { background: url(../images/system/star.gif) repeat-x scroll left -1000px;}

/* Global K2 container */
#k2Container {padding: 0 0 24px 0; overflow: hidden;}
body.contentpane #k2Container {padding: 16px;}

/* General padding */
.k2Padding {padding:4px;}

/* Clearing */
.clr {clear:both;height:0;line-height:0;display:block;float:none;}
.clearList {display:none;}

/* Zebra rows */
.body-dark #itemCommentsList li.even {background: #393939;}
.body-light #itemCommentsList li.even {background: #f7f7f7;}
.odd {}

/* RSS feed icon */
div.k2FeedIcon {padding:4px 8px;float: right;}
div.k2FeedIcon a, div.k2FeedIcon a:hover {display:block;float:right;margin:0;padding:0;width:16px;height:16px;background:url(../images/social/feed.png) no-repeat 50% 50%;}
div.k2FeedIcon a span, div.k2FeedIcon a:hover span {display:none;}

/* Rating */
.itemRatingForm {display: block;vertical-align: middle;line-height: 25px;}
.itemRatingLog {height:25px;font-weight:bold;float: left;}
div.itemRatingForm .formLogLoading {background:url(../images/system/loading.gif) no-repeat left center;height:25px;padding:0 0 0 20px;}
.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {}
.body-light .itemRatingList, .body-dark .itemRatingList {position: relative;width: 125px;height: 25px;overflow: hidden;list-style: none;margin: 0 5px 0 0;padding: 0;background-position: left top;float: left;}
.itemRatingList li {display:inline;background-image:none;padding:0;}
.itemRatingList a, .itemRatingList .itemCurrentRating {position:absolute;top:0;left:0;text-indent:-1000px;height:25px;line-height:25px;outline:none;overflow:hidden;border:none;cursor:pointer;}
.body-light .itemRatingList a:hover, .body-dark .itemRatingList a:hover {background-position: left bottom;}
.body-light .itemRatingList a.one-star, .body-dark .itemRatingList a.one-star { width: 20%;z-index: 6;}
.body-light .itemRatingList a.two-stars, .body-dark .itemRatingList a.two-stars {width: 40%;z-index: 5;}
.body-light .itemRatingList a.three-stars, .body-dark .itemRatingList a.three-stars {width: 60%;z-index: 4;}
.body-light .itemRatingList a.four-stars, .body-dark .itemRatingList a.four-stars {width: 80%;z-index: 3;}
.body-light .itemRatingList a.five-stars, .body-dark .itemRatingList a.five-stars {width: 100%;z-index: 2;}
.body-light .itemRatingList .itemCurrentRating, .body-dark .itemRatingList .itemCurrentRating {z-index: 1;background-position: 0 center;margin: 0;padding: 0;}
span.siteRoot {display:none;}

/* CSS added with Javascript */
.smallerFontSize {font-size:100%;line-height:inherit;}
.largerFontSize {font-size:150%;line-height:140%;}

/* ReCaptcha */
.recaptchatable .recaptcha_image_cell, #recaptcha_table {background-color:#fff !important;}
#recaptcha_table {border-color: #ccc !important;}
#recaptcha_response_field {border-color: #ccc !important;background-color:#fff !important;}

/* Pagination */
div.k2Pagination {padding:8px;margin:24px 0 4px 0;text-align:center;}

div.itemView {padding:8px 0 24px 0;margin:0 0 24px 0;}

span.itemEditLink {display:block;text-align:right;padding:4px;margin:0 0 4px 0;}

div.itemHeader span.itemDateCreated {font-size:11px;}
div.itemHeader h2.itemTitle {font-size:36px;font-weight:normal;line-height:110%;padding:10px 0 24px 0;margin:0;}
div.itemHeader h2.itemTitle span sup {font-size:12px;text-decoration:none;}
div.itemHeader span.itemAuthor {float:left;display:block;width:18%;padding:0;margin:0;}

div.itemToolbar {list-style:none;padding:4px 6px;margin:0;position:relative;overflow: hidden;}
div.itemToolbar ul {float:right;text-align:right;list-style:none;padding:0;margin:0;}
div.itemToolbar ul li {display:inline;list-style:none;padding:0 4px 0 8px;margin:0;text-align:center;}
div.itemToolbar .itemAuthor {float: left;}
div.itemToolbar ul > li:first-child {border:none;}
div.itemToolbar ul li a img {vertical-align:middle;}
div.itemToolbar ul li a#fontDecrease, div.itemToolbar ul li a#fontIncrease {margin:2px 0 0 7px;display: block;float: left;width: 13px;height: 13px;}
div.itemToolbar ul li a#fontDecrease span, div.itemToolbar ul li a#fontIncrease span {display:none;}
.body-dark a#fontDecrease {background: url(../images/system/font_decrease2.gif) no-repeat;}
.body-dark a#fontIncrease {background: url(../images/system/font_increase2.gif) no-repeat;}
.body-light a#fontDecrease {background: url(../images/system/font_decrease.gif) no-repeat;}
.body-light a#fontIncrease {background: url(../images/system/font_increase.gif) no-repeat;}
.itemTextResizerTitle {display: block;float: left;margin-right: 5px;}

div.itemRatingBlock {padding:8px 0;}
div.itemRatingBlock span {display:none;padding:0 4px;margin:0;line-height: 14px;font-size: 11px;}
div.itemBody {padding:8px 0;margin:0;}
div.itemImageBlock {padding:8px;}
span.itemImage {display:block;text-align:center;margin:0 0 8px 0;}
span.itemImage img {padding:5px;}
span.itemImageCaption {text-align: center;display:block;font-size:11px;}
span.itemImageCredits {text-align: center;display:block;font-style:italic;font-size:11px;}
div.itemIntroText {font-size:inherit;font-weight:normal;line-height: 135%;padding:4px 0 12px 0;}
div.itemIntroText img {padding:2px;margin:4px;}
div.itemFullText h3 {margin:0;padding:16px 0 4px 0;}
div.itemFullText img {padding:2px;margin:4px;}
div.itemExtraFields {margin:16px 0 0 0;padding:8px 0 0 0;}
div.itemExtraFields h3 {margin:0;padding:0 0 8px 0;line-height:normal !important;}
div.itemExtraFields ul {margin:0;padding:0;list-style:none;}
div.itemExtraFields ul li {display:block;}
div.itemExtraFields ul li span.itemExtraFieldsLabel {display:block;float:left;font-weight:bold;margin:0 4px 0 0;width:30%;}

span.itemDateModified {display:block;text-align:right;padding:4px;margin:16px 0 4px 0;font-style: italic;}
div.itemLinks {margin:0 0 16px 0;padding:0;}

div.itemHitsTwitter {padding:4px;}
span.itemTwitterLink {padding:0 0 0 8px;margin:0 0 0 4px;}
span.itemTwitterLink a {background:url(../images/social/twitter.png) no-repeat 0 50%;padding:2px 0 0 20px;margin:8px 0;text-decoration:none;}
span.itemTwitterLink a:hover {text-decoration:none;}

div.itemCategory {padding:4px;}
div.itemCategory span {font-weight:bold;padding:0 4px 0 0;}
div.itemTagsBlock {padding:4px;}
div.itemTagsBlock span {font-weight:bold;padding:0 4px 0 0;}
div.itemTagsBlock ul.itemTags {list-style:none;padding:0;margin:0;display:inline;}
div.itemTagsBlock ul.itemTags li {display:inline;list-style:none;padding:0 4px 0 0;margin:0;text-align:center;}
div.itemSocialLinksBlock {padding:4px;}
div.itemSocialLinksBlock span {font-weight:bold;padding:0 4px 0 0;float:left;display:block;}
div.itemSocialLinksBlock ul.itemSocialLinks {list-style:none;padding:0;margin:0;float:left;}
div.itemSocialLinksBlock ul.itemSocialLinks li {float:left;list-style:none;padding:0 4px;margin:0;}
div.itemSocialLinksBlock ul.itemSocialLinks li a {float:left;display:block;width:16px;height:16px;background-position:0 0;background-repeat:no-repeat;}
div.itemSocialLinksBlock ul.itemSocialLinks li a span {display:none;}
a.delicious {background-image: url(../images/social/delicious.png);}
a.digg {background-image: url(../images/social/digg.png);}
a.reddit {background-image: url(../images/social/reddit.png);}
a.stumble {background-image: url(../images/social/stumble.png);}
a.facebook {background-image: url(../images/social/facebook.png);}
a.myspace {background-image: url(../images/social/myspace.png);}
a.technorati {background-image: url(../images/social/technorati.png);}

div.itemAttachmentsBlock {padding:4px;}
div.itemAttachmentsBlock span {font-weight:bold;padding:0 4px 0 0;}
div.itemAttachmentsBlock ul.itemAttachments {list-style:none;padding:0;margin:0;display:inline;}
div.itemAttachmentsBlock ul.itemAttachments li {display:inline;list-style:none;padding:0 4px;margin:0;text-align:center;}
div.itemAttachmentsBlock ul.itemAttachments li span {font-size:10px;font-weight:normal;}
	
/* Author block */
div.itemAuthorBlock {margin:0 0 16px 0;padding:8px;}
div.itemAuthorBlock img.itemAuthorAvatar {float:left;display:block;padding:4px;margin:0 8px 0 0;}
div.itemAuthorBlock div.itemAuthorDetails {margin:0;padding:0;}
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName {margin:0 0 4px 0;padding:0;}
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a {font-size:16px;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {font-weight:bold;padding:0 8px 0 0;margin:0 4px 0 0;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {font-weight:bold;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a, div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a {font-weight:normal;}

/* Author latest */
div.itemAuthorLatest, div.itemRelated {margin-bottom:16px;padding:0;width: 48%;float: left;}
div.itemAuthorLatest {margin-right: 10px;}
div.itemAuthorLatest ul, div.itemRelated ul {margin: 0;padding: 0;}
div.itemAuthorLatest ul li, div.itemRelated ul li {list-style: none;}
.itemAuthorLatest a, .itemRelated a {padding: 0 0 12px 15px; font-size: 110%; display: block;}
.body-dark .itemAuthorLatest a, .body-dark .itemRelated a {background: url(../images/body/dark/arrows.png) 0 4px no-repeat;}
.body-light .itemAuthorLatest a, .body-light .itemRelated a {background: url(../images/body/light/arrows.png) 0 4px no-repeat;}

/* Video */
div.itemVideoBlock {margin:0 0 16px 0;padding:16px;background:#010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;}
div.itemVideoBlock span.itemVideo {display:block;}
div.itemVideoBlock span.itemVideo span.allvideos {padding:4px 0;}
div.itemVideoBlock span.itemVideo span.allvideos_player, div.itemVideoBlock span.itemVideo span.allvideos_player object {width:100% !important;height:450px !important;margin:0 auto;}
div.itemVideoBlock span.itemVideoCaption {color:#eee;float:left;display:block;font-size:11px;font-weight:bold;width:60%;}
div.itemVideoBlock span.itemVideoCredits {color:#eee;float:right;display:block;font-style:italic;font-size:11px;width:35%;text-align:right;}

/* Image Gallery */
div.itemImageGallery {margin:0 0 16px 0;padding:0;}

/* Article navigation */
div.itemNavigation {padding:4px 8px;margin:0 0 24px 0;}
div.itemNavigation a.itemPrevious {padding:0 12px;}
div.itemNavigation a.itemNext {padding:0 12px;}

/* Comments */
div.itemComments {}
div.itemComments ul.itemCommentsList {margin:0 0 5px;padding:0;list-style:none;}
div.itemComments ul.itemCommentsList li {padding:15px 15px 0px 15px;margin:0;position: relative;}
div.itemComments ul.itemCommentsList li img {float:left;margin:0 8px 8px 0;padding:0;width: 35px;height: 35px;}
div.itemComments ul.itemCommentsList li span.commentDate {padding:0 8px 0 0;margin:0 6px 0 0;font-weight:bold;font-size:14px;display: block;font-style: italic;}
div.itemComments ul.itemCommentsList li span.commentAuthorName {font-weight:bold;font-size:14px;}
div.itemComments ul.itemCommentsList li p {padding:4px 0;clear: both;}
div.itemComments ul.itemCommentsList li span.commentAuthorEmail {display:none;}
div.itemComments ul.itemCommentsList li span.commentLink {display:block;position:absolute;right:15px;text-align:right;font-size:11px;color:#999;top: 15px;}
div.itemComments ul.itemCommentsList li span.commentLink a {font-size:11px;color:#999;text-decoration:underline;}
div.itemComments ul.itemCommentsList li span.commentLink a:hover {font-size:11px;color:#555;text-decoration:underline;}
div.itemCommentsPagination {padding:4px;}
div.itemCommentsPagination div.pagination {margin: 0;}
div.itemCommentsPagination span.pagination {display:block;float:right;clear:both;}
div.itemCommentsForm {padding: 0px 5px 5px 15px;}
div.itemCommentsForm h4.itemCommentsFormTitle {font-size:24px;margin:0 0 8px 0;padding:0;}
div.itemCommentsForm form label.formComment {display:none;}
div.itemCommentsForm form label.formName {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formEmail {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formUrl {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formRecaptcha {display:block;margin:12px 0 0 2px;}
#comment-form textarea.inputbox {display:block;width:350px;height:160px;margin:0;padding: 5px;}
#comment-form input.inputbox {display:block;width:350px;margin:0;padding: 5px;}
div.itemCommentsForm form input.button, .k2LoginBlock input.button {margin:0;border:0;background: none;line-height: 16px;padding-top: 4px;}
div.itemCommentsForm form span#formLog {margin:0 0 0 20px;padding:0 0 0 20px;font-weight:bold;color:#CF1919;}
div.itemCommentsForm form .formLogLoading {background:url(../images/system/loading.gif) no-repeat left center;}
div.itemComments h3.itemCommentsCounter {padding: 15px;margin: 0;}

/* Back to top link */
div.itemBackToTop {text-align:right;margin-top: 15px;}
div.itemBackToTop a {text-decoration:underline;}
div.itemBackToTop a:hover {text-decoration:underline;}

/* Category block */
div.itemListCategory {margin:0 8px 8px 0;padding:10px;}
span.catItemAddLink {clear:both;display:block;text-align:right;padding:4px;margin:0 0 4px 0;}
div.itemListCategory img {float:left;display:block;padding:4px;margin:0 8px 0 0;}

/* Sub-category block */
div.subCategoryContainer {float:left;}
div.subCategory {margin:4px;padding:10px;}
div.subCategory a.subCategoryImage, div.subCategory a.subCategoryImage:hover {display:block;float: left;}
div.subCategory a.subCategoryImage img, div.subCategory a.subCategoryImage:hover img {padding:4px;;margin:0 10px 10px 0;}
div.subCategory h2 {font-size: 150%;margin-top: 10px;}
a.subCategoryMore {float: right;margin-left: 10px;}
div.itemListSubCategories h3 {margin-left: 15px;}

/* Item groups */
div#itemListLinks {margin:8px 0;padding:8px;}
div.itemContainer {float:left;}

/* Item block for each item group */
div.catItemView {padding: 10px;margin-bottom: 15px;}
div.groupLinks {padding:0;margin:0;}
span.catItemEditLink {display:block;text-align:right;padding:4px;margin:0 0 4px 0;}

div.catItemHeader span.catItemDateCreated {font-size:11px;}
div.catItemHeader h3.catItemTitle {font-size:160%;font-weight:bold;line-height:110%;padding:10px 0 4px 0;margin:0 0 5px 0;}
div.catItemHeader h3.catItemTitle span sup {font-size:12px;text-decoration:none;}
div.catItemHeader span.catItemAuthor {display:block;padding:0;margin:0;float: left;}

div.titleTools {display: block;padding: 4px 6px;overflow: hidden;}
div.catItemRatingBlock {padding:8px 0;}
div.catItemRatingBlock span {display:none;padding:0 4px;margin:0;line-height: 14px;font-size: 11px;}
div.catItemBody {padding:8px 0;margin:0;}
div.catItemImageBlock {padding:8px;}
span.catItemImage {display:block;text-align:center;margin:0 0 8px 0;}
span.catItemImage img {padding:5px;}
div.catItemIntroText {font-size:inherit;font-weight:normal;line-height:inherit;padding:4px 0 12px 0;}
div.catItemIntroText img {padding:2px;margin:4px;}
div.catItemExtraFields {margin:16px 0 0 0;padding:8px 0 0 0;}
div.catItemExtraFields h4 {margin:0;padding:0 0 8px 0;line-height:normal !important;}
div.catItemExtraFields ul {margin:0;padding:0;list-style:none;}
div.catItemExtraFields ul li {display:block;}
div.catItemExtraFields ul li span.catItemExtraFieldsLabel {display:block;float:left;font-weight:bold;margin:0 4px 0 0;width:30%;}
div.catItemLinks {margin:0 0 16px 0;padding:5px;}
div.catItemHitsBlock {padding:4px;}
div.catItemCategory {padding:4px;}
div.catItemCategory span {font-weight:bold;padding:0 4px 0 0;}
	
div.catItemTagsBlock {padding:4px;}
div.catItemTagsBlock span {font-weight:bold;padding:0 4px 0 0;}
div.catItemTagsBlock ul.catItemTags {list-style:none;padding:0;margin:0;display:inline;}
div.catItemTagsBlock ul.catItemTags li {display:inline;list-style:none;padding:0 4px 0 0;margin:0;text-align:center;}

div.catItemAttachmentsBlock {padding:4px;}
div.catItemAttachmentsBlock span {font-weight:bold;padding:0 4px 0 0;}
div.catItemAttachmentsBlock ul.catItemAttachments {list-style:none;padding:0;margin:0;display:inline;}
div.catItemAttachmentsBlock ul.catItemAttachments li {display:inline;list-style:none;padding:0 4px;margin:0;text-align:center;}
div.catItemAttachmentsBlock ul.catItemAttachments li span {font-size:10px;font-weight:normal;}

/* Video */
div.catItemVideoBlock {margin:0 0 16px 0;padding:16px;background:#010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;}
div.catItemVideoBlock span.catItemVideo {display:block;}
div.catItemVideoBlock span.catItemVideo span.allvideos {padding:4px 0;}
div.catItemVideoBlock span.catItemVideo span.allvideos_player, div.catItemVideoBlock span.catItemVideo span.allvideos_player object {width:100% !important;height:450px !important;margin:0 auto;}

/* Image Gallery */
div.catItemImageGallery {margin:0 0 16px 0;padding:0;}

/* Anchor link to comments */
div.catItemCommentsLink {display:inline;float: right;}

/* Read more link */
div.catItemReadMore {display:inline;}

/* Modified date */
span.catItemDateModified {display:block;text-align:right;padding:4px;margin:4px 0;font-style: italic;font-size: 90%;}

/* User info block */
div.userBlock {margin:0 0 16px 0;padding:8px;clear:both;}
span.userItemAddLink {display:block;text-align:right;padding:4px;margin:0 0 4px 0;}
div.userBlock h2 {margin: 0; font-size: 175%;}
div.userBlock img {display:block;float:left;padding:4px;margin:0 8px 0 0;}
div.userBlock p.userDescription {padding:4px 0;}
div.userBlock p.userAdditionalInfo {padding:4px 0;margin:8px 0 0 0;}
span.userURL {font-weight:bold;display:block;}
span.userEmail {font-weight:bold;display:block;}

span.userItemEditLink {display:block;text-align:right;padding:4px;margin:0 0 4px 0;}
div.userItemHeader span.userItemDateCreated {font-size:11px;}
div.userItemHeader h3.userItemTitle {font-size:24px;font-weight:normal;line-height:110%;padding:10px 0 4px 0;margin:0;}
div.userItemBody {padding:8px 0;margin:0;}
div.userItemImageBlock {padding:0;margin:0;float:left;}
span.userItemImage {display:block;text-align:center;margin:0 8px 8px 0;}
span.userItemImage img {padding:8px;}
div.userItemIntroText {font-size:inherit;font-weight:normal;line-height:inherit;padding:4px 0 12px 0;}
div.userItemIntroText img {padding:2px;margin:4px;}
div.userItemLinks {margin:0 0 16px 0;padding:0;}
div.userItemCategory {padding:4px;}
div.userItemCategory span {font-weight:bold;padding:0 4px 0 0;}

div.userItemTagsBlock {padding:4px;}
div.userItemTagsBlock span {font-weight:bold;padding:0 4px 0 0;}
div.userItemTagsBlock ul.userItemTags {list-style:none;padding:0;margin:0;display:inline;}
div.userItemTagsBlock ul.userItemTags li {display:inline;list-style:none;padding:0 4px 0 0;margin:0;text-align:center;}

div.userItemView {padding: 10px;margin-bottom: 15px;}

/* Anchor link to comments */
div.userItemCommentsLink {margin:0 8px 0 0;padding:0 8px 0 0;}

/* Read more link */
div.userItemReadMore {display:inline;}

div.genericItemView {padding:10px;margin:0 0 15px 0;}
div.genericItemHeader span.genericItemDateCreated {color:#999;font-size:11px;}
div.genericItemHeader h2.genericItemTitle {font-size:24px;font-weight:normal;line-height:110%;padding:10px 0 4px 0;margin:0;}
div.genericItemBody {padding:8px 0;margin:0;}
div.genericItemImageBlock {padding:0;margin:0;float:left;}
span.genericItemImage {display:block;text-align:center;margin:0 8px 8px 0;}
span.genericItemImage img {padding:8px;}
div.genericItemIntroText {font-size:inherit;font-weight:normal;line-height:inherit;padding:4px 0 12px 0;}
div.genericItemIntroText img {padding:2px;margin:4px;}
div.genericItemCategory {margin:0 8px 0 0;padding:0 8px 0 0;}
div.genericItemCategory span {font-weight:bold;padding:0 4px 0 0;}

/* Read more link */
div.genericItemReadMore {display:inline;}

/* Top Commenters */
div.k2TopCommentersBlock ul {padding:4px;margin:4px;list-style:none;}
div.k2TopCommentersBlock ul li img.tcAvatar {display:block;float:left;padding:2px;margin:2px 4px 4px 0;}

/* K2 Modules */
div.k2ItemsBlock ul {padding:0;margin:0;list-style:none;}
div.k2ItemsBlock ul li {padding:8px 0;}
div.k2ItemsBlock ul li a.moduleItemTitle {font-size:20px;display: block;}
div.k2ItemsBlock ul li img.moduleItemAuthorAvatar {display:block;float:left;margin:0 8px 0 0;width:14px;height:auto;}
div.k2ItemsBlock ul li p {display:block;padding:0;margin: 0 0 10px 0;}
div.k2ItemsBlock ul li .moduleItemIntrotext {margin-top: 10px;}
div.k2ItemsBlock ul li .moduleItemIntrotext a.moduleItemImage img {float:left;margin:2px 8px 8px 0;padding:0;}
div.k2ItemsBlock ul li ul.moduleItemExtraFields {margin:0;padding:0;list-style:none;}
ul.moduleItemExtraFields li {display:block;}
ul.moduleItemExtraFields li span.moduleItemExtraFieldsLabel {display:block;float:left;font-weight:bold;margin:0 4px 0 0;width:30%;}
div.k2ItemsBlock ul li span.moduleItemTags a {padding:0 2px;}
div.k2ItemsBlock ul li a.moduleItemComments {padding:0 4px 0 0;margin:0 8px 0 0;}
div.k2ItemsBlock ul li span.moduleItemHits {padding:0 4px 0 0;margin:0 8px 0 0;}
div.k2ItemsBlock ul li span {display: block;margin-bottom: 5px;}

div.k2LoginBlock fieldset.input {margin:0;padding:0;}
div.k2LoginBlock fieldset.input p {margin:0;padding:0 0 4px 0;}
div.k2LoginBlock fieldset.input p label {display:block;}
div.k2LoginBlock fieldset.input p input {display:block;}
div.k2LoginBlock fieldset.input p#form-login-remember label,
div.k2LoginBlock fieldset.input p#form-login-remember input {display:inline;}
div.k2LoginBlock ul {padding:4px 8px;margin:4px;list-style:square;}
div.k2UserBlock p img {display:block;float:left;padding:2px;margin:2px 4px 4px 0;width:48px;height:auto;}
div.k2UserBlock ul {padding:4px 8px;margin:4px;list-style:square;}

/* K2 Comments Module */
div.k2LatestCommentsBlock ul {list-style: none;margin: 0;padding: 0;}
div.k2LatestCommentsBlock li {margin-bottom: 15px;padding-bottom: 15px;clear:both;}
div.k2LatestCommentsBlock ul li img.lcAvatar  {float: left;margin-right: 10px;margin-bottom: 10px;}
div.k2LatestCommentsBlock ul li span.lcComment {display: block;margin-bottom: 5px;}
div.k2LatestCommentsBlock ul li span.lcItemTitle {font-size: 90%;}
div.k2LatestCommentsBlock ul li span.lcItemCategory {font-size: 90%;}

/* Archives */
div.k2ArchivesBlock ul {list-style: none;margin: 0;padding: 0;}
.k2ArchivesBlock li a {padding: 0 0 12px 15px; font-size: 110%; display: block;}
.body-dark .k2ArchivesBlock li a {background: url(../images/body/dark/arrows.png) 0 4px no-repeat;}
.body-light .k2ArchivesBlock li a {background: url(../images/body/light/arrows.png) 0 4px no-repeat;}
.body-light .round3 .k2ArchivesBlock li a, .body-light .square3 .k2ArchivesBlock li a {background: url(../images/body/light/arrows2.png) 0px 4px no-repeat;}
.body-dark .round2 .k2ArchivesBlock li a, .body-dark .square2 .k2ArchivesBlock li a {background: url(../images/body/dark/arrows3.png) 0px 4px no-repeat;}
.body-dark .round3 .k2ArchivesBlock li a, .body-dark .square3 .k2ArchivesBlock li a {background: url(../images/body/dark/arrows2.png) 0px 4px no-repeat;}
.body-dark .round4 .k2ArchivesBlock li a, .body-dark .square4 .k2ArchivesBlock li a {background: url(../images/body/dark/arrows4.png) 0px 4px no-repeat;}
.body-dark .round5 .k2ArchivesBlock li a, .body-dark .square5 .k2ArchivesBlock li a {background: url(../images/body/dark/arrows5.png) 0px 4px no-repeat;}

/* Authors */
div.k2AuthorsListBlock ul {padding:4px 8px;margin:4px;list-style:square;}
div.k2AuthorsListBlock ul li img.abAuthorAvatar {display:block;float:left;padding:2px;margin:2px 4px 4px 0;width:24px;height:auto;}

/* Breadcrumbs */
div.k2BreadcrumbsBlock span.bcTitle {padding:0 4px 0 0;color:#999;}
div.k2BreadcrumbsBlock span.bcSeparator {padding:0 4px;font-size:14px;}

/* Calendar */
div.k2CalendarBlock {height:190px;margin-bottom:8px;}
div.k2CalendarLoader {background:#fff url(../images/system/k2CalendarLoader.gif) no-repeat 50% 50%;}
table.calendar {margin:0 auto;background:#fff;border-collapse:collapse;}
table.calendar tr td {text-align:center;vertical-align:middle;padding:2px;border:1px solid #f4f4f4;background:#fff;}
table.calendar tr td.calendarNavMonthPrev {background:#f3f3f3;text-align:left;}
table.calendar tr td.calendarNavMonthPrev a {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarNavMonthPrev a:hover {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarCurrentMonth {background:#f3f3f3;}
table.calendar tr td.calendarNavMonthNext {background:#f3f3f3;text-align:right;}
table.calendar tr td.calendarNavMonthNext a {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarNavMonthNext a:hover {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarDayName {background:#e9e9e9;font-size:11px;width:14.2%;}
table.calendar tr td.calendarDateEmpty {background:#fbfbfb;}
table.calendar tr td.calendarDateLinked {padding:0;}
table.calendar tr td.calendarDateLinked a {display:block;padding:2px;text-decoration:none;}
table.calendar tr td.calendarDateLinked a:hover {display:block;background:#BFD9FF;padding:2px;text-decoration:none;}
table.calendar tr td.calendarToday {background:#135cae;color:#fff;}
table.calendar tr td.calendarTodayLinked {background:#135cae;color:#fff;padding:0;}
table.calendar tr td.calendarTodayLinked a {display:block;padding:2px;color:#fff;text-decoration:none;}
table.calendar tr td.calendarTodayLinked a:hover {display:block;background:#BFD9FF;padding:2px;text-decoration:none;}

/* Category Tree Select Box */
div.k2CategorySelectBlock form select {width:auto;}

/* Category List/Menu */
div.k2CategoriesListBlock ul {list-style: none;margin: 0;padding: 0;}
#main-content ul.level0 li a {display: block;}
#main-content ul.level1 li a {display: block;}
.k2CategoriesListBlock li a {padding: 0 0 12px 15px; font-size: 110%; display: block;}
.body-dark .k2CategoriesListBlock li a {background: url(../images/body/dark/arrows.png) 0 4px no-repeat;}
.body-light .k2CategoriesListBlock li a {background: url(../images/body/light/arrows.png) 0 4px no-repeat;}
.body-dark .round2 .k2CategoriesListBlock li a, .body-dark .square2 .k2CategoriesListBlock li a {background: url(../images/body/dark/arrows3.png) 0px 4px no-repeat;}
.body-light .round3 .k2CategoriesListBlock li a, .body-light .square3 .k2CategoriesListBlock li a {background: url(../images/body/light/arrows2.png) 0px 4px no-repeat;}
.body-dark .round3 .k2CategoriesListBlock li a, .body-dark .square3 .k2CategoriesListBlock li a {background: url(../images/body/dark/arrows2.png) 0px 4px no-repeat;}
.body-dark .round4 .k2CategoriesListBlock li a, .body-dark .square4 .k2CategoriesListBlock li a {background: url(../images/body/dark/arrows4.png) 0px 4px no-repeat;}
.body-dark .round5 .k2CategoriesListBlock li a, .body-dark .square5 .k2CategoriesListBlock li a {background: url(../images/body/dark/arrows5.png) 0px 4px no-repeat;}

/* Search Box */
div.k2SearchBox form input.inputbox {width: 95%;padding: 4px;border: 0;}

/* Tag Cloud */
div.k2TagCloudBlock a {padding:4px;float:left;display:block;}
div.k2TagCloudBlock a:hover {padding:4px;float:left;display:block;text-decoration:none;}
.body-light div.k2TagCloudBlock a:hover {background:#eee;color:#333;}
.body-dark div.k2TagCloudBlock a:hover {background:#333;color:#fff;}