/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop li.root {margin: 0 3px;padding: 6px 0;}
.menutop em {font-size:80%;font-weight:normal;display:block;font-style:normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}
.menutop li .fusion-submenu-wrapper {float: none;left: -999em;position: absolute;z-index: 500;}
.menutop li:hover li ul, .menutop li.sfHover li ul {top: -999em;}
.menutop li:hover ul, .menutop li.sfHover ul {top: 0;}

/* Dropdowns */
.menutop .subtext span {line-height: 18px;}
.menutop .subtext em {line-height:13px;}
.menutop ul {width:194px;padding:0 0 14px 12px;margin: 0;}
.menutop .drop-top {width: 206px;height: 14px;}
.menutop ul.columns2 {width:370px;}
.menutop .columns2 .drop-top {width:382px;}
.menutop ul li {width:184px;}
.menutop ul.columns2 li {width:179px;float:left;}
.menutop li > .item {padding: 0;height: auto;line-height: 31px;display: block;font-size: 12px;}
.menutop li > .bullet {padding: 3px 10px 5px 28px;}
.menutop li > .item.image {padding:3px 0 5px 4px;}
.menutop li > .item img {float:left;margin: 6px 5px 0 6px;}
.menutop li > .item span {display:block;padding: 0;width: 100%;}
.menutop li a.item {cursor:pointer;}
.menutop li span.item {cursor:default;outline:none;}
.level2 .drop-top {display: none;}

/* Root Items */
#horiz-menu ul.level1, #horiz-menu li.root {background:none;}
body #horiz-menu li.root > .item {background: none;}
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1.0;float: left;}
.menutop li.root {display: block;float: left;}
.menutop li.root > .item {white-space: nowrap;display: block;float: left;height: 35px;line-height: 35px;font-weight: bold;font-size: 14px;text-decoration: none !important;z-index: 100;cursor: pointer;padding: 0;position:relative;margin: 0 0 0 12px;}
.menutop li.root > .item span {display: block;padding: 0 13px;margin-left: -12px;height: 35px;}
.menutop li.root > .item em {font-size:11px;font-weight:normal;display:block;font-style:normal;}
.menutop li.root .daddy {padding-right:10px;}

/* No JS */
.menutop li:hover > .fusion-submenu-wrapper {left:170px;top:0;}
.menutop li.root:hover > .fusion-submenu-wrapper {top:47px;left:0;}

/* Fusion Pill */
.fusion-pill-l {height: 35px;margin:0 0 0 12px;top:6px;width:50px;position:absolute;left:0;}
.fusion-pill-r {margin-left: -12px;height: 35px;}

/* Fusion JS */
.fusion-js-container {display:block;height:0;left:0;overflow:visible;position:absolute;top:0;z-index:600000!important;background:transparent !important;}
.fusion-js-subs {display:none;margin:0 0 0 -2px;overflow:hidden;padding:0 2px;position:absolute;}