/** IE6 is a hunk of crap!!! due to limitations in the CSS capabilities of IE, these hacks are required **/
body.ie-please-wait {background:#000 url(../images/ie_loading.png) 50% 300px no-repeat;}

/* font tweaking */
body#ff-georgia, body#ff-georgia.f-default {font-size: 12px;}

/* topbar */
#accessibility {width: 100px;}
#logo {position: relative;}

/* horizmenu */
#horiz-menu {position:relative;z-index:140;float:right;}
#horiz-menu li.parent-sfHover {z-index:800 !important;}
#menu-spacer {line-height: 0;font-size: 0;}
#horizmenu-surround {float:right;}
.menutop {z-index: 200;}
.fusion-js-container {position:absolute !important;}

/* main layout */
#header, #top-bar, .col3, ul.menutop, #bottom, #mainmodules3, #mainmodules4, #footer, #footer2, #footer3, #leftcol, #rightcol, #maincol, #maincol2, #main-body, .side-mod, #breadcrumbs, #breadcrumbs-home, .breadcrumbs, .pathway, ul.menu, .module, #showmodules, #maincontent-block, #mainmodules, #mainmodules2, #mainmodules3, #mainmodule4, #inset-block-left, #inset-block-right, #inset-block-right .right-padding, #inset-block-left .left-padding, #main-content, #main-content-block, .wrapper, .feature-module, .article-info-surround, .article-info-surround2, .roktabs-wrapper, ul.bullet-3 li, #bottom ul li a {zoom: 1;}

.module-surround, .module-surround2, .module-surround3, .module-surround4, .module-surround5, .module-grad, #horizmenu-surround, #featuremodules, .article-info-left, #showcase-section, .module-inner, .titleTools {zoom: 1;}
#horizmenu-surround {height:42px;position:relative;}
.module-surround2, .module-surround3, .module-surround4, .module-surround5, .module-top, .module-top2, .module-top3, .module-bottom, .module-bottom2, .module-bottom3, .feature-block-top, .feature-block-top2, .feature-block-top3, .feature-block-bottom, .feature-block-bottom2, .feature-block-bottom3 {font-size: 0;line-height: 0;}

#main-background {position: relative;}
#inset-block-right {margin-left:0px;}
#inset-block-left {margin-right:0px;}
.article-info-right {width: 200px;}
.clr, .footer-div {line-height: 0;font-size: 0;}
#showmodules .feature-desc {font-weight: bold;}

#showcase-section .feature-block .readon-wrap1 {display: block;}
#showcase-section .feature-block .readon-wrap1 .readon1-m {margin-left:0px;}
#showcase-section .feature-block .readon-wrap1 .readon1-l,
#showcase-section .feature-block .readon-wrap1 .readon1-m,
#showcase-section .feature-block .readon-wrap1 .readon1-r {float:left;white-space:nowrap;}
#showcase-section .feature-block .readon-wrap1 .readon1-l {width: 9px;}
.showcase-dc .readon-wrap1 {width: 100px;}
.readon-wrap1 span {display:inline-block;line-height: 19px;}
.readon-wrap1 {padding-left:8px;}
.readon-wrap1, a.readon-main,.readon1-m,.readon1-r {position:relative;}
div.important, div.important-red, div.important-blue, div.important-green, div.important-purple, div.important-brown, div.important-orange, div.important-grey {zoom:1;}
.logo-list a:hover {background: none;}
.head-style1 .logo-list a:hover span {background: #e5b1fb;color: #333;}
.head-style2 .logo-list a:hover span {background: #FFE6A8;color: #333;}
.head-style3 .logo-list a:hover span {background: #90FDFF;color: #333;}
.head-style4 .logo-list a:hover span {background: #FFBE54;color: #333;}
.head-style5 .logo-list a:hover span {background: #B7D856;color: #333;}
.head-style6 .logo-list a:hover span {background: #F2B6C5;color: #333;}
.head-style7 .logo-list a:hover span {background: #C9E8FF;color: #333;}
.head-style8 .logo-list a:hover span {background: #1366A3;color: #fff;}

#main-content-surround {zoom: 1;}
.showcase-surround {zoom: 1;}
.article_row {zoom: 1;}
.cols1 {display: block !important;width: 100%;}
.article_column {position: relative;}
.cols2 {width: 49%;overflow: hidden;}
h1.componentheading {width:auto;}
#breadcrumbs-home {margin-right: -3px;}
.body-light form.search_result legend {color: #333;}
.body-dark form.search_result legend {color: #666;}
.rokstories-layout1 .image-full {margin: 0;}
form.search_result button.button {padding-top: 0;line-height: 130%;}
form.search_result input#search_searchword.inputbox {padding: 1px 0 1px 5px;}
form.search_result fieldset.word label {line-height: 22px;}
#searchmod-surround .inputbox {padding-top: 2px;line-height: 16px;height: 20px;}
form.form-login input.button, form.log input.button {line-height: 18px;}
form.form-login .inputbox {line-height: 16px;}
#top-bar .date1 {line-height: 22px;}
#top-bar {position: relative;}
ul.frontpage {margin: auto;}
.k2LoginBlock input.button {height: 20px;line-height: 12px;}

/* rok stories */
.feature-block {zoom: 1;}
.labels-title {position: absolute;width:95%;}
.rokstories-tip {padding: 0px 10px 25px;}
.feature-block .feature-arrow-l, .feature-block .feature-arrow-r, .feature-block .image-full {zoom:1;}
.layout2 .feature-block .image-container { zoom:1;position:relative;padding-bottom:35px;overflow:hidden;}
.feature-block .labels-title {position:absolute;bottom:0;left:0;width:100%;}

/* rok tabs */
.roktabs-wrapper {width:auto;}
.roktabs-links ul.roktabs-top,.roktabs-links ul.roktabs-bottom {zoom:1;position:relative;}
#ff-moxy .roktabs-links, #ff-moxy #horiz-menu li span, #ff-moxy #top-bar .date-block {font-family: Helvetica,Arial,sans-serif;font-weight: bold;}
#top-bar .date1 {line-height: 20px;}
.roktabs-wrapper .roktabs-links ul li {white-space: nowrap;}
.roktabs-wrapper .roktabs-links ul li span {display: inline-block;}

/* rokfonts */
h3.module-title span {display:inline;}

/* rok module fixes */
#roksearch_results .roksearch_even {zoom:1;}
#roksearch_results .container-wrapper {position:relative;zoom:1;width:400px;}
#roksearch_results .container-scroller {position:relative;zoom:1;}
#roksearch_results .container-scroller .page .roksearch_odd, #roksearch_results .container-scroller .page .roksearch_even {zoom:1;z-index:1000;}
#roksearch_results .container-scroller span.small { bottom:6px;right:10px}

/* Horizontal Menu */
/*- Dropdowns -*/
.menutop li li .item {padding: 0 0 0 18px;height: auto;line-height: 31px;display: block;font-size: 12px;}
.menutop li li .item.image {padding:0 0 0 2px;}
.menutop li li .item img {float:left;margin: 6px 5px 0 0;}
.menutop li li .item span {display:block;padding: 0;width: 100%;}

/*- Root Items -*/
body #horiz-menu li.root .item {background: none;}
.menutop li.root .item {white-space: nowrap;display: block;height: 35px;line-height: 35px;font-weight: bold;font-size: 14px;text-decoration: none !important;z-index: 100;cursor: pointer;padding: 0 0 0 12px;position:relative;margin: 0 0 0 12px;}
.menutop li.root .item span {display: block;padding: 0 13px;margin-left: -12px;height: 35px;}
.menutop li.root .item em {font-size:11px;font-weight:normal;display:block;font-style:normal;}
#horiz-menu li .item, #horiz-menu li .item span, #horiz-menu li, #horiz-menu li.active, #horiz-menu li.sfHover {display:inline-block;}
#horiz-menu li.root .item {color: #aaa;}
#horiz-menu li .item {color: #666;}

body #horiz-menu li.sfHhover .item span,
body #horiz-menu li.root.active .item span,
body #horiz-menu li.active-sfHover .item span,
#horiz-menu.splitmenu li.sfHover .item span,
#horiz-menu.splitmenu li.active-sfHover .item span {color: #fff;}
#horiz-menu li.root {text-align: center;}
#horiz-menu li.root .daddy span {background-position: 110% 50%;padding-right: 20px;}

/*- Submenus -*/
.fusion-js-container li .item {display:block;font-size:12px;height:auto;line-height:31px;padding:0;cursor:pointer;}
.fusion-js-container li .item span {display:block;padding:0;width:100%;}
body .fusion-js-container li .nolink {cursor: default !important;}
.fusion-js-container a:hover {text-decoration: none;}

.fusion-js-container li .bullet {padding: 3px 10px 5px 28px;}
.fusion-js-container li .image {padding:3px 0 5px 4px;}
.fusion-js-container li .item img {float:left;margin: 6px 5px 0 6px;}

/*- Light -*/
.body-light .fusion-js-container li .bullet {background: url(../images/body/light/drop-bullet.png) 10px 13px no-repeat;}
.body-light .fusion-js-container li.sfHover  .bullet, .body-light .fusion-js-container li.f-menuparent-itemfocus .bullet, .body-light .fusion-js-container li.active .bullet {background: url(../images/body/light/drop-bullet.png) 10px -270px no-repeat;color: #000 !important;}
.body-light .fusion-js-container li.active span {color: #000 !important;}
.body-light .fusion-js-container li .daddy span {background:transparent url(../images/body/light/drop-bullet.png) no-repeat scroll 100% -568px;}
.body-light .fusion-js-container li.sfHover {background-color: #efefef;}

/*- Dark -*/
.body-dark .fusion-js-container li .bullet {background: url(../images/body/dark/drop-bullet.png) 0 11px no-repeat;}
.body-dark .fusion-js-container li.sfHover  .bullet, .body-dark .fusion-js-container li.f-menuparent-itemfocus .bullet, .body-dark .fusion-js-container li.active .bullet {background: url(../images/body/dark/drop-bullet.png) 0 -272px no-repeat;color: #000;}
.body-dark .fusion-js-container li.active span {color: #fff !important;}
.body-dark .fusion-js-container li .daddy span {background:transparent url(../images/body/dark/drop-bullet.png) no-repeat scroll 100% -567px;}
.body-dark .fusion-js-container li.sfHover {background-color: #191919;}


/* Side Menus - Light */
.body-light #main-body ul.menu li a, .body-light #main-body ul.menu li .separator, .body-light #main-body ul.menu li .item, .body-light #main-body ul.menu li li a, .body-light #main-body ul.menu li li .separator, .body-light #main-body ul.menu li li .item {background: url(../images/body/light/arrows.png) 5px 12px no-repeat;color: #666;}
.body-light #main-body .round3 ul.menu li a, .body-light #main-body .round3 ul.menu li .separator, .body-light #main-body .round3 ul.menu li .item, .body-light #main-body .round3 ul.menu li li a, .body-light #main-body .round3 ul.menu li li .separator, .body-light #main-body .round3 ul.menu li li .item, .body-light #main-body .square3 ul.menu li a, .body-light #main-body .square3 ul.menu li .separator, .body-light #main-body .square3 ul.menu li .item, .body-light #main-body .square3 ul.menu li li a, .body-light #main-body .square3 ul.menu li li .separator, .body-light #main-body .square3 ul.menu li li .item {background: url(../images/body/light/arrows2.png) 5px 12px no-repeat;color: #d8d8d8;}
.body-light #main-body ul.menu li.sfHover a, .body-light #main-body ul.menu li.sfHover .separator, .body-light #main-body ul.menu li.sfHover .item, .body-light #main-body ul.menu li.active a, .body-light #main-body ul.menu li.active .separator, .body-light #main-body ul.menu li.active .item, .body-light #main-body ul.menu li.active-sfHover a, .body-light #main-body ul.menu li.active-sfHover .separator, .body-light #main-body ul.menu li.active-sfHover .item {background: url(../images/body/light/arrows.png) 5px -514px no-repeat;color: #333;}
.body-light #main-body .round3 ul.menu li.sfHover a, .body-light #main-body .round3 ul.menu li-sfHover .separator, .body-light #main-body .round3 ul.menu li-sfHover .item, .body-light #main-body .round3 ul.menu li.active a, .body-light #main-body .round3 ul.menu li.active .separator, .body-light #main-body .round3 ul.menu li.active .item, .body-light #main-body .round3 ul.menu li.active-sfHover a, .body-light #main-body .round3 ul.menu li.active-sfHover .separator, .body-light #main-body .round3 ul.menu li.active-sfHover .item, .body-light #main-body .square3 ul.menu li.sfHover a, .body-light #main-body .square3 ul.menu li.sfHover .separator, .body-light #main-body .square3 ul.menu li.sfHover .item, .body-light #main-body .square3 ul.menu li.active a, .body-light #main-body .square3 ul.menu li.active .separator, .body-light #main-body .square3 ul.menu li.active .item, .body-light #main-body .square3 ul.menu li.active-sfHover a, .body-light #main-body .square3 ul.menu li.active-sfHover .separator, .body-light #main-body .square3 ul.menu li.active-sfHover .item {background: url(../images/body/light/arrows2.png) 5px -514px no-repeat;color: #fff;}


/* Side Menus - Dark */
.body-dark #main-body ul.menu li a, .body-dark #main-body ul.menu li .separator, .body-dark #main-body ul.menu li .item, .body-dark #main-body ul.menu li li a, .body-dark #main-body ul.menu li li .separator, .body-dark #main-body ul.menu li li .item {background: url(../images/body/dark/arrows.png) 5px 12px no-repeat;color: #666;}
.body-dark #main-body .round2 ul.menu li a, .body-dark #main-body .round2 ul.menu li .separator, .body-dark #main-body .round2 ul.menu li .item, .body-dark #main-body .round2 ul.menu li li a, .body-dark #main-body .round2 ul.menu li li .separator, .body-dark #main-body .round2 ul.menu li li .item, .body-dark #main-body .square2 ul.menu li a, .body-dark #main-body .square2 ul.menu li .separator, .body-dark #main-body .square2 ul.menu li .item, .body-dark #main-body .square2 ul.menu li li a, .body-dark #main-body .square2 ul.menu li li .separator, .body-dark #main-body .square2 ul.menu li li .item {background: url(../images/body/dark/arrows3.png) 5px 12px no-repeat;}
.body-dark #main-body .round3 ul.menu li a, .body-dark #main-body .round3 ul.menu li .separator, .body-dark #main-body .round3 ul.menu li .item, .body-dark #main-body .round3 ul.menu li li a, .body-dark #main-body .round3 ul.menu li li .separator, .body-dark #main-body .round3 ul.menu li li .item, .body-dark #main-body .square3 ul.menu li a, .body-dark #main-body .square3 ul.menu li .separator, .body-dark #main-body .square3 ul.menu li .item, .body-dark #main-body .square3 ul.menu li li a, .body-dark #main-body .square3 ul.menu li li .separator, .body-dark #main-body .square3 ul.menu li li .item {background: url(../images/body/dark/arrows2.png) 5px 12px no-repeat;}
.body-dark #main-body .round4 ul.menu li a, .body-dark #main-body .round4 ul.menu li .separator, .body-dark #main-body .round4 ul.menu li .item, .body-dark #main-body .round4 ul.menu li li a, .body-dark #main-body .round4 ul.menu li li .separator, .body-dark #main-body .round4 ul.menu li li .item, .body-dark #main-body .square4 ul.menu li a, .body-dark #main-body .square4 ul.menu li .separator, .body-dark #main-body .square4 ul.menu li .item, .body-dark #main-body .square4 ul.menu li li a, .body-dark #main-body .square4 ul.menu li li .separator, .body-dark #main-body .square4 ul.menu li li .item {background: url(../images/body/dark/arrows4.png) 5px 12px no-repeat;color: #A3A098;}
.body-dark #main-body .round5 ul.menu li a, .body-dark #main-body .round5 ul.menu li .separator, .body-dark #main-body .round5 ul.menu li .item, .body-dark #main-body .round5 ul.menu li li a, .body-dark #main-body .round5 ul.menu li li .separator, .body-dark #main-body .round5 ul.menu li li .item, .body-dark #main-body .square5 ul.menu li a, .body-dark #main-body .square5 ul.menu li .separator, .body-dark #main-body .square5 ul.menu li .item, .body-dark #main-body .square5 ul.menu li li a, .body-dark #main-body .square5 ul.menu li li .separator, .body-dark #main-body .square5 ul.menu li li .item {background: url(../images/body/dark/arrows5.png) 5px 12px no-repeat;color: #ADB4BB;}
.body-dark #main-body ul.menu li.sfHover a, .body-dark #main-body ul.menu li.sfHover .separator, .body-dark #main-body ul.menu li.sfHover .item, .body-dark #main-body ul.menu li.active a, .body-dark #main-body ul.menu li.active .separator, .body-dark #main-body ul.menu li.active .item, .body-dark #main-body ul.menu li.active-sfHover a, .body-dark #main-body ul.menu li.active-sfHover .separator, .body-dark #main-body ul.menu li.active-sfHover .item {background: url(../images/body/dark/arrows.png) 5px -514px no-repeat;color: #aaa;}
.body-dark #main-body .round2 ul.menu li.sfHover a, .body-dark #main-body .round2 ul.menu li.sfHover .separator, .body-dark #main-body .round2 ul.menu li.sfHover .item, .body-dark #main-body .round2 ul.menu li.active a, .body-dark #main-body .round2 ul.menu li.active .separator, .body-dark #main-body .round2 ul.menu li.active .item, .body-dark #main-body .round2 ul.menu li.active-sfHover a, .body-dark #main-body .round2 ul.menu li.active-sfHover .separator, .body-dark #main-body .round2 ul.menu li.active-sfHover .item, .body-dark #main-body .square2 ul.menu li.sfHover a, .body-dark #main-body .square2 ul.menu li.sfHover .separator, .body-dark #main-body .square2 ul.menu li.sfHover .item, .body-dark #main-body .square2 ul.menu li.active a, .body-dark #main-body .square2 ul.menu li.active .separator, .body-dark #main-body .square2 ul.menu li.active .item, .body-dark #main-body .square2 ul.menu li.active-sfHover a, .body-dark #main-body .square2 ul.menu li.active-sfHover .separator, .body-dark #main-body .square2 ul.menu li.active-sfHover .item {background: url(../images/body/dark/arrows3.png) 5px -514px no-repeat;}
.body-dark #main-body .round3 ul.menu li.sfHover a, .body-dark #main-body .round3 ul.menu li.sfHover .separator, .body-dark #main-body .round3 ul.menu li.sfHover .item, .body-dark #main-body .round3 ul.menu li.active a, .body-dark #main-body .round3 ul.menu li.active .separator, .body-dark #main-body .round3 ul.menu li.active .item, .body-dark #main-body .round3 ul.menu li.active-sfHover a, .body-dark #main-body .round3 ul.menu li.active-sfHover .separator, .body-dark #main-body .round3 ul.menu li.active-sfHover .item, .body-dark #main-body .square3 ul.menu li.sfHover a, .body-dark #main-body .square3 ul.menu li.sfHover .separator, .body-dark #main-body .square3 ul.menu li.sfHover .item, .body-dark #main-body .square3 ul.menu li.active a, .body-dark #main-body .square3 ul.menu li.active .separator, .body-dark #main-body .square3 ul.menu li.active .item, .body-dark #main-body .square3 ul.menu li.active-sfHover a, .body-dark #main-body .square3 ul.menu li.active-sfHover .separator, .body-dark #main-body .square3 ul.menu li.active-sfHover .item {background: url(../images/body/dark/arrows2.png) 5px -514px no-repeat;}
.body-dark #main-body .round4 ul.menu li.sfHover a, .body-dark #main-body .round4 ul.menu li.sfHover .separator, .body-dark #main-body .round4 ul.menu li.sfHover .item, .body-dark #main-body .round4 ul.menu li.active a, .body-dark #main-body .round4 ul.menu li.active .separator, .body-dark #main-body .round4 ul.menu li.active .item, .body-dark #main-body .round4 ul.menu li.active-sfHover a, .body-dark #main-body .round4 ul.menu li.active-sfHover .separator, .body-dark #main-body .round4 ul.menu li.active-sfHover .item, .body-dark #main-body .square4 ul.menu li.sfHover a, .body-dark #main-body .square4 ul.menu li.sfHover .separator, .body-dark #main-body .square4 ul.menu li.sfHover .item, .body-dark #main-body .square4 ul.menu li.active a, .body-dark #main-body .square4 ul.menu li.active .separator, .body-dark #main-body .square4 ul.menu li.active .item, .body-dark #main-body .square4 ul.menu li.active-sfHover a, .body-dark #main-body .square4 ul.menu li.active-sfHover .separator, .body-dark #main-body .square4 ul.menu li.active-sfHover .item {background: url(../images/body/dark/arrows4.png) 5px -514px no-repeat;color: #fff;}
.body-dark #main-body .round5 ul.menu li.sfHover a, .body-dark #main-body .round5 ul.menu li.sfHover .separator, .body-dark #main-body .round5 ul.menu li.sfHover .item, .body-dark #main-body .round5 ul.menu li.active a, .body-dark #main-body .round5 ul.menu li.active .separator, .body-dark #main-body .round5 ul.menu li.active .item, .body-dark #main-body .round5 ul.menu li.active-sfHover a, .body-dark #main-body .round5 ul.menu li.active-sfHover .separator, .body-dark #main-body .round5 ul.menu li.active-sfHover .item, .body-dark #main-body .square5 ul.menu li.sfHover a, .body-dark #main-body .square5 ul.menu li.sfHover .separator, .body-dark #main-body .square5 ul.menu li.sfHover .item, .body-dark #main-body .square5 ul.menu li.active a, .body-dark #main-body .square5 ul.menu li.active .separator, .body-dark #main-body .square5 ul.menu li.active .item, .body-dark #main-body .square5 ul.menu li.active-sfHover a, .body-dark #main-body .square5 ul.menu li.active-sfHover .separator, .body-dark #main-body .square5 ul.menu li.active-sfHover .item {background: url(../images/body/dark/arrows5.png) 5px -514px no-repeat;color: #fff;}

.logo-list, .logo-list li a, .logo-list li a span {position: relative;zoom: 1;}
.logo-list li a span {display: inline-block;}

/* ie6 warning */
#iewarn {background: #C6D3DA url(../images/error.png) 10px 20px no-repeat;position: relative;z-index: 1;opacity: 0;margin: -150px auto 0;font-size: 110%;color: #001D29;z-index: 8000;}
#iewarn div {position: relative;border-top: 5px solid #95B8C9;border-bottom: 5px solid #95B8C9;padding: 10px 80px 10px 220px;}
#iewarn h4 {color: #900;font-weight: bold;line-height: 120%;}
#iewarn a {color: #296AC6;font-weight: bold;}
#iewarn_close {background: url(../images/close.png) 50% 50% no-repeat;display: block;cursor: pointer;position: absolute;width: 61px;height: 21px;top: 25px;right: 12px;}
#iewarn_close.cHover {background: url(../images/close_hover.png) 50% 50% no-repeat;}

/* page peel overrides for demo site */
a.fliptip {display: block;z-index: 100000;position: relative;}

/* rockcart */
.simpleCart_shelfItem, .cart_product_grad, .cart_product_sur1, .cart_product_sur2, .cart_product_sur3, .cart_product_sur4 {overflow:visible !important;}
.cart_product_sur2 {right: -2px !important;}
.cart_product_sur3, .cart_product_sur4 {bottom: -3px !important;}
.cart_product_sur4 {right: -2px !important;}