/* This is the Main template logo, Edit this to match the width and height of your new logo image */
#logo {width: 225px;height: 74px;}

/* Template custom fonts */
@font-face {font-family: "Moxy Header";src: url(../fonts/Titillium-Regular.eot);}
@font-face {font-family: "Moxy Header";src: url(../fonts/Titillium-Bold.eot);font-weight: bold;}
@font-face {font-family: Moxy;src: url(../fonts/Aller-Regular.eot);}
@font-face {font-family: Moxy;src: url(../fonts/Aller-Italic.eot);font-style:italic;}
@font-face {font-family: Moxy;src: url(../fonts/Aller-Bold.eot);font-weight:bold;}
@font-face {font-family: Moxy;src: url(../fonts/Aller-BoldItalic.eot);font-weight:bold;font-style:italic;}
@font-face {font-family: Bebas;src: url(../fonts/Bebas.eot);}
@font-face {font-family: Continuum;src: url(../fonts/Continuum-Regular.eot);}
@font-face {font-family: Continuum;src: url(../fonts/Continuum-Bold.eot);font-weight:bold;}
@font-face {font-family: "Moxy Header";src:local("Titillium Regular"), url(../fonts/Titillium-Regular.otf) format("opentype");}
@font-face {font-family: "Moxy Header";src:local("Titillium Bold"), url(../fonts/Titillium-Bold.otf) format("opentype");font-weight: bold;}
@font-face {font-family: Moxy;src:local("Aller Regular"), url(../fonts/Aller-Regular.ttf) format("truetype");}
@font-face {font-family: Moxy;src:local("Aller Italic"), url(../fonts/Aller-Italic.ttf) format("truetype");font-style:italic;}
@font-face {font-family: Moxy;src:local("Aller Bold"), url(../fonts/Aller-Bold.ttf) format("truetype");font-weight:bold;}
@font-face {font-family: Moxy;src:local("Aller Bold Italic"), url(../fonts/Aller-BoldItalic.ttf) format("truetype");font-weight:bold;font-style:italic;}
@font-face {font-family: "Bebas";src:local("Bebas"), url(../fonts/Bebas.ttf) format("truetype");}
@font-face {font-family: "Continuum";src:local("Continuum"), url(../fonts/Continuum-Regular.ttf) format("truetype");}
@font-face {font-family: "Continuum";src:local("Continuum"), url(../fonts/Continuum-Bold.ttf) format("truetype");font-weight:bold;}

/* Font Family Settings */
#ff-moxy, a.moxy, #ff-moxy #horiz-menu li li span {font-family: Helvetica,Arial,sans-serif;}
#ff-moxy #horiz-menu li span, #ff-moxy .date-block, #ff-moxy h1, #ff-moxy h2, #ff-moxy h3, #ff-moxy h4, #ff-moxy h5, #ff-moxy .roktabs-links {font-family: Moxy,Helvetica,Arial,sans-serif;}
#ff-bebas, a.bebas, #ff-bebas #horiz-menu li li span, #ff-bebas h3.showtext {font-family: Helvetica,Arial,sans-serif;}
#ff-bebas .date-block, #ff-bebas h1, #ff-bebas h2, #ff-bebas h3, #ff-bebas h4, #ff-bebas h5 {font-family: Bebas,Helvetica,Arial,sans-serif;}
#ff-continuum, a.continuum, #ff-continuum #horiz-menu li li span, #ff-continuum h3.showtext {font-family: Helvetica,Arial,sans-serif;}
#ff-continuum .date-block, #ff-continuum h1, #ff-continuum h2, #ff-continuum h3, #ff-continuum h4, #ff-continuum h5 {font-family: Continuum,Helvetica,Arial,sans-serif;}
#ff-optima, a.optima {font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;}
#ff-geneva, a.geneva {font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;}
#ff-helvetica, a.helvetica {font-family: Helvetica, Arial, FreeSans, sans-serif;}
#ff-lucida, a.lucida {font-family: "Lucida Grande",Helvetica,Verdana,sans-serif;}
#ff-georgia, a.georgia {font-family: Georgia, sans-serif;}
#ff-trebuchet, a.trebuchet {font-family: "Trebuchet MS", sans-serif;}
#ff-palatino, a.palatino {font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;}
input {font-family: Helvetica,Arial,sans-serif;}
#ff-georgia #horiz-menu .menutop li li .item, #ff-optima #horiz-menu .menutop li li .item {font-size: 12px;}

/* Core Formatting */
html {height: 100%;margin-bottom: 1px;}
body {margin: 0;line-height: 135%;}
form {margin: 0;padding: 0;}
body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {font-size: 11px;}
body, body.f-default {font-size: 12px;}
body#ff-optima, body#ff-optima.f-default {font-size: 13px;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 13px;}
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {font-size: 14px;}
p {margin-top: 10px;margin-bottom: 15px;}
h1, h2, h3, h4, h5 {padding-bottom: 5px;margin: 25px 0 10px 0;font-weight: normal;line-height: 135%;}
h1 {font-size: 250%;line-height: 100%;}
h2 {font-size: 200%;line-height: 100%;color: #1366A3}
h3 {font-size: 175%;}
h4 {font-size: 120%;line-height: 130%;}
h5 {font-size: 120%;text-transform: uppercase;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.clr, .clear {clear: both;font-size: 0;}
.rokradios, .rokchecks {padding: 1px 5px 5px 22px;line-height: 120%;}

/* Header */
.banner-module .moduletable {margin: 0;padding: 0 20px;float: right;}
#logo {float: left;margin: 0 25px 0 20px;}
.logo-module {width: 275px;float: left;overflow: hidden;}
.logo-module .moduletable {clear: both;}
.banner-module, .feature-module {overflow: hidden;}

/* Horizontal Menu */
#horiz-menu {display: block;}
#horiz-menu .padding {padding: 0 20px;}
#horiz-menu ul.level1 {float: right;}
#horiz-menu ul {float: left;}
#horizmenu-surround {position: relative;float:right;}

/* Showcase */
#showcase-section {position: relative;padding: 15px 0;overflow: hidden;}
#showmodules {margin-top: 25px;}
#showmodules a {font-weight: bold;}
#showmodules .feature-desc {font-size: 17px;line-height: 135%;}
#showmodules .module-inner, .feature-module .module-inner {padding: 6px 20px;}
#showcase-section .rokstories-layout3 .feature-block .desc-container {width:97%;left:10px;bottom: 10px;font-size: 140%;background-color:transparent;}
#showcase-section .rokstories-layout3 .feature-block .desc-container .description {left:15px;}
#showcase-section .rokstories-layout3 .feature-circles {margin: 12px 0 0 0;}
#showcase-section .feature-circles-sub span {display: none;}
#showcase-section .feature-circles-sub {width:10px;height:10px;margin: 0 5px;cursor:pointer;display:inline-block;}
.module-top, .module-bottom, .feature-block-top, .feature-block-bottom {margin: 0 9px;position: relative;height: 9px;}
.module-top2, .module-top3, .module-bottom2, .module-bottom3, .feature-block-top2, .feature-block-top3, .feature-block-bottom2, .feature-block-bottom3 {position: absolute;width: 9px;height: 9px;}
.module-top2, .feature-block-top2 {top: 0;left: -9px;}
.module-top3, .feature-block-top3 {top: 0;right: -9px;}
.module-bottom2, .feature-block-bottom2 {bottom: 0;left: -9px;}
.module-bottom3, .feature-block-bottom3 {bottom: 0;right: -9px;}

/* Top Bar */
#top-bar .moduletable {margin: 0;}
#top-bar .padding {padding: 10px 20px;}
#topleft-mod {width: 45%;float: left;line-height: 180%;}
#topright-mod {width: 45%;float: right;line-height: 180%;}
#accessibility {height: 16px;float: right;margin-left: 10px;}
.textsizer-desc {display: block;float: left;text-align: left;margin-right: 12px;font-size: 12px;font-weight: bold;line-height: 26px;}
#accessibility a {text-decoration: none; cursor: pointer;}
#accessibility #buttons {float: left;height:12px;overflow:hidden;margin-top: 5px;}
#accessibility .button {display: block;float: right;width: 11px;height: 12px;}
#accessibility a.small .button {margin-right: 8px;}

/* Main Layout */
#main-body {padding-top: 25px}
.colmask {clear:both;overflow:hidden;position:relative;width:100%;}
.col1wrap {padding-bottom:2em;}
#maincol {position: relative;}
.wrapper {position:relative;}
#main-content a, #main-content .separator, #main-content .item {font-weight: bold;}

/* s-c-s (Sidebar-Content-Sidebar) */
.s-c-s .colmid {float:left;position:relative;width:200%;}
.s-c-s .colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s .col1wrap {float:right;position:relative;right:100%;width:50%;padding-bottom:1em;}
.s-c-s .col1pad {overflow:hidden;}
.s-c-s .col1 {overflow:hidden;width:100%;}
.s-c-s .col2 {float:left;position:relative;overflow:hidden;margin-left:-50%;}
.s-c-s .col3 {float:left;position:relative;overflow:hidden;left:0;}

/* s-c-x (Sidebar-Content) */
.s-c-x .colright {float:left;position:relative;width:200%;}
.s-c-x .col1wrap {float:right;padding-bottom:1em;position:relative;width:50%;}
.s-c-x .col1 {overflow:hidden;position:relative;right:100%;}
.s-c-x .col2 {float:left;position:relative;}

/* x-c-s (Content-Sidebar) */
.x-c-s .colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s .col1wrap {float:left;left:50%;padding-bottom:1em;position:relative;width:50%;}
.x-c-s .col1 {overflow:hidden;}
.x-c-s .col3 {float:right;position:relative;}

/* RokAjaxSearch */
#searchmod {width: 270px;float: right;margin-right: 15px;}
#searchmod .moduletable {padding: 0;}
#searchmod h3 {font-size: 14px;margin: 0 0 10px 5px;padding: 0;}
#searchmod-surround {height: 26px;}
#searchmod-surround .inputbox {background: none;border: 0;padding: 6px 0 5px 6px;font-size: 14px;height:16px;width: 98%;outline: none;}
#searchmod-surround .search_options {display: block;margin-top: 8px;}
#roksearch_search_str {width: 150px;}
#roksearch_search_str.loading {background: transparent url(../images/spinner.gif) no-repeat scroll 97% 50% !important}
#roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;margin-top: -1px;text-align: left;visibility: hidden;}
#roksearch_results a#roksearch_link {float: right;padding-right: 5px;margin-top: 3px;display: block;height: 18px;width: 18px;}
#roksearch_results h3 {margin-top: 0;margin-bottom: 0;line-height: 110%;font-size: 120%;padding-bottom: 0;}
#roksearch_results span {display: block;line-height: 130%;font-size: 90%;}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 10px;line-height: 100%;text-transform: uppercase;font-weight: normal;font-size: 100%;}
#roksearch_results .roksearch_row_btm {overflow: hidden;border-bottom: 0;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results span.small {display: inline-block;margin-top: 2px;margin-bottom: 7px;font-size: 10px;}
#roksearch_results span.highlight {display: inline;}
#roksearch_results a.clr {font-size: 100%;}
#roksearch_results a:hover {text-decoration: none;}
#roksearch_results .roksearch_odd {padding: 15px;position: relative;}
#roksearch_results .roksearch_even {padding: 15px;position: relative;}
#roksearch_results .roksearch_odd-hover h3, #roksearch_results .roksearch_even-hover h3 {padding-left: 12px;}
.results ol.list {padding-left: 30px;margin-top: 0;}
.results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;}
.results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.results ol.list li p {margin-top: 0;}
#roksearch_results .container-arrows {height: 12px;width: 30px;float: left;margin-right: 5px;position: relative;}
#roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {width: 12px;height: 12px;position: absolute;top: 0;}
#roksearch_results .arrow-left {left: 0;cursor: pointer;}
#roksearch_results .arrow-left-disabled {left: 0;}
#roksearch_results .arrow-right {left: 18px;cursor: pointer;}
#roksearch_results .arrow-right-disabled {left: 18px;}
#roksearch_results .viewall span {line-height: 100%;}
#roksearch_results a.viewall {float: left;margin-right: 5px;}
#roksearch_results .estimated_res, #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
#roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
#roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
.roksearch_wrapper4.google-search .roksearch_odd, .roksearch_wrapper4.google-search .roksearch_even {height: 110px;}
form.search_result input.button {border: 0;background: none;cursor: pointer;padding-top: 3px;line-height: 10px;}
form.search_result fieldset {padding: 15px 0;}
.search-results-full .readon-wrap1 {margin-top: 0;}
form.search_result input#search_searchword.inputbox {padding: 6px 0 1px 5px;font-size: 14px;line-height: 22px;height:19px;width: 100%;margin-bottom: 10px;width: 300px;}
form.search_result fieldset.word {margin-top: 0;margin-bottom: 0;padding: 10px 0 25px 0;}
form.search_result fieldset.phrase {margin-top: 5px;margin-bottom: 0;padding: 10px 0 35px 0;}
form.search_result fieldset.word label, form.search_result legend {font-size: 120%;display: block;height: 26px;margin: 0;padding: 0;}
.search-results-full h3 {margin-top: 10px;padding: 0;margin-bottom: 0;font-size: 130%;}
form.search_result .display {float: left;margin-left: 20px;height: 20px;margin-top: 5px;}
#roksearch_results .google-search a#roksearch_link {margin-top: 5px;}

/* Main Page Structure */
#maincontent-block {padding: 15px 20px;}
#inset-block-right {float: right;}
#inset-block-left {float: left;}
table.mainbody, table.blog {width: 100%;border: 0;padding: 0;}
.spacer .block {float: left;}

/* Main Body Items */
#breadcrumbs {margin: 15px 0 10px 0;display: block;position:relative;overflow: hidden;height: 20px;padding: 5px 20px;}
#breadcrumbs-home {width: 22px;height: 23px;display: block;float: left;}
#breadcrumbs h3 {display: none;}
span.breadcrumbs {display: block;font-size: 110%;font-weight: bold;overflow: hidden;}
span.breadcrumbs img {width: 12px;height: 23px;float: left;}
span.breadcrumbs a, span.no-link {padding: 0 8px;float: left;display: block;height: 23px;line-height: 20px;}
span.breadcrumbs span.no-link {font-weight: normal;}
span.breadcrumbs a:hover {text-decoration: none;}
.contentheading {font-size: 200%;line-height: 140%;margin: 0 0 15px 0;padding: 0 0 5px 0;}
#maincol .contentheading a {font-weight: normal;}
p.buttonheading {float: right;margin: 0 0 15px 15px;}
.buttonheading .icon {display:block;width:14px;height:12px;float:left;margin-left:6px;}
.article-info-surround {padding: 0;margin: 0;overflow: hidden;}
p.articleinfo, .iteminfo {margin: 0;font-size: 13px;line-height: 140%;}
.iteminfo {display: block;float: left;}
p.pageinfo {padding: 2px 5px;margin-top: 0;display: block;}
.article-ratings {padding: 2px 5px;margin-top: 25px;}
span.modifydate, span.createdby, span.createdate {display: block;}
p.counter {text-indent: 5px;}
div.pagination {height: 22px;line-height: 22px;margin-top: 10px;margin-bottom: 15px;}
div.pagination div.tab {float: left;margin-right: 6px;}
div.pagination div.tab2 {padding: 0 8px;}
div.pagination div.page-block {padding: 0 4px;float: left;margin-right: 6px;}
.cols1 {display: block;float: none;margin: 0;}
.cols2 {width: 46%;}
.cols3 {width: 30%;}
.column1, .column2 {margin: 0 5px 0 0;position: relative;}
.column2, .column1 {float: left;margin: 0;}
.column2 {float: right;margin: 0;width: 49%;}
.article_row {margin: 0 0 25px 0;padding: 0;overflow: hidden;}
.blog .leading {margin-bottom: 25px;}
.leading_separator {display: none;}
.blog_more {padding-top: 15px;}
#page {padding-bottom: 15px;}
.componentheading {margin: 0 0 15px 0;font-size: 180%;line-height: 130%;padding: 0;}
#main-content .date1 {font-size: 150%;line-height: 20px;display: block;float: left;margin-right: 5px;}
#main-content .date2 {font-size: 110%;float: left;line-height: 20px;margin-left: 5px;}
#top-bar .date-block {line-height: 24px;}
#top-bar .date1 {font-size: 16px;display: block;float: left;margin-right: 5px;font-weight: bold;}
#top-bar .date2, #top-bar .date3, #top-bar .date4 {font-size: 14px;float: left;margin-left: 5px;}
.date-div {padding-right: 8px;}
.article-info-right {float: right;}
.article-info-left {margin-bottom: 5px;}
.createdby {font-weight: bold;margin-bottom: 5px;text-align: right;}

/* Main Body Modules */
.moduletable h3 {margin-top: 0;font-size: 160%;}
.module-inner {position: relative;z-index: 4;padding: 15px 20px;}
#inset-block-right .mainblock-module, #inset-block-left .mainblock-module {padding-bottom: 10px;}
#showmodules, #featuremodules, #mainmodules, #mainmodules2, #mainmodules3, #mainmodules4, #mainmodules5 {overflow: hidden;}
#mainmodules4 a, #mainmodules5 a {font-weight: bold;}
.spacer.w99 .block {width: 99.8%;}
.spacer.w49 .block {width: 49.8%;}
.spacer.w33 .block {width: 33.3%;}
.moduletable {padding: 15px 20px;margin-bottom: 5px;}
.round .module-surround, .round2 .module-surround, .round3 .module-surround, .round4 .module-surround, .round5 .module-surround, .square .module-surround, .square2 .module-surround, .square3 .module-surround, .square4 .module-surround, .square5 .module-surround {position: relative;padding: 0;z-index: 1;}
.round .module-grad, .round2 .module-grad, .round3 .module-grad, .round4 .module-grad, .round5 .module-grad, .square .module-grad, .square2 .module-grad, .square3 .module-grad, .square4 .module-grad, .square5 .module-grad {position: absolute;top: 0;left: 0;width: 100%;height: 55px;z-index: 2;}
.round .module-surround2, .round2 .module-surround2, .round3 .module-surround2, .round4 .module-surround2, .round5 .module-surround2, .round .module-surround3, .round2 .module-surround3, .round3 .module-surround3, .round4 .module-surround3, .round5 .module-surround3 {position: absolute;height: 55px;width: 12px;z-index: 4;}
.round .module-surround4, .round2 .module-surround4, .round3 .module-surround4, .round4 .module-surround4, .round5 .module-surround4, .round .module-surround5, .round2 .module-surround5, .round3 .module-surround5, .round4 .module-surround5, .round5 .module-surround5 {position: absolute;height: 12px;width: 12px;z-index: 4;}
.round .module-surround2, .round2 .module-surround2, .round3 .module-surround2, .round4 .module-surround2, .round5 .module-surround2 {top: -1px;left: -1px;}
.round .module-surround3, .round2 .module-surround3, .round3 .module-surround3, .round4 .module-surround3, .round5 .module-surround3 {top: -1px;right: -1px;}
.round .module-surround4, .round2 .module-surround4, .round3 .module-surround4, .round4 .module-surround4, .round5 .module-surround4 {bottom: -1px;left: -1px;}
.round .module-surround5, .round2 .module-surround5, .round3 .module-surround5, .round4 .module-surround5, .round5 .module-surround5 {bottom: -1px;right: -1px;}

/* Extra Joomla Elements */
span.small, .modifydate {font-size: 90%;}
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 4px 5px 4px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}
.moduletable fieldset {border: 0;}
.moduletable h4 {margin-top: 0;}
table.contenttoc {float: right;margin-left: 25px;}
.weblinks .contentdescription {overflow: hidden;margin-bottom: 15px;padding: 15px 0;}
.weblinks-img {float: left;}
.weblinks-link {margin-left: 25px;}
.weblinks-img img {margin-top: 3px;}
.contact_email input.button {border: 0;background: none;}
.contact_email .readon-wrap1 {margin-top: 0;}
.contact-name {font-weight: bold;font-size: 140%;display: block;padding: 15px 0 2px 0;}
.contact-position {display: block;padding-bottom: 15px;}
.intro-article-content .article_separator {display: none;}
.contact .icon {float: left; width: 40px;}
.contact .misc, .contact .webpage, .contact .mobile, .contact .email, .contact .telephone, .contact .fax, .contact .country, .contact .state, .contact .postcode, .contact .suburb, .contact .street-address {overflow: hidden;}
.contact .other .surround {margin-top: 5px;}
.contact .vcard {margin-top: 15px;}
input#contact_name.inputbox, input#contact_email.inputbox, input#contact_subject.inputbox {padding: 1px 0 1px 5px;font-size: 14px;line-height: 22px;height:22px;width: 100%;margin-bottom: 10px;width: 300px;}
textarea#contact_text.inputbox {padding: 5px;margin-bottom: 10px;}
#main-content .inputbox.invalid {border: 1px solid #cc0000;}

/* Side Menus */
#main-body ul.menu {margin: 0;padding: 0;}
#main-body ul.menu li {list-style: none;margin: 0;padding: 0;float: none;}
#main-body ul.menu a:hover, #main-body ul.menu .separator:hover, #main-body ul.menu .item:hover {text-decoration: none;}
#main-body ul.menu span {display: block;}
#main-body ul.menu li.active.parent li .item span, #main-body ul.menu li.parent li .item span, #main-body ul.menu li.active.parent li a span, #main-body ul.menu li.parent li a span, #main-body ul.menu li.active.parent li .separator span, #main-body ul.menu li.parent li .separator span {font-size: 110%;line-height: 110%;}
#main-body ul.menu li.active.parent li, #main-body ul.menu li.parent li {padding-left: 20px;}
#main-body ul.menu a, #main-body ul.menu .separator, #main-body ul.menu .item {display: block;text-indent: 0;overflow: hidden;font-size: 120%;float: none;}
#main-body ul.menu a, #main-body ul.menu .separator, #main-body ul.menu .item {padding: 9px 20px 9px 20px;}
#main-body ul.menu a, #main-body ul.menu .separator, #main-body ul.menu .item {font-weight: normal;}
#main-body ul.menu li.active > a, #main-body ul.menu li.active > .separator, #main-body ul.menu li.active > .item {font-weight: bold;}
#main-body ul.menu ul ul {padding: 0; margin: 0;}
#main-body ul.menu li li {padding: 0;margin: 0;font-size: 10px;background: none;}
#main-body .round2 ul.menu li li, #main-body .round3 ul.menu li li, #main-body .round4 ul.menu li li, #main-body .round5 ul.menu li li, #main-body .square2 ul.menu li li, #main-body .square3 ul.menu li li, #main-body .square4 ul.menu li li, #main-body .square5 ul.menu li li {background: none;}
#main-body ul.menu li.active.parent ul {margin: 0;padding: 5px 0 15px 0;}
#main-body ul.menu li.active.parent ul li.active.parent ul {padding: 5px 0;}
#main-body ul.menu li.active {padding: 0;}
#main-body .menu .subtext em {line-height: 14px;}
#main-body .menu em {display: block;font-size:80%;font-style: normal;font-weight: normal;}

/* Extra Content Styles */
a.nounder {text-decoration: none;border: 0;cursor: pointer;}
a.nounder:hover {text-decoration: none;}
fieldset {margin:10px 0 20px 0;border:0;}
fieldset.input, a img, body .pollstableborder {border: 0;}
table.pollstableborder {width: 100%;}
.pollstableborder th {font-size: 130%;text-align: left;}
.pollstableborder td.td_1, .pollstableborder td.td_2 {width:20%;}
.pollstableborder td.td_3 {width: 60%;}
.pollstableborder td div {border-width: 5px;border-style:solid; background: transparent;}
legend {font-size:120%;}
form.poll fieldset {margin: 0 0 10px 0;padding: 0;}
.moduletable h4.poll-title {margin: 0;padding: 0;font-size: 120%;}
.moduletable .poll-line {padding: 9px 5px 11px 5px;font-size: 110%;}
.moduletable .poll-buttons {padding: 0 15px 0 15px;overflow: hidden;width: 130px;margin: 0 auto;}
form.poll input.button {background: none;cursor:pointer;border: none;text-align: center;line-height: 20px;height: 20px;margin-bottom: 5px;float: left;padding: 0;}
.vote-button-wrap .readon-wrap1 {margin-left: 15px;}
form.poll a.results:hover {text-decoration: none;}
img.content-left {float: left;margin-right: 10px;padding: 5px;}
img.content-right {float: right;margin-left: 10px;padding: 5px;}
.back_button {margin-top: 20px;margin-bottom: 10px;}
.tool-tip {padding: 4px;z-index:5000;background:#fbf3ad;color:#333;border:2px solid #f8e639;font-size:90%;}
.bannergroup .clr {clear: none !important;}
.bannergroup .banneritem {margin-bottom: 10px;}
dl.poll dt {border-bottom:solid 1px #ccc;font-weight: bold;}
dl.poll dd {padding:6px 0;margin-left: 0;}
.polls_color_1 {background:#000;}
.polls_color_2 {background:#aaa;}
.polls_color_3 {background:#93246F;}
.polls_color_4 {background:#000;}
.polls_color_5 {background:#ccc;}
.polls_color_6 {background:#93246F;}
#main-content .poll {padding-top: 15px;}
.newsfeeds-default .article-info-surround {margin-top: 10px;}
ul.latestnews, ul.mostread, .blog_more ul, .block ul#mainlevel-nav, .featured-text-block ul {margin: 0;padding: 0;}
ul.latestnews li, ul.mostread li, .blog_more ul li, .block ul#mainlevel-nav li, .featured-text-block li {list-style: none;margin-bottom: 6px;padding-bottom: 6px;padding-left: 5px;}
ul.latestnews li a, ul.mostread li a, .blog_more ul li a, .block ul#mainlevel-nav li a, .featured-text-block ul li a {font-weight: bold;font-size: 110%;display: block;padding-left: 15px;}
.bannergroup_text .bannerheader {font-size: 120%;font-weight: bold;margin-bottom: 15px;}
.bannergroup_text .banneritem_text {margin-bottom: 15px;}
.bannergroup_text .banneritem_text a {font-weight: bold;}
.contentdescription {padding:10px 0;overflow:hidden;}
.image_left {float:left;margin:0 10px 10px 0;}
.image_right {float:right;margin:0 0 10px 10px;}

/* Editor Form Overrides */
#main-content form.editor {padding:0;margin:0;}
#main-content form.editor {color:#333;}
#main-content form.editor input, #main-content form.editor textarea {border:1px solid #ccc;}
#main-content form.editor fieldset a {color: #00c;}
#main-content form.editor fieldset {padding:10px; border: 1px solid #ccc;}
#main-content form.editor legend {font-size:120%;margin:15px 0;padding:0 10px;font-weight:bold;}
#main-content form.editor label {display:block;width: 120px;float:left;}
#main-content form.editor div.radio label {display:inline;width:auto;float:none;}

/* Login Styles */
form.form-login p {margin: 0;}
form.form-login .inputbox, input#email, .register-page .inputbox {padding: 5px 0 5px 5px;font-size: 14px;width: 300px;margin-bottom: 10px;display: block;}
.main-login-form form.form-login .inputbox {width: 97%;}
form.form-login .login-links {margin-bottom: 8px;margin-top: 8px;}
form.form-login .login-links a {padding-left: 15px;}
form.form-login input.button, form.log input.button {background: none;cursor:pointer;border: none;text-align: center;line-height: 20px;height: 20px;margin-bottom: 5px;float: left;padding: 0;}
form.form-login fieldset {padding: 0;}
form.log .readon-wrap1 {margin-top: 5px;}
input.button {font-size: 100%;cursor: pointer;padding: 3px 5px;}
form.form-login span.username-label, form.form-login span.password-label {display: block;text-transform: uppercase;margin-bottom: 1px;padding-left: 2px;}
.register-page input.button, form.josForm input.validate {background: none;border: 0;}
.register-page div.name, .register-page div.user, .register-page div.email, .register-page div.pass, .register-page div.verify_pass {text-align: left;}
form#josForm.form-validate.user, .edit-user-form {float: left;overflow: hidden;padding-bottom: 15px;}
.edit-user-form {padding-top: 15px;}
.register-page fieldset {margin-bottom: 15px;margin-top: 0;padding-bottom: 15px;}
div.user_name {margin-bottom: 10px;}
div.user_name span {font-weight: bold;font-size: 110%;}
.user-params {margin-bottom: 20px;}
.user-params td.paramlist_key {width: auto;}
.edit-user-button {margin: 0 auto;width: 80px;}
.remember-me {margin-top: 5px;margin-bottom: 5px;}
form.form-login .readon-wrap1 {margin-top: 5px;}
a#rokbox-close {height: 20px;width: 20px;}
form.josForm label.hasTip {display: block;float: left;height: 25px;line-height: 25px;margin-right: 5px}

/* Bottom Section */
#bottom {margin: 0;}
#top-button {width: 90px;height: 20px;text-align: center;line-height: 22px;font-weight: bold;font-size: 12px;margin: 0 auto;}
#top-button a:hover {text-decoration: none;}
.top-button-spacer {height: 15px;}
.copyright-block {margin: 15px 0;padding: 15px 0 0 0;position: relative;}
.footer-div {height: 2px;width: 100%;position: absolute;top: 0;left: 0;}
#copyright {margin: 0 auto;text-align: center;line-height: 200%;}
#rocket {width: 111px;height: 16px;display: block;margin: 0 auto;}
#debug-mod {padding: 15px;}
#bottom ul {margin: 0;padding-left: 10px;list-style: none;}
#bottom ul li a {padding-left: 10px;padding-bottom: 5px;display: block;}
#bottom ul li:hover a {text-decoration: none;}
#footer {position: relative;overflow: hidden;}
.footer-mod {padding: 15px 0;}
#footer a {font-weight: bold;}
#mainmodules3 a {font-weight: bold;}
#bottom .moduletable {padding: 15px;}

/* RokTabs */
.roktabs-wrapper {padding: 0;position: relative;margin: 0;}
.round .roktabs-wrapper, .round2 .roktabs-wrapper, .round3 .roktabs-wrapper, .round4 .roktabs-wrapper, .round5 .roktabs-wrapper, .square .roktabs-wrapper, .square2 .roktabs-wrapper, .square3 .roktabs-wrapper, .square4 .roktabs-wrapper, .square5 .roktabs-wrapper {margin: -15px 0;}
.roktabs {position: relative;z-index: 3;}
.roktabs-wrapper .roktabs-container-inner {position:relative;overflow: hidden;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow:hidden;width:50000px;}
.roktabs-wrapper .roktabs-container-wrapper div {float: left;}
.roktabs-wrapper .roktabs-container-wrapper div.wrapper {padding: 15px 0;width: auto;}
.roktabs-wrapper .roktabs-links {margin: 0;padding: 0;height: 55px;overflow: hidden;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 20px;padding: 0;height: 55px;}
.roktabs-wrapper .roktabs-links ul {text-align: left;list-style-type: none;overflow:hidden;margin: 0;height: 55px;}
.roktabs-wrapper .roktabs-links ul li {float: left;padding: 0;margin: 0;text-decoration: none;position: relative;height: 55px;line-height: 42px;text-transform: lowercase;font-size: 110%;}
.tabs-bottom .roktabs-links ul li {line-height: 42px;}
.roktabs-wrapper .roktabs-links ul li span {padding: 0 11px;display: block;height: 55px;}
.roktabs-wrapper .roktabs-links ul {padding: 0;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;height: 50px;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {line-height: 20px;text-align: center;cursor: pointer;z-index: 2;position: absolute;top: 17px;height:9px;width: 7px;}
.roktabs-wrapper .arrow-next {right: 0;}
.roktabs-wrapper .arrow-prev {left: 0;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.tabs-hidden .roktabs-container-wrapper div.wrapper {margin-top: 10px;}

/* RokStories */
.feature-module .feature-block .readon-wrap1 span {height: 21px; line-height: 21px;}
.feature-module .rokstories-layout3 .description .feature-title { line-height: 130%; height: 130%; margin-bottom: 5px;}
.feature-block .image-full {margin: 0px auto;}
.rokstories-tip {z-index: 1000;}

/* RSS Feeds */
ul.newsfeed {margin: 0;padding: 0;}
a.newsfeed-title {text-transform: uppercase;font-weight: bold;}
ul.newsfeed li {list-style: none;padding-left: 12px;margin-bottom: 12px;}
ul.newsfeed li a {font-weight: bold;font-size: 120%;}
ul.newsfeed .newsfeed-div {display: block;padding-bottom: 1px;}

/* Typography */
.readon-wrap1 {margin-top: 15px;position:relative;float:left;}
.readon-wrap1 span {display:block;height: 22px;line-height: 20px;}
a.readon {font-weight: bold;}
a.readon-main {font-size: 12px;cursor: pointer;font-weight: bold;}
a.readon-main:hover {text-decoration: none;}
.readon1-l {position:absolute;width: 8px;height: 21px;left:0;top:0;}
.readon1-m {margin-left: 8px;text-align: center;padding-left:2px;}
.readon1-r, #showcase-section .feature-module .readon1-r {margin-right: -8px;padding-right: 10px;}
.readon-wrap1 input.button {font-weight: bold;}
#main-body .round .readon1-l, #main-body .square .readon1-l {background-position: 0 -32px;}
#main-body .round .readon1-m, #main-body .square .readon1-m {background-position: 0 -32px;}
#main-body .round .readon1-r, #main-body .square .readon1-r {background-position: 100% -32px;}
#main-body .round2 .readon1-l, #main-body .square2 .readon1-l {background-position: 0 -64px;}
#main-body .round2 .readon1-m, #main-body .square2 .readon1-m {background-position: 0 -64px;}
#main-body .round2 .readon1-r, #main-body .square2 .readon1-r {background-position: 100% -64px;}
#main-body .round3 .readon1-l, #main-body .square3 .readon1-l {background-position: 0 -96px;}
#main-body .round3 .readon1-m, #main-body .square3 .readon1-m {background-position: 0 -96px;}
#main-body .round3 .readon1-r, #main-body .square3 .readon1-r {background-position: 100% -96px;}
#main-body .round4 .readon1-l, #main-body .square4 .readon1-l {background-position: 0 -161px;}
#main-body .round4 .readon1-m, #main-body .square4 .readon1-m {background-position: 0 -161px;}
#main-body .round4 .readon1-r, #main-body .square4 .readon1-r {background-position: 100% -161px;}
#main-body .round5 .readon1-l, #main-body .square5 .readon1-l {background-position: 0 -193px;}
#main-body .round5 .readon1-m, #main-body .square5 .readon1-m {background-position: 0 -193px;}
#main-body .round5 .readon1-r, #main-body .square5 .readon1-r {background-position: 100% -193px;}
ul.tablist {margin: 0;padding: 0;}
ul.tablist li {list-style: none;margin-bottom: 20px;padding-left: 85px;position: relative;}
ul.tablist li span.tabtext {display: block;position: absolute;left: 0;top: 0;font-weight: bold;text-transform: uppercase;font-size: 12px;width: 70px;height: 30px;line-height: 30px;text-align: center;padding-right: 5px;}

/* RokQuickCart*/
#main-content .cart_product_grad, #main-content .cart_grad {position: absolute;top: 0;left: 0;width: 100%;height: 55px;z-index: 2;}
#main-content .cart_product_sur1, #main-content .cart_product_sur2, #main-content .cart_sur1, #main-content .cart_sur2 {position: absolute;height: 55px;width: 12px;z-index: 4;}
#main-content .cart_product_sur3, #main-content .cart_product_sur4, #main-content .cart_sur3, #main-content .cart_sur4 {position: absolute;height: 12px;width: 12px;z-index: 4;}
#main-content .cart_product_sur1, #main-content .cart_sur1 {top: -1px;left: -1px;}
#main-content .cart_product_sur2, #main-content .cart_sur2 {top: -1px;right: -1px;}
#main-content .cart_product_sur3, #main-content .cart_sur3 {bottom: -1px;left: -1px;}
#main-content .cart_product_sur4, #main-content .cart_sur4 {bottom: -1px;right: -1px;}
#main-content .cart_padding {padding: 15px 20px;}
#main-content .cart_yourcart {overflow: visible;}
#main-content .cart_yourcart_items {border: 0;z-index: 5;}
#main-content .cart_quickcart, #main-content .cart_quickcart h2 {margin-top: 0;}

/* Demo Tutorials */
pre {overflow: auto;}
.tutorial-block .written-listing {background: url(../images/write-list.png) no-repeat 0 1px;float: left;width: 24%;margin-top: 15px;overflow: hidden;}
.tutorial-block .written-listing .content {padding: 0 15px;}
.tutorial-block .written-listing .desc {font-size: 85%;}
.tutorial-block .categories {background: url(../images/write-list.png) no-repeat 10px 2px;float: left;width: 288px;margin-top: 12px;overflow: hidden;}
.tutorial-block .categories-content {padding: 0 15px 0 25px;}
.body-dark img.demo {border: 5px solid #444;}
.body-light img.demo {border: 5px solid #ccc;}
.ext-block {margin-bottom: 20px;overflow: hidden;}
.ext-block .ext-img {float: left; margin-right: 20px; margin-bottom: 50px;}
.ext-block .ext-divider {height: 10px; display: block;}

/* Demo Frontpage Main Content */
.demo-main-left {float: left;width: 45%;}
.demo-main-right {float: right;width: 45%;}
.demo-main-divider {height: 100px;position: absolute;left: 50%;top: 32px;width: 2px;margin-left: -2px;}
.body-light .demo-main-divider {background: url(../images/body/light/assets-1.png) no-repeat 0px -126px;}
.body-dark .demo-main-divider {background: url(../images/body/dark/assets-1.png) no-repeat 0px -126px;}
.demo-submain-block {float: left;width: 25%;}
.demo-submain-text {width: 200px;margin: 0px auto;}
.demo-submain-img {margin-bottom: 10px;}
.body-light .demo-submain-img {border: 2px solid #ccc;}
.body-dark .demo-submain-img {border: 2px solid #262626;}
.demo-footer-block {float: left;width: 25%;margin-top: 25px;}
.demo-footer-text {margin: 0px 15px;}
.demo-footer-divider { height: 60px;float: left;width: 2px;margin-left: -2px;margin-top: 30px;}
.demo-footer-block .readon-wrap1 {margin-top: 0;}
.body-light .demo-footer-divider {background: url(../images/body/light/assets-1.png) no-repeat -268px -126px;}
.body-dark .demo-footer-divider {background: url(../images/body/dark/assets-1.png) no-repeat -268px -126px;}
.demo-footer-block ul.special-13 {margin-left: 0 !important;padding-left: 0 !important;margin-bottom: 0;}
.demo-footer-block ul.special-13 li {margin-bottom: 2px !important;}
.logo-list {text-transform: uppercase;font-size: 24px;list-style: none;font-family: "Trebuchet MS";margin: 0;}
.logo-list li {height: 35px;line-height: 35px;}
.logo-list a {margin: 0 0 0 12px;display: inline-block;color: #fff;text-shadow: -1px -1px 0 #333;}
.logo-list a span {margin-left: -12px;display: block;padding: 0 5px;}
.logo-list a:hover {text-decoration: none;}

.attend-yes {padding: 5px; background-color: #6effa5; border: 1px solid #009a12}
.attend-unconf {padding: 5px; background-color: #ffff66; border: 1px solid #ffcc00}
.attend-no {padding: 5px; background-color: #ff6666; border: 1px solid #ff0000}