/* font tweaking */
body#ff-georgia, body#ff-georgia.f-default {font-size: 12px;}
body#ff-trebuchet.f-large {font-size: 13px;}
#ff-moxy .roksearch_results h3 {font-family: Helvetica,Arial,sans-serif;}
#header, ul.menutop, #top-bar {zoom:1;}
ul.menutop {float:none;}
#horiz-menu li.parent.sfHover, .menutop .drop-wrap {z-index:800 !important;}

/* horizmenu */
#horiz-menu {position:relative;z-index:140;}
#horiz-menu li.parent-sfHover {z-index:800 !important;}
#horiz-menu li.root {text-align: center;}
.menutop {z-index: 200;}
.fusion-js-container {position:absolute !important;}
#horiz-menu li.root .daddy span {background-position: 110% 50%;padding-right: 20px;}

/* main layout */
.componentheading {width:100%;}
h1.componentheading {width:auto;}
#maincontent-block {position: relative;zoom: 1;}

.body-dark hr {height: 1px;border-style: solid;border-width: 1px 0 0 0;border-color: #444;}
.body-light hr {height: 1px;border-style: solid;border-width: 1px 0 0 0;border-color: #ddd;}

/* have to hard-code these widths */
#buttons {width:35px;}

.demo-footer-surround, .module-surround, #featuremodules, .article-info-left, .article-info-surround, .article-info-surround2, ul.tablist, .module-inner, .feature-module .moduletable, #showmodules .moduletable, #bottom-main {zoom: 1;}
#bottom-main {position: relative;}
#showcase-section .moduletable {zoom:1}
ul.frontpage {margin: auto;}
.article-info-right {width: 200px;}
#top-bar .date1 {line-height: 22px;}
.clr {line-height: 0;font-size: 0;}
blockquote {position: relative;}
#top-bar .date1 {line-height: 22px;}
#top-bar .date2, #top-bar .date3, #top-bar .date4 {line-height: 22px;}
#showmodules .feature-desc {font-weight: bold;}
.button-wrap input {padding-left:0;}
.body-light form.search_result legend {color: #333;}
.body-dark form.search_result legend {color: #666;}
.k2LoginBlock input.button {height: 20px;line-height: 12px;padding-left: 0;padding-right: 7px;}

/* readon buttons */

.readon-main, .readon-main input {zoom:1;}

/* rok module fixes */
.roktabs-wrapper {zoom:1;}
.roktabs-links ul.roktabs-top,.roktabs-links ul.roktabs-bottom {zoom:1;position:relative;}
#roksearch_results .container-wrapper {position:relative;zoom:1;}
#roksearch_results .container-scroller {position:relative;zoom:1;}
.roktabs-wrapper .roktabs-links li.active span {zoom:1;}

/* rok stories */
.layout2 .feature-block .image-container { zoom:1;position:relative;padding-bottom:35px;overflow:hidden;}
.feature-block .labels-title {position:absolute;bottom:0;left:0;width:100%;}
.rokstories-layout1 .image-full {margin: 0;}

/* default joomla layout fixes */
.article_row {zoom: 1;}
.cols1 {display: block !important;width: 100%;}
.article_column {position: relative;}
.cols2 {width: 49%;overflow: hidden;}

.clr {line-height:0;height:0;}

#searchmod-surround .inputbox {padding-top: 2px;line-height: 16px;height: 20px;}
#roksearch_search_str.loading {background-position: 95% 30% !important}
#roksearch_results .small .small {margin: 0;}
div.important, div.important-red, div.important-blue, div.important-green, div.important-purple, div.important-brown, div.important-orange, div.important-grey {zoom:1;}
form.search_result button.button {padding-top: 0;line-height: 130%;}
form.search_result fieldset.word label {line-height: 22px;}
form.form-login input.button, form.log input.button {line-height: 18px;}
form.form-login .inputbox {line-height: 16px;}
#bottom-main, #mainmodules3 {zoom: 1;}