/* Typography Styles */

ul.bullet-1, ul.bullet-2, ul.bullet-3, ul.bullet-4, ul.bullet-5, ul.bullet-6, ul.bullet-7, ul.bullet-8 {padding-left: 15px !important;overflow: hidden;margin-left: 5px !important;}
ul.bullet-1 li,  ul.bullet-2 li, ul.bullet-3 li, ul.bullet-4 li, ul.bullet-5 li {list-style: none;padding-bottom: 3px !important;margin-bottom: 5px !important;padding-left: 10px !important;}
ul.bullet-6 li, ul.bullet-7 li, ul.bullet-8 li {list-style: none;padding-bottom: 3px !important;margin-bottom: 5px !important;padding-left: 22px !important;}

.body-light ul.bullet-1 li {background: url(../images/typo/bullet-1.png) 0 5px no-repeat;}
.body-light ul.bullet-2 li {background: url(../images/typo/bullet-2.png) 0 5px no-repeat;}
.body-light ul.bullet-3 li {background: url(../images/typo/bullet-3.png) 0 5px no-repeat;}
.body-light ul.bullet-4 li {background: url(../images/typo/bullet-4.png) 0 5px no-repeat;}
.body-light ul.bullet-5 li {background: url(../images/typo/bullet-5.png) 0 5px no-repeat;}
.body-dark ul.bullet-1 li {background: url(../images/typo/dark/bullet-1.png) 0 5px no-repeat;}
.body-dark ul.bullet-2 li {background: url(../images/typo/dark/bullet-2.png) 0 5px no-repeat;}
.body-dark ul.bullet-3 li {background: url(../images/typo/dark/bullet-3.png) 0 5px no-repeat;}
.body-dark ul.bullet-4 li {background: url(../images/typo/dark/bullet-4.png) 0 5px no-repeat;}
.body-dark ul.bullet-5 li {background: url(../images/typo/dark/bullet-5.png) 0 5px no-repeat;}
ul.bullet-6 li {background: url(../images/typo/bullet-6.png) 0 2px no-repeat;}
ul.bullet-7 li {background: url(../images/typo/bullet-7.png) 0 2px no-repeat;}
ul.bullet-8 li {background: url(../images/typo/bullet-8.png) 0 3px no-repeat;}

pre {padding: 10px;}
.body-dark pre {background: #383838;border: 1px solid #444;}
.body-light pre {background: #f9f9f9;border: 1px solid #ddd;}
blockquote {display: block;font-style: italic;font-size: 120%;line-height: 150%;width: auto;padding: 10px 20px 10px 20px;margin: 15px 0;}
.body-dark blockquote {background: #383838;border: 1px solid #444;}
.body-light blockquote {background: #f9f9f9;border: 1px solid #ddd;}
blockquote.blue, blockquote.red, blockquote.green, blockquote.purple, blockquote.orange, blockquote.brown, blockquote.grey {display: block;font-style: italic;font-size: 120%;line-height: 150%;width: auto;padding: 0px 20px;margin: 15px 0;border: 0;background: 0;}
blockquote.blue{color: #0D507A;}
blockquote.red{color: #D12E2E;}
blockquote.green{color: #74A824;}
blockquote.purple{color: #9E0E87;}
blockquote.orange{color: #CC8300;}
blockquote.brown{color: #8B6846;}
blockquote.grey {color: #666;}
blockquote.quotes {display: block;background: url(../images/typo/quote-start.png) 0 5px no-repeat;padding: 0px 20px 0 38px;margin: 20px 0;font-size: 120%;line-height: 150%;width: auto;color: #666;border: 0;}
blockquote.quotes p {padding: 0 38px 0 0;margin-top: 0;background: url(../images/typo/quote-end.png) 100% 100% no-repeat;}

.important, .important-blue, .important-red, .important-green, .important-purple, .important-orange, .important-brown, .important-grey {padding: 15px;margin: 25px 0 10px 0;position: relative;}
span.important-title, span.important-title-blue, span.important-title-red, span.important-title-green, span.important-title-purple, span.important-title-orange, span.important-title-brown, span.important-title-grey {position: absolute;display: block;top: -22px;left: 10px;padding: 3px 8px;font-size: 120%;}

.important {border: 1px solid #444;}
.important-blue {border: 1px solid #0D507A;}
.important-red {border: 1px solid #D12E2E;}
.important-green {border: 1px solid #74A824;}
.important-purple {border: 1px solid #9E0E87;}
.important-orange {border: 1px solid #CC8300;}
.important-brown {border: 1px solid #8B6846;}
.important-grey {border: 1px solid #666;}
span.important-title {background: #444;color: #fff;}
span.important-title-blue {background: #0D507A;color: #fff;}
span.important-title-red {background: #D12E2E;color: #fff;}
span.important-title-green {background: #74A824;color: #fff;}
span.important-title-purple {background: #9E0E87;color: #fff;}
span.important-title-orange {background: #CC8300;color: #fff;}
span.important-title-brown {background: #8B6846;color: #fff;}
span.important-title-grey {background: #666;color: #fff;}

span.number, span.number-blue, span.number-red, span.number-green, span.number-purple, span.number-orange, span.number-brown, span.number-grey {display: block;font-size: 170%;float: left;margin: 2px 10px 0 15px;}
.body-light span.number {color: #333;}
.body-dark span.number {color: #fff;}
span.number-blue {color: #0D507A;}
span.number-red {color: #D12E2E;}
span.number-green {color: #74A824;}
span.number-purple {color: #9E0E87;}
span.number-orange {color: #CC8300;}
span.number-brown {color: #8B6846;}
span.number-grey {color: #666;}

.body-light span.highlight {background: #FFFBD5;padding: 1px 2px;}
.body-dark span.highlight {background: #ccc;padding: 1px 2px;color: #000;}
span.highlight-blue {color: #0D507A;}
span.highlight-red {color: #D12E2E;}
span.highlight-green {color: #74A824;}
span.highlight-purple {color: #9E0E87;}
span.highlight-orange {color: #CC8300;}
span.highlight-brown {color: #8B6846;}
span.highlight-grey {color: #666;}
span.highlight-bold {font-weight: bold;font-size: 120%;}

span.dropcap, span.dropcap-blue, span.dropcap-red, span.dropcap-green, span.dropcap-purple, span.dropcap-orange, span.dropcap-brown, span.dropcap-grey {display: block;font-size: 260%;float: left;margin: 0px 4px 0 0;line-height: 100%;}
.body-light span.dropcap {color: #333;}
.body-dark span.dropcap {color: #fff;}
span.dropcap-blue {color: #0D507A;}
span.dropcap-red {color: #D12E2E;}
span.dropcap-green {color: #74A824;}
span.dropcap-purple {color: #9E0E87;}
span.dropcap-orange {color: #CC8300;}
span.dropcap-brown {color: #8B6846;}
span.dropcap-grey {color: #666;}

span.inset-left {display: block;padding: 15px;float: left;width: 20%;font-size: 110%;font-weight: bold;font-style: italic;}
span.inset-right {display: block;padding: 15px;float: right;width: 20%;font-size: 110%;font-weight: bold;font-style: italic;}
.body-light span.inset-left {color: #000;}
.body-light span.inset-right {color: #000;}
.body-dark span.inset-left {color: #fff;}
.body-dark span.inset-right {color: #fff;}

span.attention, span.notice, span.alert, span.download, span.approved, span.media, span.note, span.cart, span.camera, span.doc {display: block;padding: 8px 10px 8px 36px;margin: 15px 0;}
span.attention {color: #B79000;border: 1px solid #E7BD72;background: #FFF3A3 url(../images/typo/attention.png) 10px 50% no-repeat;}
span.notice {color: #648434;border: 1px solid #9BCC54;background: #CDEFA6 url(../images/typo/notice.png) 10px 50% no-repeat;}
span.alert {color: #CF3738;border: 1px solid #FFACAD;background: #FFD5D5 url(../images/typo/alert.png) 10px 50% no-repeat;}
span.download {color: #1C6B8B;border: 1px solid #6ABCE2;background: #A8CDE3 url(../images/typo/download.png) 10px 50% no-repeat;}
span.approved {color: #666;border: 1px solid #a8a8a8;background: #ccc url(../images/typo/approved.png) 10px 50% no-repeat;}
span.media {color: #C76E34;border: 1px solid #FFBB65;background: #FFE0B6 url(../images/typo/media.png) 10px 50% no-repeat;}
span.note {color: #B79000;border: 1px solid #E7BD72;background: #FFF3A3 url(../images/typo/note.png) 10px 50% no-repeat;}
span.cart {color: #666;border: 1px solid #C5C5C5;background: #E6E6E6 url(../images/typo/cart.png) 10px 50% no-repeat;}
span.camera {color: #666;border: 1px solid #C5C5C5;background: #E6E6E6 url(../images/typo/camera.png) 10px 50% no-repeat;}
span.doc {color: #C76E34;border: 1px solid #FFBB65;background: #FFE0B6 url(../images/typo/doc.png) 10px 50% no-repeat;}

div.number-block1, div.number-block2, div.number-block3 {padding-left: 50px;}
div.number-block1 {background: url(../images/typo/number-1.png) 0 0 no-repeat;}
div.number-block2 {background: url(../images/typo/number-2.png) 0 0 no-repeat;}
div.number-block3 {background: url(../images/typo/number-3.png) 0 0 no-repeat;}

span.subline {display: block;font-size: 90%;margin-bottom: 5px;padding: 0px;margin-top: -15px;font-weight: bold;text-transform:uppercase;}

ul.special-1, ul.special-2, ul.special-3, ul.special-4, ul.special-5, ul.special-6, ul.special-7, ul.special-8, ul.special-9, ul.special-10, ul.special-11, ul.special-12, ul.special-13, ul.special-14 {padding-left: 15px !important;overflow: hidden;margin-left: 5px !important;}
ul.special-1 li,  ul.special-2 li, ul.special-3 li, ul.special-4 li, ul.special-5 li, ul.special-6 li, ul.special-7 li, ul.special-8 li, ul.special-9 li, ul.special-10 li, ul.special-11 li, ul.special-12 li, ul.special-13 li, ul.special-14 li {list-style: none;padding-bottom: 3px !important;margin-bottom: 5px !important;padding-left: 21px !important;}

.body-light ul.special-1 li {background: url(../images/typo/special-1.png) 0 1px no-repeat;}
.body-light ul.special-2 li {background: url(../images/typo/special-2.png) 0 1px no-repeat;}
.body-light ul.special-3 li {background: url(../images/typo/special-3.png) 0 1px no-repeat;}
.body-light ul.special-4 li {background: url(../images/typo/special-4.png) 0 1px no-repeat;}
.body-light ul.special-5 li {background: url(../images/typo/special-5.png) 0 1px no-repeat;}
.body-light ul.special-6 li {background: url(../images/typo/special-6.png) 0 1px no-repeat;}
.body-light ul.special-7 li {background: url(../images/typo/special-7.png) 0 1px no-repeat;}
.body-light ul.special-8 li {background: url(../images/typo/special-8.png) 0 1px no-repeat;}
.body-light ul.special-9 li {background: url(../images/typo/special-9.png) 0 1px no-repeat;}
.body-light ul.special-10 li {background: url(../images/typo/special-10.png) 0 1px no-repeat;}
.body-light ul.special-11 li {background: url(../images/typo/special-11.png) 0 1px no-repeat;}
.body-light ul.special-12 li {background: url(../images/typo/special-12.png) 0 1px no-repeat;}
.body-light ul.special-13 li {background: url(../images/typo/special-13.png) 0 1px no-repeat;}
.body-light ul.special-14 li {background: url(../images/typo/special-14.png) 0 1px no-repeat;}
.body-dark ul.special-1 li {background: url(../images/typo/dark/special-1.png) 0 1px no-repeat;}
.body-dark ul.special-2 li {background: url(../images/typo/dark/special-2.png) 0 1px no-repeat;}
.body-dark ul.special-3 li {background: url(../images/typo/dark/special-3.png) 0 1px no-repeat;}
.body-dark ul.special-4 li {background: url(../images/typo/dark/special-4.png) 0 1px no-repeat;}
.body-dark ul.special-5 li {background: url(../images/typo/dark/special-5.png) 0 1px no-repeat;}
.body-dark ul.special-6 li {background: url(../images/typo/dark/special-6.png) 0 1px no-repeat;}
.body-dark ul.special-7 li {background: url(../images/typo/dark/special-7.png) 0 1px no-repeat;}
.body-dark ul.special-8 li {background: url(../images/typo/dark/special-8.png) 0 1px no-repeat;}
.body-dark ul.special-9 li {background: url(../images/typo/dark/special-9.png) 0 1px no-repeat;}
.body-dark ul.special-10 li {background: url(../images/typo/dark/special-10.png) 0 1px no-repeat;}
.body-dark ul.special-11 li {background: url(../images/typo/dark/special-11.png) 0 1px no-repeat;}
.body-dark ul.special-12 li {background: url(../images/typo/dark/special-12.png) 0 1px no-repeat;}
.body-dark ul.special-13 li {background: url(../images/typo/dark/special-13.png) 0 1px no-repeat;}
.body-dark ul.special-14 li {background: url(../images/typo/dark/special-14.png) 0 1px no-repeat;}