# The directory where you checked out the "myrobogals" repo,
# which is one level above this directory.
# Do not put a trailing slash.
ROBOGALS_DIR = '/Users/mark/Dev/robogals'

#
#
# No need to change anything below here
#
#

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
	('myRobogals', 'my@robogals.org'),
)
MANAGERS = ADMINS

ALLOWED_HOSTS = ['my.robogals.org',]

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.mysql',
		'NAME': 'myrobogals',
		'USER': 'myrobogals',
		'PASSWORD': 'myrobogals'
	}
}

USE_TZ = True
TIME_ZONE = 'Etc/UTC'
DATE_FORMAT = 'D j M y'
DATE_FORMAT_LONG = 'l j F Y'
TIME_FORMAT = 'g:i a'
DATETIME_FORMAT = 'g:i a, D j M y'
DATETIME_FORMAT_LONG = 'g:i a, l j F Y'

LANGUAGES = (
	('en', 'English'),
	('nl', 'Dutch'),
	('ja', 'Japanese'),
)

LANGUAGE_CODE = 'en'

SITE_ID = 1

USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = ROBOGALS_DIR + '/rgmedia'

# URL that handles the media in "rgmedia"
# Put a trailing slash if there is a path component (optional in other cases).
# The default '/rgmedia' will work when using the Django dev server and debug = True
MEDIA_URL = '/rgmedia/'

# Path and URL for static directory introduced in Django 1.4
STATIC_ROOT = ROBOGALS_DIR + '/static'
STATIC_URL = '/static/'

# Directory for uploaded profile images
PROFILE_IMAGE_UPLOAD_DIR = 'profilepics/'

# Maximum size for uploaded images in kilobytes
PROFILE_IMAGE_MAX_SIZE = 512

# The default profile image for users who haven't uploaded one yet
PROFILE_IMAGE_DEFAULT = 'profilepics/default.png'

SECRET_KEY = 'kl;h45yrfgu;y;08op2534mj23kjjljk4ilk'

TEMPLATE_LOADERS = (
	'django.template.loaders.filesystem.load_template_source',
	'django.template.loaders.app_directories.load_template_source',
)

TEMPLATE_CONTEXT_PROCESSORS = (
	'django.contrib.auth.context_processors.auth',
	'django.core.context_processors.debug',
	'django.core.context_processors.i18n',
	'django.core.context_processors.media',
	'django.core.context_processors.static',
	'django.core.context_processors.tz',
	'django.contrib.messages.context_processors.messages'
)

MIDDLEWARE_CLASSES = (
	'django.middleware.common.CommonMiddleware',
	'django.contrib.sessions.middleware.SessionMiddleware',
	'django.contrib.auth.middleware.AuthenticationMiddleware',
	'django.middleware.locale.LocaleMiddleware',
	'django.middleware.clickjacking.XFrameOptionsMiddleware',
)

AUTHENTICATION_BACKENDS = (
	'django.contrib.auth.backends.ModelBackend',
)

ROOT_URLCONF = 'myrobogals.urls'
LOGIN_URL = '/login/'

TINYMCE_JS_URL = MEDIA_URL + '/js/tiny_mce/tiny_mce.js'
TINYMCE_DEFAULT_CONFIG = {
	'theme_advanced_buttons1' : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect",
	'theme_advanced_buttons2' : "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,forecolor",
	'theme_advanced_buttons3' : "hr,removeformat,visualaid,|,sub,sup,|,charmap",
	'theme_advanced_toolbar_location' : "top",
	'theme_advanced_toolbar_align' : "left",
	'theme_advanced_statusbar_location' : "bottom",
	'theme_advanced_resizing' : False,
	'width' : 585,
	'height' : 500,
	'theme' : "advanced",
	'relative_urls': False,
}
TINYMCE_SPELLCHECKER = False
TINYMCE_COMPRESSOR = False
TINYMCE_FILEBROWSER = False

TEMPLATE_DIRS = (
	ROBOGALS_DIR + '/rgtemplates',
)

LOCALE_PATHS = (
	ROBOGALS_DIR + '/rgtemplates/locale',
	ROBOGALS_DIR + '/myrobogals/locale',
)

FIXTURE_DIRS = (
	ROBOGALS_DIR + '/myrobogals/fixtures',
)

INSTALLED_APPS = (
	'django_extensions',
	'django.contrib.auth',
	'django.contrib.admin',
	'django.contrib.contenttypes',
	'django.contrib.sessions',
	'myrobogals.rgmain',
	'myrobogals.rgprofile',
	'myrobogals.rgchapter',
	'myrobogals.rgteaching',
	'myrobogals.rgmessages',
	'myrobogals.rgweb',
	'myrobogals.filters',
	'myrobogals.rgforums',
	'myrobogals.rgconf',
)

AUTH_USER_MODEL = 'rgprofile.User'

API_SECRET = 'k290gj2apoz0'
