myrobogals/settings.py
myrobogals/myrobogals
scichal/settings.py
daemons/smsglobal.h
daemons/smsglobal.c
daemons/rgsmsd.h
daemons/rgsmsd
rgmedia/unipics
rgmedia/forum_uploads
core
tags
*.swp
*.pyc
*.o
*.wsgi
