myrobogals/settings.py
daemons/smsglobal.h
daemons/rgsmsd.h
daemons/rgsmsd
rgmedia/unipics
rgmedia/forum_uploads
rgmedia/email_uploads
scripts/send_email_mandrill.php
core
tags
static
myrobogals.db
*.swp
*.pyc
*.o
.idea/
.vscode/
