{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">

<form action="/email/" method="post">
{% if error %}
<div class="error">{{error}}</div>
{% endif %}
<table>
  {% if emailform.to.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.to.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>To:</strong></td>
    <td>{{ emailform.to }}</td>
  </tr>

  {% if emailform.from_name.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.from_name.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>From name:</strong></td>
    <td>{{ emailform.from_name }}</td>
  </tr>

  {% if emailform.from_address.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.from_address.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>From address:</strong></td>
    <td>{{ emailform.from_address }}</td>
  </tr>

  {% if emailform.reply_address.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.reply_address.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>Reply-to address:</strong></td>
    <td>{{ emailform.reply_address }}</td>
  </tr>

  {% if emailform.subject.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.subject.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>Subject:</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  {% if emailform.body.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in emailform.body.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top"><strong>Message:</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>HTML:</strong></td>
    <td>{{ emailform.html }} Treat this message as HTML (note that line breaks will <b>not</b> be automatically converted to &lt;br&gt;)</td>
  </tr>
</table>
<input type="submit" value="Submit">
</form>

    </div>
  </div>
{% endblock %}
