{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">
<table cellspacing="0">
<thead>
<tr>
<th>Girl(s)</th>
<th>Age</th>
<th>Mentor</th>
<th>Relationship</th>
<th>Email</th>
<th>Phone</th>
<th>School</th>
<th>Registered</th>
<th>Username</th>
<th>Paid</th>
<th>Submitted</th>
</tr>
</thead>
<tbody>
{% for e in entrants %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{e.firstname}}</td>
<td>{{e.organization}}</td>
<td>{{e.mentor}}</td>
<td>{{e.relationship}}</td>
<td>{{e.email}}</td>
<td>{{e.phone}}</td>
<td>{{e.school}}</td>
<td>{{e.timestamp|date:"l j F g:i a"}}</td>
<td>{{e.user.username}}</td>
<td>{{e.xaction_result}}</td>
<td>No</td>
</tr>
{% endfor %}
</tbody>
</table>

    </div>
  </div>
{% endblock %}
