#roksearch_results .roksearch_even {zoom:1;}
#roksearch_results .container-wrapper {position:relative;zoom:1;width:400px;}
#roksearch_results .container-scroller {position:relative;zoom:1;}
#roksearch_results .container-scroller .page .roksearch_odd, #roksearch_results .container-scroller .page .roksearch_even {zoom:1;z-index:1000;}
#roksearch_results .container-scroller span.small { bottom:6px;right:10px}