<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
        
        <link rel="icon" href="{{ STATIC_URL }}images/touch-icon.png">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/touch-icon.png">
        
        <title>myRobogals</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/myrobogals.css">
        
        <script src="{{ STATIC_URL }}js/enquire.min.js"></script>
        <script src="{{ STATIC_URL }}js/fastclick.min.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        </script>
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.history.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.tabbable.min.js"></script>
        <script src="{{ STATIC_URL }}js/myrobogals.js"></script>
    </head>
    <body data-app="" class="">
        <iframe src="{{ STATIC_URL }}appcache/appcache.html" width="1" height="1" style="position:absolute;z-index:-1;"></iframe>
        <!--[if lt IE 9]><div id="ie-old-warning">The myRobogals web app does not support your version of Internet Explorer.<br>Please <a href="http://browsehappy.com/">upgrade or use an alternative browser</a> to continue to use myRobogals.</div><![endif]-->
        <div id="header"></div>
        <div id="tray"><span class="text"></span></div>
        <nav id="menu">
            <ul>
                <li class="profile">
                    <div class="link"><div class="image" data-image="//www.gravatar.com/avatar/{gravatar_hash}?s=240&r=pg&d=retro"></div></div>
                    <div class="info">
                        <span class="name"></span>
                        <span class="role"></span>
                        <span class="group"></span>
                    </div>
                </li>
                <li class="user">
                    <div class="row">
                        <div class="col">
                            <div class="button-transparent"><i class="fa fa-sign-out"></i>Log off</div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="menu-underlay"></div>
        <div id="stage"></div>
        <div id="overlay"></div>
    </body>
</html>