<style>
</style>
<li><a href="dashboard" class="menu-item"><i class="fa fa-dashboard"></i>Dashboard</a></li>
<li><a href="activities" class="menu-item"><i class="fa fa-flag"></i>Activities</a></li>
<li><a href="groups" class="menu-item"><i class="fa fa-group"></i>Groups</a></li>
<script>
    (function(){
        var f = myRG.functions;
        
        $(".menu-item").click(function(e){
            e.preventDefault();
            
            f.gotoApp($(this).attr("href"), true);
        });
    })();
</script>
