<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
    
    #app-templates {
        display: none;
    }
    
    #app-tabs {
        margin-top: 1.5rem;
    }
    
    html.large #app-tabs {
        width: auto;
        max-width: 100%;
    }
    
    html.small #app-tabs .col {

    }
    
    #app-tabs .col {
        padding: 0.7em 1.4em;
        font-weight: 500;
        font-size: 1.4em;
        cursor: pointer;
    }
    
    #app-tabs .col:hover {
        background: #08003C;
        color: #fff;
        cursor: pointer;
        
    }
    
    #app-tabs .col.active,
    #app-tabs .col.active:hover {
        background: #fff;
        color: #000;
    }
    
    #app-main-box {
        background: #fff;
        font-size: 1.2em;
    }
    
    #app-main-box > * {
        display: none;
        padding: 1em 2em;
    }
    
    #app-main-box > .active {
        display: block;
    }
    
    #send-email #message-body {
        width: 100%;
        resize: vertical;
    }
    
    #send-email .row {
        margin-bottom: 0.7em;
    }
    
    #send-email .col {
        padding: 0.3em;
        line-height: normal;
    }
    
    #send-email input[type=text] {
        padding: 0;
        vertical-align: middle;
        border: 0; 
    }
    
    #message-recipient-field > span {
        display: inline-block;
        max-width: 32%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        background: #00a2e6;
        color: #fff;
        
        margin-right: 0.2em;        
        padding: 0 0.3em;   

        vertical-align: middle;
        
        cursor: pointer;
    }
    
    #message-recipient-field > span:hover {
        background: #740000;
    }
    
    #message-recipient-search-result {
        padding: 0 !important;
        font-size: 0.9em;
        background: #08003C; color: #fff;
    }
    
    #message-recipient-search-result ul {
        margin: 0.3em;
        padding: 0;
        list-style: none;
    }
    
    #message-recipient-search-result ul li {
        margin: 0;
        padding: 0.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        cursor: pointer;
    }
    
    #message-recipient-search-result ul li.active {
        background: #00a2e6;
        color: #fff;
        font-weight: 500;
    }
    
    .submit-button {
        border: 0;
        font-weight: 500;
        padding: 0.5rem 2rem;
        width: auto;
        font-size: 1.2em;
        color: #fff;
    }
    
    .submit-button:disabled {
        color: #aaa !important;
        background: #888 !important;
    }
    
</style>
<div id="content" tabindex="0">
    <div id="app-container">
        <div id="hero">
            <div class="blocks" style="width: auto;">
                <h1>Messages</h1>
            </div>
            <!--<ul class="control-bar">
            </ul>-->
        </div>
        <div id="app-tabs" class="row">
            <div data-action="send-email" class="col">
                New Email
            </div>
            <div data-action="send-sms" class="col">
                New SMS
            </div>
            <div data-action="templates" class="col">
                Templates
            </div>
            <div data-action="history" class="col">
                History
            </div>
        </div>
        <div id="app-main-box">
            <form id="send-email">
                <label>
                    <div class="row" style="border-bottom: 1px solid #ccc; margin: 0;">
                        <div class="col right" style="width: 5em;">
                            <b>To</b>
                        </div>
                        <div id="message-recipient-field" class="col">
                            <input id="message-recipient-search-field" type="text">
                        </div>
                    </div>
                </label>
                <div class="row">
                    <div class="col" style="width: 5em; padding: 0;"></div>
                    <div id="message-recipient-search-result" class="col"></div>
                </div>
                <label>
                    <div class="row" style="border-bottom: 1px solid #ccc;">
                        <div class="col right" style="width: 5em;">
                            <b>Subject</b>
                        </div>
                        <div class="col">
                            <input id="message-subject" type="text" style="width: 100%;">
                        </div>
                    </div>
                </label>
                <div class="row">
                    <div class="col" style="width: 5em;">
                    </div>
                    <div class="col">
                        <textarea id="message-body" rows="5" placeholder="Compose email"  style="border: 1px solid #ccc;"/>
                        <i style="font-size: 0.8em; opacity: 0.8;">Save yourself the effort of clicking! Try <b>CTRL</b>+<b>ENTER</b> or <b>CMD</b>+<b>ENTER</b> to send your message.</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col right">
                        <input id="message-submit-button" type="submit" class="submit-button bg-rg-light-blue" value="Send">
                    </div>
                </div>
                <div class="row" style="font-size: 0.8em; opacity: 0.8;">
                    <h5>Please note...</h5>
                    <ul>
                        <li><b>Do not abuse this service.</b> Emails do come out of a particular quota for all Robogals users. We can hunt you down if we need to.</li>
                        <li>Recipient search only supports queries on the given name of users. We are working towards including a full name and email search, with groups and chapters later in the future.</li>
                        <li>There are known bugs with the responsiveness of the recipients field when searching. This can be worked around by mashing your keyboard a bit more.</li>
                        <li>Emails will be sent in plain text. HTML support will be available when a text editor is included for the email body field.</li>
                        <li>Attachment support will be added at a later date.</li>
                        <li>This interface is not optimised for small displays.</li>
                    </ul>
                </div>
            </form>
            <div id="send-sms">
                <h4>Sorry! We're not done with this just yet!</h4>
                <p><i>Send SMS just as you would an email.</i></p>
                <p>This feature will mirror the current SMS sending functionality in myRobogals, with easier recipient selection.</p>
            </div>
            <div id="templates">
                <h4>Sorry! We're not done with this just yet!</h4>
                <p><i>Store pre-made templates for more professional emails or faster mass mail messages.</i></p>
                <p>Choose from your own private set, or use templates stored on the Repository (coming soon.)</p>
            </div>
            <div id="history">
                <h4>Sorry! We're not done with this just yet!</h4>
                <p><i>See what you've sent, and if your recipient did the same.</i></p>
                <p>Emails will be trackable* and open/click counts provided so you can analyse how well your message is received.</p>
                <br>
                <p><i style="font-size: 0.8em;">* HTML emails only. 100% event tracking is not guaranteed.</i></p>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        var resourceName = "messages";
        var appName = "Messages";
    
        var a = myRG.appStore;
        var f = myRG.functions;
        var u = myRG.userStore;
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
            
        // Update title
        f.pushState({
            app: {
                content: resourceName,
                in_url: true
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');

        
        
        
        
        // Settings
        a.set("AUTOCOMPLETE_TYPING_DELAY", 100);            // ms
        a.set("RECIPIENT_SEARCH_RESULT_LENGTH", 10);        //
        
        
        
        
        
        
        
        
        
        
        
        // Tab switching
        $("#app-tabs .col").on("click", function(){
            $("#app-main-box > *").removeClass("active");
            $("#app-tabs .col").removeClass("active");
            
            $("#app-main-box > #"+$(this).data("action")).addClass("active");
            $(this).addClass("active");
        });
        
        // Startup
        $("#app-tabs .col:eq(0)").click();
        
        
        
        
        
        
        // Send Email form
        
        // Recipient autocomplete
        var RECIPIENT_SEARCH_FIELD_TIMER = null;
        
        
        $("#message-recipient-search-field")
            .blur(function(e){
                clearTimeout(RECIPIENT_SEARCH_FIELD_TIMER);
                
                if (a.get("RECIPIENT_LIST_MESSAGES_XHR")) {
                    a.get("RECIPIENT_LIST_MESSAGES_XHR").abort();
                }
                
                a.set("LAST_RECIPIENT_SEARCH_QUERY",false);
                
                setTimeout(function(){
                    $("#message-recipient-search-result").empty();
                    $(this).val("");
                }, 100);
                
            })
            .keydown(function(e){
                clearTimeout(RECIPIENT_SEARCH_FIELD_TIMER);
                
                // Quit any running XHR
                if (a.get("RECIPIENT_LIST_MESSAGES_XHR")) {
                    a.get("RECIPIENT_LIST_MESSAGES_XHR").abort();
                }
                        
                var $_this = $(this);
                
                switch (e.which){   // jQuery normalises it for us.
                    case 13:    // Enter = select highlighted recipient in list for insertion
                        e.preventDefault();
                        
                        if ($("#message-recipient-search-result ul li.active").length){
                            recipientListInsert();
                        }
                    
                        break;
                    
                    case 38:    // Up (38) and Down (40) = up/down recipient list
                        e.preventDefault();
                        
                        var curr = $("#message-recipient-search-result ul li.active");
                        var prev = curr.prev();
                        if (prev.length){
                            curr.removeClass("active");
                            prev.addClass("active");
                        }
                    
                        break;
                                
                    case 40:    
                        e.preventDefault();
                        
                        var curr = $("#message-recipient-search-result ul li.active");
                        var next = curr.next();
                        if (next.length){
                            curr.removeClass("active");
                            next.addClass("active");
                        }
                        
                        break;
                    
                    case 8:     // Backspace = delete previous recipient IF search field is empty
                        if (!($_this.val()).length){
                            // Hide search results
                            $("#message-recipient-search-result").empty();
                            
                            // Delete previous recipient
                            $("#message-recipient-field span:last-of-type").remove();
                            
                            // Don't fall through to default behaviour.
                            break;
                        }
                        
                        // Fall through to default searching behaviour below...
                    
                    default:    // Search after delay
                        if (($.trim($_this.val())).length){
                            // Search if there is some query AND is different from previous instance of input (prevents unnecessary reloads)
                            
                            if (!(a.get("LAST_RECIPIENT_SEARCH_QUERY") === $.trim($_this.val()))){
                                a.set("LAST_RECIPIENT_SEARCH_QUERY", $.trim($_this.val()));
                                
                                RECIPIENT_SEARCH_FIELD_TIMER = setTimeout(function() {
                                    recipientListSearch($_this);
                                }, a.get("AUTOCOMPLETE_TYPING_DELAY"));
                            }
                        } else {
                            // If blank, hide search results
                            $("#message-recipient-search-result").empty();
                        }
                }
            });
        
        
        
        // Search for autocomplete - currently given name only, limited to certain length
        function recipientListSearch(field){
            var queryVal = $.trim($(field).val());
            
            var searchQuery = {
                query: [
                    {
                        field: "given_name",
                        order: "a",
                        search: queryVal
                    },
                    {
                        field: "family_name",
                        order: "a",
                        visibility: true
                    }
                ],
                pagination: {
                        page: 0,
                        length: a.get("RECIPIENT_SEARCH_RESULT_LENGTH")
                }
            }
            
            // Fetch
            a.set("RECIPIENT_LIST_MESSAGES_XHR", f.fetchAPI("/users/list", searchQuery))
                .done(function(recipientListXhrArr){
                    var recipientList = $("<ul>");
                    
                    $("#message-recipient-search-result").empty();
                    
                    if (recipientListXhrArr.user.length){
                        for (var i = 0; i < recipientListXhrArr.user.length; i++){
                            var user = recipientListXhrArr.user[i];
                            
                            $("<li>").text(user.data.given_name + " " + user.data.family_name).data("user",user).appendTo(recipientList);
                        }
                        
                        recipientList.children(":first-child").addClass("active");
                        
                        $("#message-recipient-search-result").append(recipientList);
                    }
                });
            
        }
        
        
        // Recipient insertion
        
        function recipientListInsert(){
            var user = $("#message-recipient-search-result ul li.active").data("user");
            
            // Check if user already inserted
            var recipientList = $("#message-recipient-field > span");
            var userAlreadyRecipient = false;
            
            recipientList.each(function(){
                if ($(this).data("user").id === user.id){
                    userAlreadyRecipient = true;
                    return false;
                }
            });
            
            // Clear out fields
            $("#message-recipient-search-result").empty();
            $("#message-recipient-search-field").val("");
                
            // Stop here if user already inserted
            if (userAlreadyRecipient){
                return false;
            }
            
            // Add box for recipient
            var recipientBox = $("<span>");
            recipientBox.text(user.data.given_name + " " + user.data.family_name).attr("title", user.data.given_name + " " + user.data.family_name)
                .data({
                        "type": "user",
                        "user": user
                      });
            
            $("#message-recipient-search-field").before(recipientBox);
        }
        
        
        // Mouse interaction with recipient autocomplete result list
        $("#message-recipient-search-result")
            // Hover
            .on("mouseenter", "li", function(e){
                $(this).siblings().removeClass("active");
                $(this).addClass("active");
            })
            // Click
            .on("click", "li", function(e){
                recipientListInsert();
                $("#message-recipient-search-field").focus();
            });
        
        
        // Recipient box handling
        // Deletion
        $("#message-recipient-field").on("click", "span", function(e){
            $(this).remove();
        });
        
        
        // CTRL + Enter = send
        // https://github.com/dewski/cmd-enter
        $("#app-main-box").on('keydown', '#message-body', function(e) {
            if(e.keyCode == 13 && (e.metaKey || e.ctrlKey)) {
                $(this).parents('form').submit();
            }
        });
        
        // Send email
        $("#send-email").submit(function(e){
            e.preventDefault();
            
            
            
            // Disable further submission
            if (a.get("LOCK_EMAIL_SUBMISSION")){
                return false;
            }
            
            a.set("LOCK_EMAIL_SUBMISSION", true);
            $("#message-submit-button").attr("disabled",true);
            
            var recipientArr = [];
            var recipientList = $("#message-recipient-field > span");
            
            recipientList.each(function(){
                recipientArr.push({
                    user: $(this).data("user").id
                });
            });
            
            if (!recipientArr.length){
                alert("No recipients entered.");
                $("#message-submit-button").removeAttr("disabled");
                a.set("LOCK_EMAIL_SUBMISSION", false);
                return false;
            }
            
            if ($("#message-subject").val() == ""){
                alert("Subject required.");
                $("#message-submit-button").removeAttr("disabled");
                a.set("LOCK_EMAIL_SUBMISSION", false);
                return false;
            }
            
            if ($("#message-body").val() == ""){
                alert("Body required.");
                $("#message-submit-button").removeAttr("disabled");
                a.set("LOCK_EMAIL_SUBMISSION", false);
                return false;
            }
            
            var msg = {
                role: u.get("ROLE_ID"),
                message: [
                    {
                        nonce: "a",
                        data: {
                            email: {
                                from_name: u.get("WHOAMI_OBJ").user.data.display_name,  // Will need to change
                                subject: $("#message-subject").val(),
                                body: $("#message-body").val(),
                                html: false,
                                recipients: recipientArr,
                                merge_tags: {}
                            }
                        }
                    }
                ]
            };
            
            a.set("EMAIL_XHR", f.fetchAPI("/messages/send", msg))
                .always(function() {
                    $("#message-submit-button").removeAttr("disabled");
                    a.set("LOCK_EMAIL_SUBMISSION", false);
                })
                .done(function(emailXhr) {
                    if (emailXhr.success.nonce_id.hasOwnProperty(msg.message[0].nonce)) {
                        f.setTray("Your email was successfully sent.","success",true);
                    } else {
                        f.throwError({
                            name: 'ERROR',
                            message: 'An error occurred.'
                        });
                    }
                })
                .fail(function() {
                    f.throwError({
                        name: 'ERROR',
                        message: 'An error occurred.'
                    });
                });
        });
        
        
        
        
    })();
</script>
