<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
</style>
<div id="content" tabindex="0">
    <div id="app-container">
        <div id="hero">
            <div class="blocks" style="width: auto;">
                <h1>Messages</h1>
            </div>
            <!--<ul class="control-bar">
            </ul>-->
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div id="sendEmailTab" style="display: inline; margin-right: 0.2rem; padding: 0.5rem; font-size: 1.25em; color: #000000; background-color: #A8A8A8">
                Send Email
            </div>
        </div>
        <div class="row" style="margin-top: 0.8rem;">
            <div style="padding: 1.6rem; font-size: 1.25em; background-color: #FFFFFF; color: #484848">
                <div id="sendMessage">
                    <div id="selectRecipient">
                        <select id="recipientType">
                            <option value="committeeMembers">Committee members</option>
                            <option value="memberList">Member list</option>
                            <option value="user" selected="selected">user</option>
                            <option value="newsletter">Newsletter</option>
                        </select>
                        <p id="selectUserSearchFields">
                            <input id="givenNameSearch" type="search"  style="border:1px solid  #ccc; border-width:0px 0px 1px 0px;" placeholder="Given name"/>
                            <input id="familyNameSearch" type="search"  style="border:1px solid  #ccc; border-width:0px 0px 1px 0px;" placeholder="Family name"/>
                        </p>
                        <div id="recipientList" /><br/>
                        <select id="resultsPerPage">
                            <option value="5" selected="selected">5 results per page</option>
                            <option value="10">10 results per page</option>
                            <option value="15">15 results per page</option>
                            <option value="20">20 results per page</option>
                        </select><br><br>
                        To: (click items below to deselect recipients)
                        <div id="selectionResult" />
                        <p><div style="border-bottom: 1px solid  #08003C;" /></p>
                    </div>
                    <select id="roleList" />
                    <p><input id="from" type="text" placeholder="From" style="border:1px solid  #ccc; border-width:0px 0px 1px 0px;"/></p>
                    <p><input id="subject" type="text" placeholder="Subject" style="border:1px solid  #ccc; border-width:0px 0px 1px 0px;"/></p>
                    <p><textarea id="messageBody" rows="5" placeholder="Compose email"  style="border:1px solid  #ccc; border-width:0px 0px 1px 0px;"/></p>
                    <input id="sendButton" type="submit" value="Send" style="background-color: rgb(0, 108, 153); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>
                </div>
                <div id="messagesList" style="margin-top: 2rem;" />
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        var resourceName = "messages";
        var appName = "Groups";
    
        var a = myRG.appStore;
        var f = myRG.functions;
        var u = myRG.userStore;
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
            
        // Update title
        f.pushState({
            app: {
                content: resourceName,
                in_url: true
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');

        a.set("selectedRecipients", []);

        function valueOrNullOrError(elem, errMsg) {
            retVal = $(elem).val();
            if (!retVal || retVal.trim().length == 0) {
                if (errMsg === undefined) {
                    return null;
                } else {
                    $(elem).css({
                        "background-color": "#740000",
                        "color": "white"
                    });
                    f.throwError({
                        name: 'FORM_INVALID',
                        message: errMsg
                    });
                }
            } else {
                return retVal.trim();
            }
        }

        function showSendEmailTab() {
            $("#inboxTab").css("background-color", "#A8A8A8");
            $("#sendEmailTab").css("background-color", "#FFFFFF");
            resetForm();
        }

        function showInboxTab() {
            $("#inboxTab").css("background-color", "#FFFFFF");
            $("#sendEmailTab").css("background-color", "#A8A8A8");
        }


        function showTypeList(pageNumber) {
            $("#recipientList").empty();
            var recipientType = $("#recipientType").val();
            var pageLength = parseInt($("#resultsPerPage").val());
            var page = {
                    page: pageNumber,
                    length: pageLength
            };
            var searchCriteria = null;
            if (recipientType == "committeeMembers") {

            } else if (recipientType == "memberList") {

            } else if (recipientType == "user") {
                searchCriteria = {
                    query: [
                        {
                            field: "id",
                            search: null,
                            order: null,
                            visibility: null
                        },
                        {
                            field: "given_name",
                            search: valueOrNullOrError("#givenNameSearch"),
                            order: null,
                            visibility: null
                        },
                        {
                            field: "family_name",
                            search: valueOrNullOrError("#familyNameSearch"),
                            order: null,
                            visibility: null
                        }
                    ],
                    pagination: page
                };
                if (a.get("RECIPIENT_LIST_MESSAGES_XHR")) {
                    a.get("RECIPIENT_LIST_MESSAGES_XHR").abort();
                }
                a.set("RECIPIENT_LIST_MESSAGES_XHR",
                            f.fetchAPI("/users/list", searchCriteria));
                a.get("RECIPIENT_LIST_MESSAGES_XHR")
                    .done(function(recipientListXhrArr) {
                        var totalMatchedItems = recipientListXhrArr.meta.size;
                        var totalPages = Math.ceil(totalMatchedItems/pageLength);
                        var currentPage = pageNumber;
                        var pagination = '<table style="width: 100%;">';
                        pagination += '<tr><td>';
                        if (currentPage > 0) {
                            pagination += '<input class="pagination" type="submit" value="home" style="background-color: rgb(0, 108, 153); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>';
                        } else {
                            pagination += 'home';
                        }
                        pagination += '</td><td align="right">';
                        if (currentPage < (totalPages - 1)) {
                            pagination += '<input class="pagination" type="submit" value="last" style="background-color: rgb(0, 108, 153); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>';
                        } else {
                            pagination += 'last';
                        }
                        pagination += '</td></tr><tr><td style="padding: 10px;" colspan="2" align="center">';
                        if (currentPage >= 1) {
                            pagination += '<input class="pagination" type="submit" value="previous" style="background-color: rgb(0, 108, 153); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/> | ';
                        } else {
                            pagination += 'previous | ';
                        }
                        pagination += currentPage + 1 + '/' + totalPages + ' | ';
                        if (currentPage <= (totalPages - 2)) {
                            pagination += '<input class="pagination" type="submit" value="next" style="background-color: rgb(0, 108, 153); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>';
                        } else {
                            pagination += 'next';
                        }
                        pagination += "</td></tr></table>";
                        var recipientTable = pagination;
                        recipientTable += '<table style="width: 100%; border-collapse: collapse; border: 1px solid black; font-size: 1.3em"><tr><th style="border: 1px solid black; background-color: #08003C; color: #FFF; font-weight: 300;" colspan="2">Name</th></tr>';
                        for (var i = 0; i < recipientListXhrArr.user.length; i++){
                            recipientTable += '<tr><td style="border: 0; border-bottom: 1px solid black;"><input class="recipientDetails" id="' + recipientListXhrArr.user[i].id + '" type="submit" value="' + recipientListXhrArr.user[i].data["given_name"] + ' ' + recipientListXhrArr.user[i].data["family_name"] + '" style="background-color: #fff; font-weight: 300; border: 0;" /></td><td style="border: 0; border-bottom: 1px solid black;"><input class="recipientCheckbox" type="checkbox" id="' + recipientListXhrArr.user[i].id + 'Checkbox" value="' + recipientListXhrArr.user[i].id + '"';
//debugger;
                            if ( $.inArray(recipientListXhrArr.user[i].id, a.get("selectedRecipients")) >= 0) {
                                recipientTable += 'checked/></td></tr>';
                            } else {
                                recipientTable += '/></td></tr>';
                            }
                        }
                        recipientTable += "</table>";
                        $("#recipientList").empty().append(recipientTable);
                        $(".pagination").click(function(){
                            var pageCommand = $(this).val();
                            if (pageCommand == "home") {
                                showTypeList(0);
                            } else if (pageCommand == "last") {
                                showTypeList(totalPages - 1);
                            } else if (pageCommand == "previous") {
                                showTypeList(currentPage - 1);
                            } else if (pageCommand == "next") {
                                showTypeList(currentPage + 1);
                            }
                        });
                        $(".recipientCheckbox").click(function() {
                            var recipientCheckbox = $(this);
                            if (!recipientCheckbox.is(':checked')) {
                                var position = $.inArray(recipientCheckbox.val(), a.get("selectedRecipients"));
                                if (position >= 0) {
                                    a.get("selectedRecipients").splice(position, 1);
                                }
                                $("#" + recipientCheckbox.val() + "SelectionDisplay").remove();
                            } else {
                                if ($.inArray(recipientCheckbox.val(), a.get("selectedRecipients")) < 0) {
                                    a.get("selectedRecipients").push(recipientCheckbox.val());
                                }
                                if ($("#" + recipientCheckbox.val() + 'SelectionDisplay').length <= 0) {
                                    var selectionDisplay = '<input id="' + recipientCheckbox.val() + 'SelectionDisplay" type="submit" value="' + $("#" + recipientCheckbox.val()).val() + '" style="margin: 0.5em; background-color: rgb(153, 52, 0); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>';
                                    $("#selectionResult").append(selectionDisplay);
                                }
                                $("#" + recipientCheckbox.val() + "SelectionDisplay").click(function() {
//debugger;
                                    $("#" + recipientCheckbox.val() + "Checkbox").prop("checked", false);
                                    var position = $.inArray(recipientCheckbox.val(), a.get("selectedRecipients"));
                                    if (position >= 0) {
                                        a.get("selectedRecipients").splice(position, 1);
                                    }
                                    $(this).remove();
                                });
                            }
                        });
                        $(".recipientDetails").click(function() {
                            var recipientCheckbox = $("[id='" + $(this).attr("id") + "Checkbox']");
                            if (recipientCheckbox.is(':checked')) {
                                recipientCheckbox.prop('checked', false);
                                var position = $.inArray($(this).attr("id"), a.get("selectedRecipients"));
                                if (position >= 0) {
                                    a.get("selectedRecipients").splice(position, 1);
                                }
                                $("#" + $(this).attr("id") + "SelectionDisplay").remove();
                            } else {
                                recipientCheckbox.prop('checked', true);
                                if ($.inArray($(this).attr("id"), a.get("selectedRecipients")) < 0) {
                                    a.get("selectedRecipients").push($(this).attr("id"));
                                }
                                if ($("#" + $(this).attr("id") + 'SelectionDisplay').length <= 0) {
                                    var selectionDisplay = '<input id="' + $(this).attr("id") + 'SelectionDisplay" type="submit" value="' + $(this).val() + '" style="margin: 0.5em; background-color: rgb(153, 52, 0); color: #fff; font-weight: 300; border: 0; padding: 0.2em 0.5em;"/>';
                                    $("#selectionResult").append(selectionDisplay);
                                }
                                var _this = this;
                                $("#" + $(this).attr("id") + "SelectionDisplay").click(function() {
                                    $("#" + $(_this).attr("id") + "Checkbox").prop("checked", false);
                                    var position = $.inArray($(_this).attr("id"), a.get("selectedRecipients"));
                                    if (position >= 0) {
                                        a.get("selectedRecipients").splice(position, 1);
                                    }
                                    $(this).remove();
                                });
                            }
                        });
                    });

            } else if (recipientType == "newsletter") {

            } else {

            }
        }

        function fetchRoleList() {
            a.set("ROLE_LIST_XHR", f.fetchMyRoles());
            a.get("ROLE_LIST_XHR")
                .done(function (roleListXhrArr) {
//debugger;
                    var roleList = "";
                    $("#roleList").empty();
                    var data = {
                        query: [
                            {
                                field: "id",
                                search: null,
                                order: null,
                                visibility: null
                            },
                            {
                                field: "name",
                                search: null,
                                order: null,
                                visibility: null
                            }
                        ],
                        pagination: {
                            page: 0,
                            length: 1
                        }
                    };
                    for (var i = 0; i < roleListXhrArr.role.length; i++) {
                        (function(index) {
                            data.query[0].search = roleListXhrArr.role[index].role_class;
                            (f.fetchAPI("/roleclasses/list", data)).done(function(roleClass) {
//debugger;
                                roleList = '<option value="'+ roleListXhrArr.role[index].id +'">'+ roleClass.role_class[0].data.name +'</option>';
                                $("#roleList").append(roleList);
                            });
                        })(i);
                    }
                });
        }

        function resetForm() {
            f.closeTray();
            $("#roleList, #from, #subject, #messageBody").css({
                "background-color": "white",
                "color": "black"
            });
            $("#givenNameSearch, #familyNameSearch, #from, #subject, #messageBody").val("");
            $("#recipientType").trigger("change");
        }

        $(function() {
            fetchRoleList();
            showTypeList(0);
            $("#inboxTab").click(function() {
                showInboxTab();
            });

            $("#sendEmailTab").click(function() {
                showSendEmailTab();
            });

            $("#sendEmailTab").trigger("click");

            $("#sendButton").click(function() {
                $("#roleList, #from, #subject, #messageBody").css({
                    "background-color": "white",
                    "color": "black"
                });
                if (a.get("selectedRecipients").length == 0) {
                    f.throwError({
                        name: 'FORM_INVALID',
                        message: "please select email recipients"
                    });
                }
                var recipientList = [];
                for (var i = 0; i < a.get("selectedRecipients").length; i++) {
                    recipientList.push({user: a.get("selectedRecipients")[i]});
                }
                var msg = {
                    role: valueOrNullOrError("#roleList", "role is invalid"),
                    message: [
                        {
                            nonce: "abc",
                            data: {
                                email: {
                                    from_name: valueOrNullOrError("#from", "from field is empty"),
                                    subject: valueOrNullOrError("#subject", "subject field is empty"),
                                    body: valueOrNullOrError("#messageBody", "no email text"),
                                    html: true,
                                    recipients: recipientList
                                }
                            }
                        }
                    ]
                };
                $("#sendButton").hide();
                a.set("EMAIL_XHR",
                            f.fetchAPI("/messages/send", msg));
                a.get("EMAIL_XHR")
                    .always(function() {
                        $("#sendButton").show();
                    })
                    .done(function(emailXhr) {
//debugger;
                        if (emailXhr.success.nonce_id.hasOwnProperty(msg.message[0].nonce)) {
                            resetForm();
                            f.setTray("email sent","success",true);
                        } else {
                            f.throwError({
                                name: 'ERROR',
                                message: 'server rejected!'
                            });
                        }
                    })
                    .fail(function() {
                        f.throwError({
                            name: 'ERROR',
                            message: 'server rejected!'
                        });
                    });
            });

            $("#recipientType").change(function() {
                if ($(this).val() == "committeeMembers") {
                    $("#selectUserSearchFields").hide();
                    $("#selectionResult").empty();
                    a.set("selectedRecipients", []);
                } else if ($(this).val() == "memberList") {
                    $("#selectUserSearchFields").hide();
                    $("#selectionResult").empty();
                    a.set("selectedRecipients", []);
                } else if ($(this).val() == "user") {
                    $("#selectUserSearchFields").show();
                    $("#selectionResult").empty();
                    a.set("selectedRecipients", []);
                } else if ($(this).val() == "newsletter") {
                    $("#selectUserSearchFields").hide();
                    $("#selectionResult").empty();
                    a.set("selectedRecipients", []);
                }
                showTypeList(0);
            });

            var keyupTimer = null;
            $("#givenNameSearch, #familyNameSearch").keyup(function(e) {
                if (keyupTimer) {
                    clearTimeout(keyupTimer);
                }
                if (e.keyCode == 13) {
                    showTypeList(0);
                } else {
                    keyupTimer = setTimeout(function() {
                        showTypeList(0);
                    }, 500);
                }
            });

            $("#resultsPerPage").change(function() {
                if (keyupTimer) {
                    clearTimeout(keyupTimer);
                }
                showTypeList(0);
            });
        });
    })();
</script>
