{% load i18n %}
    <!--Begin Bottom Section-->
        <!--End Bottom Section-->
    <!--Begin Footer-->
        <div id="footer">
        <div class="wrapper">
<!--
                        <div id="mainmodules5" class="spacer w99">
                                <div class="block full">

                        <div class="moduletable">
                <div class="demo-footer-block"><div class="demo-footer-text"><span class="highlight-bold">Disclaimer</span><p>This site is for <b>demo</b> purposes only and uses <b>sample</b> content. Images are copyright of their respective owners.</p></div></div>

<div class="demo-footer-divider"></div>

<div class="demo-footer-block"><div class="demo-footer-text"><span class="highlight-bold">Ready to get started?</span><p>Fill out our <b>Request</b> for Proposal form and to us about your project</p><div class="clr"></div><div class="readon-wrap1"><div class="readon1-l"></div><a href="#" class="readon-main"><span class="readon1-m"><span class="readon1-r">Submit</span></span></a></div><div class="clr"></div></div></div>

<div class="demo-footer-divider"></div>

<div class="demo-footer-block"><div class="demo-footer-text"><span class="highlight-bold">Sign up for our newsletter</span><p><b>Get the latest</b> news and events by subscribing up for our newsletter</p><div class="clr"></div><div class="readon-wrap1"><div class="readon1-l"></div><a href="#" class="readon-main"><span class="readon1-m"><span class="readon1-r">Subscribe</span></span></a></div><div class="clr"></div></div></div>

<div class="demo-footer-divider"></div>

<div class="demo-footer-block"><div class="demo-footer-text"><span class="highlight-bold">Contact Information</span><ul class="special-13"><li><span>+44 (0) 01 011 012</span></li> <li><span>support@euro.corporation.com</span></li> <li><a href="#" style="font-weight: normal;"><span>www.corporation.com</span></a></li> </ul></div></div>

<div class="clr"></div> </div>
    
                </div>
                                                            </div>
-->

                        <!--Begin Copyright Section-->
                        <div class="copyright-block">
<!--
                        <div class="footer-div"></div>
                                    <a href="http://www.rockettheme.com/" title="RocketTheme Joomla Templates Club" id="rocket"></a>
-->
            <div id="copyright">
<form action="/i18n/setlang/" method="post"> {% csrf_token %}
<input name="next" type="hidden" value="{{request.path}}" />
<select name="language">
{% for lang in LANGUAGES %}
{% ifequal lang.0 request.LANGUAGE_CODE %}
<option value="{{ lang.0 }}" selected="selected">{{ lang.1 }}</option>
{% else %}
<option value="{{ lang.0 }}">{{ lang.1 }}</option>
{% endifequal %}
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
myRobogals &copy; 2010-2013 Robogals Global<br>
<span style="font-size: 8pt"><a href="/credits/" class="top-button-desc">{% trans "Credits" %}</a> | <a href="/support/" class="top-button-desc">{% trans "Support" %}</a> | <a href="http://www.robogals.org/" class="top-button-desc">{% trans "robogals.org" %}</a></span></div>
                        </div>
                        <!--End Copyright Section-->
        </div>
    </div>
        <!--End Footer-->   
