{% load i18n %}
    <!--Begin Header-->
    <div id="header-bg">
        <!--Begin Horizontal Menu-->
                <div id="horiz-menu" class="fusion">
            <div class="wrapper">
                <div class="padding">
                    <div id="horizmenu-surround">
                                            <ul class="menutop level1" >
            <li class="item1 root" >
            <a class="orphan item bullet" href="/"  >
            <span>
                        {% trans "Home" %}               
            </span>
        </a>
        
        
</li>   
            <li class="item53 parent root" >

            <a class="daddy item bullet" href="/profile/"  >
            <span>
                        {% trans "Profile" %}
               
            </span>
        </a>
        
            <div class="fusion-submenu-wrapper level2">
            <div class="drop-top"></div>
            <ul class="level2">

                            
                    <li class="item54" >
            <a class="orphan item bullet" href="/profile/"  >
            <span>
                        {% trans "View Profile" %}          
            </span>
        </a>
        
        
</li>   
                            
                    <li class="item146" >
            <a class="orphan item bullet" href="/profile/edit/"  >
            <span>

                        {% trans "Edit Profile" %}               
            </span>
        </a>
        
        
</li>   
                            
                            </ul>
        </div>
        
</li>   
            <li class="item64 parent root" >
            <a class="daddy item bullet" href="/chapters/"  >

            <span>
                        {% trans "Chapter" %}   
               
            </span>
        </a>
{% if request.user.is_authenticated %}
            <div class="fusion-submenu-wrapper level2">
            <div class="drop-top"></div>
            <ul class="level2">
                <li class="item158">
                    <a class="orphan item bullet" href="/chapters/{{ request.user.chapter.myrobogals_url }}/">
                        <span>{% trans "View my chapter" %}</span>
                    </a>
                </li>

                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/">
                        <span>{% trans "List all chapters" %}</span>
                    <a>
                </li>
{% if request.user.is_staff %}
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/progress/">
                        <span>{% trans "Chapter progress" %}</span>
                    <a>
                </li>
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/{{ request.user.chapter.myrobogals_url }}/edit/">
                        <span>{% trans "Edit my chapter" %}</span>
                    <a>
                </li>
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/{{ request.user.chapter.myrobogals_url }}/edit/users/">
                        <span>{% trans "Manage members" %}</span>
                    <a>
                </li>
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/{{ request.user.chapter.myrobogals_url }}/lists/">
                        <span>{% trans "Manage lists" %}</span>
                    <a>
                </li>
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/{{ request.user.chapter.myrobogals_url }}/websitedetails/">
                        <span>{% trans "View website details" %}</span>
                    <a>
                </li>
{% endif %}
                <li class="item147">
                    <a class="orphan item bullet" href="/chapters/localtimes/">
                        <span>{% trans "Current local times" %}</span>
                    <a>
                </li>
				<li class="item147">
                    <a class="orphan item bullet" href="/chapters/awards/">
                        <span>{% trans "View chapter awards" %}</span>
                    <a>
                </li>
            </ul>
            </div>
{% endif %}
        
</li>   
            <li class="item65 parent root" >

            <a class="daddy item bullet" href="/teaching/"  >
            <span>
                        {% trans "Workshops" %}    
               
            </span>
        </a>
{% if request.user.is_authenticated %}
            <div class="fusion-submenu-wrapper level2">
            <div class="drop-top"></div>
            <ul class="level2">

<!--                            
                    <li class="item66" >
            <a class="orphan item bullet" href="/teaching/availability/"  >
            <span>
                        Availability               
            </span>
        </a>
        
        
</li>   
-->
<!--
                            
                    <li class="item67" >
            <a class="orphan item bullet" href="/teaching/training/"  >
            <span>

                        Training sessions        
            </span>
        </a>
        
        
</li>   
-->                            

                    <li class="item68" >
            <a class="orphan item bullet" href="/teaching/list/"  >
            <span>
                        {% trans "List school visits" %}          
            </span>
        </a>

        
        
</li>   
                    <li class="item68" >
            <a class="orphan item bullet" href="/teaching/printlist/"  >
            <span>
                        {% trans "Printable list" %}          
            </span>
        </a>

        
        
</li>   
                            
{% if request.user.is_staff %}
                    <li class="item71" >
            <a class="orphan item bullet" href="/teaching/new/"  >
            <span>
                        {% trans "Create new" %}               
            </span>

        </a>
        
        
</li>   
                    <li class="item71" >
            <a class="orphan item bullet" href="/teaching/schools/"  >
            <span>
                        {% trans "List schools" %}              
            </span>

        </a>
        
        
</li>   
                    <li class="item71" >
            <a class="orphan item bullet" href="/teaching/schools/new/"  >
            <span>
                        {% trans "Add new school" %}
            </span>

        </a>
        
        
</li>   
{% if request.user.is_superuser %}
				<li class="item147">
                    <a class="orphan item bullet" href="/globalreports/">
                        <span>{% trans "Reporting" %}</span>
                    <a>
                </li>
{% else %}
		{% if request.user.is_staff %}
				<li class="item147">
                    <a class="orphan item bullet" href="/reports/">
                        <span>{% trans "Reporting" %}</span>
                    <a>
                </li>
		{% endif %}
{% endif %}
                    <li class="item71" >
            <a class="orphan item bullet" href="/teaching/video/"  >
            <span>
                        {% trans "Video tutorial" %}
            </span>

        </a>
        
        
</li>   
{% endif %}
                            </ul>
        </div>
{% endif %}
</li>   
            <li class="item73 parent root" >
            <a class="daddy item bullet" href="#"  >
            <span>
                        {% trans "Email &amp; SMS" %}   
               
            </span>

        </a>
{% if request.user.is_authenticated %}        
            <div class="fusion-submenu-wrapper level2">
            <div class="drop-top"></div>
            <ul class="level2">
{% if request.user.is_staff %}
                            
                    <li class="item82" >
            <a class="orphan item bullet" href="/messages/email/write/"  >
            <span>
                        {% trans "Send email" %}         
            </span>

        </a>
        
        
</li>   
                            
                    <li class="item83" >
            <a class="orphan item bullet" href="/messages/sms/write/"  >
            <span>
                        {% trans "Send SMS" %}           
            </span>
        </a>
</li>   
{% endif %}        
                    <li class="item89" >
            <a class="orphan item bullet" href="#"  >
            <span>
                        {% trans "Message history" %}    
            </span>
        </a>
        
        
</li>   
{% if request.user.is_superuser %}

                    <li class="item83" >
            <a class="orphan item bullet" href="/messages/newsletters/1/"  >
            <span>
                        {% trans "Newsletter CP" %}           
            </span>
        </a>
</li>   
{% endif %}        
                            
                            </ul>
        </div>
{% endif %}        
        
</li>   
            <li class="item152 root" >
            <a class="orphan item bullet" href="/wiki/"  >
            <span>

                       {% trans "Wiki" %}   
               
            </span>
        </a>
        
        
</li>  
    </ul>

                                        </div>
                <div class="clr"></div>
                </div>
            </div>
        </div>
                <!--End Horizontal Menu-->
        <!--Begin Showcase-->
                <div class="wrapper">
            <div id="showcase-section">

                <!--Begin Logo-->
                                <div class="logo-module">
                                        <a href="/" id="logo"></a>
                                                        </div>
                                <!--End Logo-->
                                                <div class="clr"></div>
                            </div>
        </div>
                <!--End Showcase-->

    </div>
    <!--End Header-->
