{% load i18n %}
                        <!--Begin Left Column (col2)-->

                                                <div class="col2">
                            <div id="leftcol">
        <div class="round">
        <div class="moduletable" style="padding: 15px 20px">
            <div class="module-surround">

                <div class="module-grad"></div>
                <div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
                <div class="module-inner">
                                        
                {% if user.id %}
                	<h4 class="module-title">{% blocktrans with user.first_name as first_name %}Welcome, {{first_name}}{% endblocktrans %}</h4>
                    <a href="/profile/{{user.username}}/">{% trans "View profile" %}</a><br />
                    <a href="/profile/{{user.username}}/edit/">{% trans "Edit profile and settings" %}</a><br />
                    <a href="/chpass/">{% trans "Change password" %}</a><br />
                    {% if user.is_superuser %}
                    <a href="/topsecretarea/">{% trans "Admin panel" %}</a><br />
                    {% else %}
                      {% if user.is_staff %}
                        {% ifnotequal user.user_permissions.count 0 %}
                    <a href="/topsecretarea/">{% trans "Admin panel" %}</a><br />
                        {% endifnotequal %}
                      {% endif %}
                    {% endif %}
                    <a href="/logout/">{% trans "Logout" %}</a>
                {% else %}
                             <h3 class="module-title">{% trans "Login Form" %}</h3>
<div class="main-login-form">
    <form action="/login/process/" method="post" name="login" class="form-login"> {% csrf_token %}
                <div class="username-block">
            <input name="username" type="text" class="inputbox" value="Username or Email" alt="Username or Email" onblur="if(this.value=='') this.value='Username or Email';" onfocus="if(this.value=='Username or Email') this.value='';" />

        </div>
        <div class="password-block">
            <input type="password" name="password" class="inputbox" alt="Password" value="password" onblur="if(this.value=='') this.value='password';" onfocus="if(this.value=='password') this.value='';" />
        </div>
        <div class="login-extras">
            <!--<div class="remember-me">
            <input type="checkbox" name="remember" class="checkbox" value="yes" alt="Remember Me" />
            <label class="remember">
                Remember Me         </label>    
            </div>-->

            <div class="readon-wrap1"><div class="readon1-l"></div><a class="readon-main"><span class="readon1-m"><span class="readon1-r">{% if next %}<input type="hidden" name="next" value="{{next}}" />{% endif %}<input type="submit" name="Submit" class="button" value="Log in" /></span></span></a></div><div class="clr"></div>
            <div class="login-links">
            <p>
                <a href="/join/">

                    {% trans "Join Robogals" %}</a>
            </p>
            <p>
                <a href="/forgotpass/">
                    {% trans "Reset password" %}</a>
            </p>
            </div>
            </div>
    </form>

</div>
{% endif %}
                </div>
            </div>
        </div>

    </div>
    
                                                            </div>
                        </div>
                         
                        <!--End Left Column (col2)-->
