{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>myRobogals - {% block title %}{% endblock %}</title>

  <!-- 3rd party css-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css"/>

  <!-- Bootstrap core CSS -->
  <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "bootstrap-v4/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "myrobogals/css/base_new.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "bootstrap/css/sticky-footer-navbar.css" %} " rel="stylesheet">
  {#  <link href="{% static "bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css" %}"#}

  {% block header %} {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{ MEDIA_URL }}images/logowhite.png" height="25">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link thick-font" href="#">CHAPTER</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link thick-font" href="{% url 'teaching:home' %}">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link thick-font" href="{% url 'teaching:home' %}">REPORTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link thick-font" href="#">FORUMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link thick-font" href="#">WIKI</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DROPDOWN</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg" aria-hidden="true"></i><span
              class="caret"></span></a></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">View Profile</a>
            <a class="dropdown-item" href="#">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contact Directory</a>
            <a class="dropdown-item" href="#">Support & FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="page-title">
  <div class="container">
    <h1>{% block pagetitle %} {% endblock %}</h1>
  </div>
</div>

<div class="container main-body">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Report Summary</li>
  </ol>

  {% for message in messages %} {% autoescape off %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="error">{{ message }} </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert">{{ message }} </div>
    {% else %}
      <div class="message">{{ message }} </div>
    {% endif %} {% endautoescape %}
  {% endfor %}

  {% block content %} {% endblock %}
</div>

<footer class="footer">
  <div class="container text-muted">
    <select>
      <option value="english">English</option>
      <option value="japanese">Japanese</option>
    </select>
    &copy; Robogals 2010-2017
    <a href="/credits/">Credits</a> | <a href="/support/">Support</a> | <a href="http://robogals.org">robogals.org</a>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="{% static "bootstrap-v4/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha256-bmXHkMKAxMZgr2EehOetiN/paT9LXp0KKAKnLpYlHwE="
        crossorigin="anonymous"></script>
<script src="{% static "bootstrap-typeahead/js/bootstrap3-typeahead.min.js" %}"></script>
{% block script %} {% endblock %}
</body>
</html>
