<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>myRobogals</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}templates/system/css/landing.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body style="background: url('{{ MEDIA_URL }}images/low-poly-wallpaper-22.png');">
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <div class="heading">
                    <h1 class="cover-heading">Password reset</h1>
                    <h4 class="cover-quote" id="quote"> Password Reset</h4>
                    <p>
                        Your password has been changed. Click below to login in with your new password.
                    </p>
                </div>

                <a href="/login">
                    <input type="submit" name="Submit" class="btn btn-md btn-default" value="Go To Login"/>
                </a>


                <div class="row">
                    <div class="col-md-4" style=""><a href="/">Home</a></div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-2"><a href="/join/">Sign up!</a></div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-4"><a href="/support/">Contact Us &amp; FAQ</a></div>
                </div>
            </div>

            <!--Footer -->
            <div class="mastfoot">
                <div class="media-icons">
                    <a href="https://www.facebook.com/robogals/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/robogals"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/robogals/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company-beta/873367/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/robogals/myrobogals"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="inner">
                    <p>
                        <a href="/credits/">Credits</a> | <a href="http://robogals.org">robogals.org</a>
                        <br>
                        <i class="fa fa-copyright" aria-hidden="true"></i> Robogals 2010-2017
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}resources/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
