.rightlabel
{
width: 10em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 10.5em;
}

.eventmessage
{
position: relative;
background-color: #EFEFEF;
border: 1px solid #CCCCCC;
margin-bottom: 1em;
}
.eventmessage .topbar
{
width: 100%;
margin: 0;
font-weight: bold;
}
.eventmessage .message-box
{
width: 100%;
margin: 0;
background-color: #F4F7FC;
}
.eventmessage .message-box .message-content
{
margin: 0.5em;
}