{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "500: Internal Server Error" %}{% endblock %}

{% block pagetitle %}{% trans "500: Internal Server Error" %}{% endblock %}

{% block content %}
{% trans "Oops! Something went wrong!" %}<br />
<br />
{% trans "Please email my@robogals.org and describe exactly what you were doing when this error appeared, as well as any other information that may help us to reproduce (and fix!) the problem. Some technical information has been sent to the site administrators already." %}
{% endblock %}
