
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>myRobogals - {% block title %}{% endblock %}</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ MEDIA_URL }}resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ MEDIA_URL }}resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ MEDIA_URL }}templates/system/css/base_new.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ MEDIA_URL }}resources/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">

		{% block header %} {% endblock %}

	</head>

	<body>
<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="{{ MEDIA_URL }}images/logowhite.png" height="25px"></a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="/teaching/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/teaching/list/">Workshop list</a></li>
								<li><a href="/teaching/printlist/">Printable workshop list</a></li>
								<li><a href="/teaching/new/">Create new event</a></li>
								<li><a href="/teaching/quickentry/">Quick workshop entry</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/progress/">Progress towards goal</a></li>
								<li><a href="/globalreports/">Reporting</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/teaching/schools/">Schools</a></li>
								<li><a href="/teaching/schoolsdirectory/{{user.chapter.myrobogals_url}}/">Schools directory</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="/chapters/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chapters <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/chapters/{{ user.chapter.myrobogals_url }}/">View my chapter</a></li>
								<li><a href="/chapters/">List all chapters</a></li>
								<li><a href="/chapters/{{ user.chapter.myrobogals_url }}/edit/">Edit my chapter</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/chapters/{{ user.chapter.myrobogals_url }}/edit/users/">Manage members</a></li>
								<li><a href="/chapters/{{ user.chapter.myrobogals_url }}/lists/">Manage lists</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/conferences/">Manage SINE RSVP</a></li>
								<li><a href="/chapters/{{ user.chapter.myrobogals_url }}/websitedetails/">View website details</a></li>
								<li><a href="/chapters/localtimes/">Current local times</a></li>
								<li><a href="/chapters/awards/">View chapter awards</a></li>
							</ul>
						</li>
						<li><a href="#">Wiki</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="/profile/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg" aria-hidden="true"></i><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/profile/">View profile</a></li>
								<li><a href="/profile/edit/">Edit profile</a></li>
								<li><a href="/profile/contactdirectory/">Contacts</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<!-- Begin page content -->
		<div class="container">
			<div class="row">
					<h1>{% block pagetitle %} {% endblock %}</h1>
					{% block content %} {% endblock %}

					{% for message in messages %} {% autoescape off %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="error">{{ message }} </div>
						{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
								<div class="alert">{{ message }} </div>
						{% else %}
								<div class="message">{{ message }} </div>
						{% endif %} {% endautoescape %}
					{% endfor %}
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
				<select>
			<option value="english">English</option>
			<option value="japanese">Japanese</option>
		</select><br>
		&copy; Robogals 2010-2017<br>
				<a href="#">Credits</a> | <a href="#">Support</a> | <a href="#">robogals.org</a></p>
			</div>
		</footer>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ MEDIA_URL }}resources/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
