{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Changelogs" %}{% endblock %}

{% block pagetitle %}{% trans "Changelogs" %}{% endblock %}

{% block content %}
<h2>2017-02-22: Updates</h2>
<p>
    We've recently added a changelogs page to keep everyone updated on what we're doing with myRobogals. Keep an eye out on this page to keep up to date with changes made to the website!
<ul>
<li> Given the ability to add a police check number to a user's profile page, which is the number that is required for volunteers to be able to teach kids. It then sends an email to the executive committee members of the chapter to confirm their numbers and mark them as 'Pass Police Check' when they've changed or entered a number. To enable this feature, please email <a href="mailto:support@robogals.org">support@robogals.org</a>. </li>
<li> Added favicon. </li>
<li> Removed forums and files temporarily seeing as this section isn't being used at the moment. It will be added back as soon as the rest of the website has been revamped. </li>
</ul>
</p>

<h2>2017-01-01: New Year, New myRobogals!</h2>
<p>We have recently done a much needed upgrade of myRobogals. This means that it will now be easier to maintain and build upon in the future. However, with the upgrade, there will be some pages that will be broken as a result. So we will need your help to report any broken links and bugs to  <a href="mailto:support@robogals.org">support@robogals.org</a>, and we will have them fixed as quickly as we can. 
</p>
{% endblock %}

<!--
Changelog Template, newest updates at the top
<h2>2017-02-05: Updates</h2>
<p>
    There has been some changes with the the current profile page of users
<ul>
<li> This is an item that was changed </li>
<li> This is an item that was changed </li>
<li> This is an item that was changed </li>
<li> This is an item that was changed </li>
</ul>
</p>
-->