{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% block title %}{% trans "Progress towards goals" %}{% endblock %}

{% block pagetitle %}{% trans "Progress towards goals" %}{% endblock %}

{% block content %}
<p>{% trans "This page shows progress towards the goals set at the SINE! The measure used is the number of girls to whom you've taught robotics workshops, in both metro and regional areas, counting a first visit as 1 and repeat visits as 0.5. This is the measure used to determine the &quot;Most Girls Taught&quot; award. To see current stats for other measures, please see Workshops > Reporting." %}</p>
	<table>
	{% if root_chapter.0.goal %}
		<tr>
			<td style="padding-right:20px;">{{ root_chapter.0.short }}</td>
			<td>
				<div style="float:left;width:{{bar_length_px}}px;height:20px;background-color:#CCCCCC;position:relative;top:11px"><div style="float:left;width:{% widthratio root_chapter.1 root_chapter.0.goal bar_length_px %}px;height:20px;background-color:#1366A3"></div></div>
				<div style="float:left;position:relative;top:9px">
					<big>&nbsp;&nbsp;{% intthous root_chapter.1 %} / {% thous root_chapter.0.goal %} ({% widthratio root_chapter.1 root_chapter.0.goal 100 %}%)</big>
					<br/>&nbsp;
					<span style="position:relative;top:-10px;">
						<sub>since {{root_chapter.0.goal_start|date:_("d M Y")}}</sub>
					</span>
				</div>
			</td>
		</tr>
	{% else %}
		<tr>
			<td style="padding-right:20px;"><strong>There are no goals set!</strong></td>
		</tr>
	{% endif %}
	{% for list in listing %}
		{% if list.child.0.status != 2 %}
			{% if list.child.0.goal %}
				{% if list.grandchildren %}
				<tr><td colspan="2"><h3>{{ list.child.0.short }}</h3></td></tr>
				{% endif %}
					<tr>
						<td style="padding-right:20px;">{{ list.child.0.short }}</td>
						<td>
							<div style="float:left;width:{{bar_length_px}}px;height:20px;background-color:#CCCCCC;position:relative;top:11px"><div style="float:left;width:{% widthratio list.child.1 list.child.0.goal bar_length_px %}px;height:20px;background-color:#1366A3"></div></div>
							<div style="float:left;position:relative;top:9px">
								<big>&nbsp;&nbsp;{% intthous list.child.1 %} / {% thous list.child.0.goal %} ({% widthratio list.child.1 list.child.0.goal 100 %}%)</big>
								<br/>&nbsp;
								<span style="position:relative;top:-10px;">
									<sub>since {{list.child.0.goal_start|date:_("d M Y")}}</sub>
								</span>
							</div>
						</td>
					</tr>
				{% for grandchild in list.grandchildren %}
					{% if grandchild.0.status != 2 %}
						{% if grandchild.0.goal %}
						<tr>
							<td style="padding-right:20px;">{{ grandchild.0.short }}</td>
							<td>
								<div style="float:left;width:{{bar_length_px}}px;height:20px;background-color:#CCCCCC;position:relative;top:11px"><div style="float:left;width:{% widthratio grandchild.1 grandchild.0.goal bar_length_px %}px;height:20px;background-color:#1366A3"></div></div>
								<div style="float:left;position:relative;top:9px">
									<big>&nbsp;&nbsp;{% intthous grandchild.1 %} / {% thous grandchild.0.goal %} ({% widthratio grandchild.1 grandchild.0.goal 100 %}%)</big>
									<br/>&nbsp;
									<span style="position:relative;top:-10px;">
										<sub>since {{grandchild.0.goal_start|date:_("d M Y")}}</sub>
									</span>
								</div>
							</td>
						</tr>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
{% endblock %}
