{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% block title %}{{chapter.name}}{% endblock %}

{% block pagetitle %}{{chapter.name}}{% endblock %}

{% block content %}
<div style="float: right">
{% if officers %}
<div style="background: #CCCCCC; padding: 10px; width: 220px; margin-bottom: 15px; margin-left: 15px">
<div style="text-align: center">{% trans "Executive Committee" %}</div>
{% for officer in officers %}
<div style="margin-top: 7px"><a href="/profile/{{officer.user.username}}/">{{officer.user.get_full_name}}</a><br />
<span style="font-size: 9pt; font-style: italic">{{officer.positionType}}</span></div>
{% endfor %}
</div>
{% endif %}
<div style="background: #CCCCCC; padding: 10px; width: 220px; margin-bottom: 15px; margin-left: 15px">
<div style="text-align: center">{% trans "Current members:" %} <strong>{% thous chapter.membercount_student %}</strong>
<br>{% trans "All-time members:" %} <strong>{% thous chapter.membercount %}</strong></div>
</div>
{% if user.is_staff %}{% ifequal user.chapter chapter %}
<div style="background: #CCCCCC; padding: 10px; width: 220px; margin-left: 15px">
<div style="text-align: center"><a href="edit/">{% trans "Edit this chapter" %}</a><br /><a href="edit/users/">{% trans "Manage members" %}</a></div>
</div>
{% else %}
{% if user.is_superuser %}
<div style="background: #CCCCCC; padding: 10px; width: 220px; margin-left: 15px">
<div style="text-align: center"><a href="edit/">{% trans "Edit this chapter" %}</a><br /><a href="edit/users/">{% trans "Manage members" %}</a></div>
</div>
{% endif %}{% endifequal %}{% endif %}
</div>
{% if chapter.photo %}
<img src="{{chapter.photo.url}}" style="margin-bottom: 15px"><br />
{% endif %}
{% if chapter.university %}<span style="font-size: 12pt"><strong>{% trans "Host university:" %}</strong> {{chapter.university}}<br /><strong>Location:</strong> {{chapter.location}}</span><br /> <br />{% endif %}
<strong>{% trans "Established:" %}</strong> {{chapter.creation_date|date:_("DATE_FORMAT_NODAY")}}<br />
{% if chapter.parent %}<strong>{% trans "Parent:" %}</strong> <a href="/chapters/{{chapter.parent.myrobogals_url}}/">{{chapter.parent.name}}</a><br />{% endif %}
<br />
{% if chapter.faculty_contact %}<strong>{% trans "Faculty contact:" %}</strong><br />{{chapter.faculty_contact}}<br />{{chapter.faculty_position}}<br />{{chapter.faculty_department}}<br />
<br />
{% endif %}
{% if chapter.infobox %}<strong>{% trans "About us:" %}</strong><br />
{% autoescape off %}
{{chapter.infobox}}<br />
{% endautoescape %}
<br />
{% endif %}

{% if recipients %}
<strong>{% trans "Awards:" %}</strong><br />
{% autoescape off %}
{% for recipient in recipients %}
{% ifequal recipient.award.award_type 0 %}
<img src="{{MEDIA_URL}}/images/trophy-g.jpg" width=26 height=34 align=absmiddle>
{% else %}
<img src="{{MEDIA_URL}}/images/trophy-s.jpg" width=26 height=34 align=absmiddle>
{% endifequal %}
<a href="/chapters/awards/{{recipient.id}}/">{{recipient.award.award_name}}{% trans " (" %}{{recipient.get_region_display}}{% trans ") " %}{{recipient.year}}</a><br />
<br />
{% endfor %}
{% endautoescape %}
{% endif %}

{% if not user.id and chapter.is_joinable %}<a href="/join/{{chapter.myrobogals_url}}/">{% blocktrans %}Join {{chapter}}{% endblocktrans %}</a><br />{% endif %}
{% if chapter.website_url %}<a href="{{chapter.website_url}}">{% blocktrans %}Visit {{chapter}}'s website{% endblocktrans %}</a><br />{% endif %}
{% if chapter.facebook_url %}<a href="{{chapter.facebook_url}}">{% blocktrans %}Visit {{chapter}} on Facebook{% endblocktrans %}</a>{% endif %}
{% endblock %}
