{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Chapter awards" %}{% endblock %}

{% block pagetitle %}{% trans "Chapter awards" %}{% endblock %}

{% block content %}


{% for year,regions in award_dic %}
<h5><strong>{{ year }}</strong></h5>
	{% for region,recipients in regions.items %}
		{% if recipients %}
			<ul><li><span style="font-size: 11pt">{{ region }}</span>
			{% for recipient in recipients %}
				<ul><li>
				{% ifequal recipient.award.award_type 0 %}
				<img src="{{MEDIA_URL}}/images/trophy-g.jpg" width=26 height=34 align=absmiddle>
				{% else %}
				<img src="{{MEDIA_URL}}/images/trophy-s.jpg" width=26 height=34 align=absmiddle>
				{% endifequal %}
				<a href="/chapters/awards/{{recipient.id}}/">{{recipient.award.award_name}}{% trans " : " %}{{recipient.chapter}}</a>
				</li></ul></br>
			{% endfor %}
			</li></ul>
		{% endif %}
	{% endfor %}
{% endfor %}


{% endblock %}