{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans with c.name as chapter %}Edit chapter: {{chapter}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with c.name as chapter %}Edit chapter: {{chapter}}{% endblocktrans %}{% endblock %}

{% block content %}
<form action="/chapters/{{c.myrobogals_url}}/edit/" method="POST">
<a href="/chapters/{{c.myrobogals_url}}/">{% trans "Return to chapter page" %}</a> | <a href="/chapters/{{c.myrobogals_url}}/edit/users/">{% trans "Manage members" %}</a>
<div style="margin-top: 8px; margin-bottom: 8px">
Most options can be modified here, but you will need to contact <strong>support@robogals.org</strong> if you wish to do any of the following:
<ul>
  <li>Modify your chapter's executive committee. This needs to be done manually, because we'll also create/remove their Robogals email address (although their email address can be retained for a while if needed). If required, you can grant someone exec access to myRobogals without giving them an exec position, or have a transition period where both new and old exec will have access to the exec functions of myRobogals. Just let us know what you'd like to do!</li>
  <li>Enable/disable the student number field. It can be optional or compulsory. You can rename it too (e.g. "enrolment number")</li>
  <li>Enable/disable the student union member checkbox. You can rename it too (e.g. "guild member")</li>
  <li>Enable/disable a drop-down menu where people can select a T-shirt size.</li>
  <li>Upload a new photo of your university (must be 320 pixels wide, and approx 200-250 high)</li>
</ul>
</div>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr class="odd">
    <td colspan="2"><strong>{% trans "Basic information" %}</strong></td>
  </tr>
  <tr class="even">
    <td>{% trans "Chapter name" %}</td>
    <td>{{c.name}}</td>
  </tr>
  <tr class="odd">
    <td>{% trans "Location" %}</td>
    <td>{{c.location}}</td>
  </tr>
  <tr class="even">
    <td>{% trans "University" %}</td>
    <td>{{c.university}}</td>
  </tr>
  <tr class="odd">
    <td>{% trans "Established" %}</td>
    <td>{{c.creation_date|date:_("DATE_FORMAT_LONG")}}</td>
  </tr>
  <tr class="even">
    <td>{% trans "Parent" %}</td>
    <td>{{c.parent}}</td>
  </tr>
  <tr class="odd">
    <td>{% trans "Timezone" %}</td>
    <td>{{c.timezone}}</td>
  </tr>
  <tr class="even">
    <td>{% trans "Student number field" %}</td>
    <td>{% if c.student_number_enable %}Enabled, {% if c.student_number_required %}Compulsory{% else %}Optional{% endif %}{% else %}Disabled{% endif %}</td>
  </tr>
{% if c.student_number_enable %}
  <tr class="even">
    <td>{% trans "Student number label" %}</td>
    <td>{{c.student_number_label}}</td>
  </tr>
{% endif %}
  <tr class="odd">
    <td>{% trans "Union member checkbox" %}</td>
    <td>{% if c.student_union_enable %}Enabled, {% if c.student_union_required %}Compulsory{% else %}Optional{% endif %}{% else %}Disabled{% endif %}</td>
  </tr>
{% if c.student_union_enable %}
  <tr class="odd">
    <td>{% trans "Union member label" %}</td>
    <td>{{c.student_union_label}}</td>
  </tr>
{% endif %}
  <tr class="even">
    <td>{% trans "T-shirt drop-down menu" %}</td>
    <td>{% if c.tshirt_enable %}Enabled, {% if c.tshirt_required %}Compulsory{% else %}Optional{% endif %}{% else %}Disabled{% endif %}</td>
  </tr>
</table>
<table>
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Chapter page information" %}</strong></td>
  </tr>
{% for field in formpart1 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top" width="150">{{ field.label_tag }}</td>
    <td>{{ field }}<br /><span style="font-size: 9pt">{{field.help_text}}</span></td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Faculty contact person" %}</strong></td>
  </tr>
{% for field in formpart2 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ field.label_tag }}</td>
    <td>{{ field }}<br /><span style="font-size: 8pt">{{field.help_text}}</span></td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Postal address" %}</strong></td>
  </tr>
{% for field in formpart3 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ field.label_tag }}</td>
    <td>{{ field }}{% if field.help_text %}<br /><span style="font-size: 8pt">{{field.help_text}}</span>{% endif %}</td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Welcome email" %}</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{formpart5.welcome_email_enable}} {{formpart5.welcome_email_enable.label_tag}}</td>
  </tr>
  {% if formpart5.welcome_email_subject.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in formpart5.welcome_email_subject.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px">{% trans "Subject" %}</td>
    <td>{{ formpart5.welcome_email_subject }}</td>
  </tr>
  {% if formpart5.welcome_email_msg.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in formpart5.welcome_email_msg.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top">Message</td>
    <td>{{ formpart5.welcome_email_msg }}</td>
  </tr>
  <tr>
    <td valign="top">HTML</td>
    <td>{{ formpart5.welcome_email_html }} Treat this message as HTML (note that line breaks will <b>not</b> be automatically converted to &lt;br&gt;)</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Workshop invitation email" %}</strong></td>
  </tr>
  {% if formpart6.invite_email_subject.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in formpart6.invite_email_subject.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px">{% trans "Subject" %}</td>
    <td>{{ formpart6.invite_email_subject }}</td>
  </tr>
  {% if formpart6.invite_email_msg.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in formpart6.invite_email_msg.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top">Message</td>
    <td>{{ formpart6.invite_email_msg }}</td>
  </tr>
  <tr>
    <td valign="top">HTML</td>
    <td>{{ formpart6.invite_email_html }} Treat this message as HTML (note that line breaks will <b>not</b> be automatically converted to &lt;br&gt;)</td>
  </tr>
</table>
{% autoescape off %}
<table>
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Miscellaneous settings" %}</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{formpart4.is_joinable}} {{formpart4.is_joinable.label_tag}}</td>
  </tr>
  <tr>
    <td valign="top">{{ formpart4.welcomepage.label_tag }}</td>
    <td>{{ formpart4.welcomepage }}<br><span style="font-size: 9pt">{{ formpart4.welcomepage.help_text }}</span></td>
  </tr>
  <tr>
    <td valign="top">{{ formpart4.joinpage.label_tag }}</td>
    <td>{{ formpart4.joinpage }}<br><span style="font-size: 9pt">{{ formpart4.joinpage.help_text }}</span></td>
  </tr>
  <tr>
  	<td style="vertical-align: top"><a name="cols"></a>{{formpart4.display_columns.label_tag}}</td>
    <td>{{formpart4.display_columns}}</td>
  </tr>
</table>
{% endautoescape %}
<input type="submit" value="Submit" />
</form>
{% endblock %}
