{% extends "base.html" %}
{% load i18n %}
{% block title %}SINEs{% endblock %}

{% block pagetitle %}SINEs{% endblock %}

{% block content %}
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Name" %}</strong></td>
    <td><strong>{% trans "Start" %}</strong></td>
    <td><strong>{% trans "End" %}</strong></td>
    <td><strong>{% trans "RSVP deadline" %}</strong></td>
    <td> </td>
  </tr>
{% for c in confs %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="{{c.url}}" target="_blank">{{c.name}}</a></td>
    <td>{{c.start_date|date:_("DATE_FORMAT")}}</td>
    <td>{{c.end_date|date:_("DATE_FORMAT")}}</td>
    <td>{{c.rsvp_close|date:_("DATE_FORMAT")}}</td>
    <td><a href="/conferences/{{c.pk}}/">{% trans "View/Edit RSVPs" %}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
