{% extends "base.html" %}
{% load i18n %}
{% block title %}RSVPs for {{conf.name}}{% endblock %}

{% block pagetitle %}RSVPs for {{conf.name}}{% endblock %}

{% block content %}

<span class="alert">This form is now closed. To add/modify/remove RSVPs please email mark@robogals.org</span>

<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Name" %}</strong></td>
{% if request.user.is_superuser %}
    <td><strong>{% trans "Chapter" %}</strong></td>
    <td><strong>{% trans "Balance owing" %}</strong></td>
    <td><strong>{% trans "Check in" %}</strong></td>
    <td><strong>{% trans "Check out" %}</strong></td>
{% else %}
    <td><strong>{% trans "Total cost" %}</strong></td>
    <td><strong>{% trans "Balance owing" %}</strong></td>
{% endif %}
    <td> </td>
    <td> </td>
  </tr>
{% for ca in cas %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{ca.first_name}} {{ca.last_name}}</td>
{% if request.user.is_superuser %}
    <td>{{ca.user.chapter}}</td>
    <td>{{ca.balance_owing_formatted|default_if_none:""}}</td>
    <td>{{ca.check_in|default_if_none:""}}</td>
    <td>{{ca.check_out|default_if_none:""}}</td>
{% else %}
    <td>{{ca.total_cost_formatted|default_if_none:"nil"}}</td>
    <td>{{ca.balance_owing_formatted|default_if_none:""}}</td>
{% endif %}
    <td><a href="/conferences/{{conf.pk}}/{{ca.user.username}}/rsvp/">{% trans "Edit RSVP" %}</a></td>
    <td><a href="/conferences/{{conf.pk}}/{{ca.user.username}}/invoice/">{% trans "View Invoice" %}</a></td>
  </tr>
{% endfor %}
</table>
<p align="right"><b>{% trans "Attendees in list:" %} {{ cas.count }}</b></p>
{% if request.user.is_superuser %}
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Night" %}</strong></td>
    <td><strong>{% trans "Male" %}</strong></td>
    <td><strong>{% trans "Female" %}</strong></td>
    <td><strong>{% trans "Unknown" %}</strong></td>
    <td><strong>{% trans "Total" %}</strong></td>
  </tr>
{% for night, data in accommtotals %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{night}}</td>
    <td>{{data.1}}</td>
    <td>{{data.2}}</td>
    <td>{{data.0}}</td>
    <td>{{data.3}}</td>    
  </tr>
{% endfor %}
</table>
</p>
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Activity" %}</strong></td>
    <td><strong>{% trans "People" %}</strong></td>
  </tr>
  <tr class="odd">
    <td>Dreamworld</td>
    <td>{{customtotals.1}}</td>
  </tr>
  <tr class="even">
    <td>Transport to GC</td>
    <td>{{customtotals.2}}</td>
  </tr>
  <tr class="odd">
    <td>Story Bridge</td>
    <td>{{customtotals.0}}</td>
  </tr>
</table>
</p>
<p>
<a href="/conferences/{{conf.pk}}/?accomm=1">View accommodation list</a>
</p>
{% endif %}
<p>
<form action="/conferences/{{conf.pk}}/" method="GET">
To add a new RSVP, enter that person's myRobogals username: <input type="text" name="username"> <input type="submit" value="Submit">
</form>
</p>
{% endblock %}
