{% extends "base_tinymce.html" %}
{% load i18n %}

{% block title %}{% blocktrans with conf_name=conf.name %}Email attendees of {{conf_name}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with conf_name=conf.name %}Email attendees of {{conf_name}}{% endblocktrans %}{% endblock %}

{% block content %}
<form action="/conferences/{{conf.pk}}/email/" method="POST"> {% csrf_token %}
{% if emailform.errors %}
<div class="error">
{% trans "Please correct the following field(s):" %}<br>
{% for error in emailform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>To:</strong></td>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="1" id="invitee_type1" checked="checked" /></td>
            <td style="vertical-align: top"><label for="invitee_type1">{% trans "All attendees" %}</label></td>
        </tr>
        <tr>
            <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="2" id="invitee_type2" /></td>
            <td style="vertical-align: top"><label for="invitee_type2">{% trans "Selected attendees" %}</label></td>
        </tr>
        <tr>
          <table border="0" width="100%" cellpadding="0" cellspacing="0" class="invitee_email_selector invitee_type2">
            <tr>
              <td style="vertical-align: top" width="30">&nbsp;</td>
              <td style="vertical-align: top">{{ emailform.memberselect }}</td>
            </tr>
          </table>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table id="rsvpemail">
  <tr>
    <td valign="top"><strong>{% trans "From:" %}</strong></td>
    <td><span id="from_normal">{{ emailform.from_type }}</span></td>
  </tr>
  <tr>
    <td valign="top" style="width: 50px"><strong>{% trans "Subject:" %}</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Message:" %}</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
</table>
<input type="submit" value="{% trans "Send Email" %}"/>
</form>
{% endblock %}
