{% extends "base.html" %}
{% load i18n %}
{% block title %}{{conf.name}} RSVP for {{username}}{% endblock %}

{% block pagetitle %}{{conf.name}} RSVP for {{username}}{% endblock %}

{% block content %}
<p><a href="/conferences/{{conf_id}}/">{% trans "Return to RSVP list" %}</a></p>
<form action="/conferences/{{conf_id}}/{{username}}/rsvp/" method="POST">
<table>
  <tr>
    <td colspan="2"><strong>{% trans "Conference attendance info" %}</strong><br />{% trans '<span style="color: #ff0000">*</span> required fields' %}</td>
  </tr>

  <tr>
    <td style="vertical-align: top">{% trans "myRobogals account" %} <span style="color: #ff0000">*</span></td>
    <td>{{u.get_full_name}} ({{username}})</td>
  </tr>

  {% if form.first_name.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.first_name.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.first_name.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.first_name }}<br /><span style="font-size: 9pt">{% autoescape off %}{{form.first_name.help_text}}{% endautoescape %}</span></td>
  </tr>

  {% if form.last_name.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.last_name.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.last_name.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.last_name }}</td>
  </tr>

  {% if form.attendee_type.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.attendee_type.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.attendee_type.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.attendee_type }}</td>
  </tr>

  {% if form.outgoing_position.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.outgoing_position.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.outgoing_position.label_tag }}</td>
    <td>{{ form.outgoing_position }}</td>
  </tr>

  {% if form.incoming_position.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.incoming_position.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.incoming_position.label_tag }}</td>
    <td>{{ form.incoming_position }}</td>
  </tr>

  {% if form.tshirt.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.tshirt.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.tshirt.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.tshirt }}</td>
  </tr>

  {% if form.arrival_time.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.arrival_time.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.arrival_time.label_tag }}</td>
    <td>{{ form.arrival_time }}</td>
  </tr>

  {% if form.dietary_reqs.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.dietary_reqs.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.dietary_reqs.label_tag }}</td>
    <td>{{ form.dietary_reqs }}</td>
  </tr>
  
  {% if form.comments.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.comments.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.comments.label_tag }}</td>
    <td>{{ form.comments }}</td>
  </tr>

  <tr>
    <td colspan="2"><strong>{% trans "Personal info" %}</strong><br />{% trans '<span style="color: #ff0000">*</span> required fields' %}</td>
  </tr>

  {% if form.email.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.email.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.email.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.email }}</td>
  </tr>
  
  {% if form.mobile.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.mobile.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.mobile.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.mobile }}</td>
  </tr>
  
  {% if form.dob.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.dob.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.dob.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.dob }}<br /><span style="font-size: 9pt">{{form.dob.help_text}}</span></td>
  </tr>

  {% if form.gender.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.gender.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.gender.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.gender }}</td>
  </tr>

<!--  <tr>
    <td colspan="2">{{ form.update_account }} {{ form.update_account.label_tag }}</td>
  </tr> -->

  <tr>
    <td colspan="2"><strong>{% trans "Emergency contact person" %}</strong><br />{% trans '<span style="color: #ff0000">*</span> required fields' %}</td>
  </tr>

  {% if form.emergency_name.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.emergency_name.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.emergency_name.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.emergency_name }}</td>
  </tr>
  
  {% if form.emergency_number.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.emergency_number.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.emergency_number.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.emergency_number }}</td>
  </tr>
  
  {% if form.emergency_relationship.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.emergency_relationship.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ form.emergency_relationship.label_tag }} <span style="color: #ff0000">*</span></td>
    <td>{{ form.emergency_relationship }}</td>
  </tr>
</table>
<p>&nbsp;</p>
<table border="1" rules="NONE" width="90%" frame="BOX" cellpadding="10" cellspacing="0">
  <tr>
    <td><strong>{% trans "Part" %}</strong></td>
    <td><strong>{% trans "Cost" %}</strong></td>
    <td><strong>{% trans "Attending" %}</strong></td>
  </tr>
{% for p in all_parts %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><strong>{{p.title}}</strong><br>
    {% autoescape off %}
    {{p.details}}
    {% endautoescape %}
    </td>
    <td>{{p.cost_formatted}}</td>
    <td><input type="checkbox" name="part{{p.pk}}" value="1" {% if p.pk in sel_parts %}checked="checked"{% endif %}></td>
  </tr>
{% endfor %}
</table>
<p>&nbsp;</p>
<input type="submit" value="Submit" />
</form>
{% endblock %}
