{% load i18n %}
<html>
<head>
  <title>Robogals SINE accommodation list</title>
</head>
<body>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Name" %}</strong></td>
    <td><strong>{% trans "Chapter" %}</strong></td>
    <td><strong>{% trans "Gender" %}</strong></td>
    <td><strong>{% trans "Date of birth" %}</strong></td>
    <td><strong>{% trans "Check in" %}</strong></td>
    <td><strong>{% trans "Check out" %}</strong></td>
{% if 'hideother' not in request.GET %}
    <td><strong>{% trans "Dreamworld" %}</strong></td>
    <td><strong>{% trans "Transport to GC" %}</strong></td>
    <td><strong>{% trans "Story Bridge" %}</strong></td>
{% endif %}
  </tr>
{% for ca in cas %}
{% if 'hideother' not in request.GET or ca.check_in %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{ca.first_name}} {{ca.last_name}}</td>
    <td>{{ca.user.chapter}}</td>
    <td>{{ca.get_gender_display|default_if_none:""}}</td>
    <td>{{ca.dob|date:_("DATE_FORMAT_NODAY")}}</td>
    <td>{{ca.check_in|default_if_none:""}}</td>
    <td>{{ca.check_out|default_if_none:""}}</td>
{% if 'hideother' not in request.GET %}
    <td>{% if ca.custom2 %}Yes{% endif %}</td>
    <td>{% if ca.custom3 %}Yes{% endif %}</td>
    <td>{% if ca.custom1 %}Yes{% endif %}</td>
{% endif %}
  </tr>
{% endif %}
{% endfor %}
</table>
{% if 'hideother' not in request.GET %}
<p><b>{% trans "Attendees in list:" %} {{ cas.count }}</b></p>
{% endif %}
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Night" %}</strong></td>
    <td><strong>{% trans "Male" %}</strong></td>
    <td><strong>{% trans "Female" %}</strong></td>
{% if 'hideother' not in request.GET %}
    <td><strong>{% trans "Unknown" %}</strong></td>
{% endif %}
    <td><strong>{% trans "Total" %}</strong></td>
  </tr>
{% for night, data in accommtotals %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{night}}</td>
    <td>{{data.1}}</td>
    <td>{{data.2}}</td>
{% if 'hideother' not in request.GET %}
    <td>{{data.0}}</td>
{% endif %}
    <td>{{data.3}}</td>    
  </tr>
{% endfor %}
</table>
</p>
{% if 'hideother' not in request.GET %}
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Activity" %}</strong></td>
    <td><strong>{% trans "People" %}</strong></td>
  </tr>
  <tr class="odd">
    <td>Dreamworld</td>
    <td>{{customtotals.1}}</td>
  </tr>
  <tr class="even">
    <td>Transport to GC</td>
    <td>{{customtotals.2}}</td>
  </tr>
  <tr class="odd">
    <td>Story Bridge</td>
    <td>{{customtotals.0}}</td>
  </tr>
</table>
</p>
{% endif %}
</body>
</html>
