{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% block title %}RSVPs for {{conf.name}}{% endblock %}

{% block pagetitle %}RSVPs for {{conf.name}}{% endblock %}

{% block content %}

{% if conf.is_open %}
{% blocktrans with time=conf.rsvp_close|timezone:conf.timezone.description|date:_("DATETIME_FORMAT") timezone=conf.timezone_desc local_time=conf.rsvp_close|localtime|date:_("DATETIME_FORMAT") %}<strong>Registration closes at:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;{{time}} ({{timezone}})<br><strong>Which in your local time is:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;{{local_time}}{% endblocktrans %}<br>&nbsp;
{% else %}
<span class="alert">{{conf.closed_msg}}</span>
{% endif %}
{% if not user.is_superuser %}
<p><strong>RSVPs from {{user.chapter}}:</strong></p>
{% endif %}
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Name" %}</strong></td>
{% if user.is_superuser %}
    <td><strong>{% trans "Chapter" %}</strong></td>
{% if conf.enable_invoicing %}
    <td><strong>{% trans "Balance owing" %}</strong></td>
{% endif %}
    <td><strong>{% trans "Check in" %}</strong></td>
    <td><strong>{% trans "Check out" %}</strong></td>
{% else %}
{% if conf.enable_invoicing %}
    <td><strong>{% trans "Total cost" %}</strong></td>
    <td><strong>{% trans "Balance owing" %}</strong></td>
{% endif %}
{% endif %}
    <td> </td>
{% if conf.enable_invoicing %}
    <td> </td>
{% endif %}
  </tr>
{% for ca in cas %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{ca.first_name}} {{ca.last_name}}</td>
{% if user.is_superuser %}
    <td>{{ca.user.chapter}}</td>
{% if conf.enable_invoicing %}
    <td>{{ca.balance_owing_formatted|default_if_none:""}}</td>
{% endif %}
    <td>{{ca.check_in|default_if_none:""}}</td>
    <td>{{ca.check_out|default_if_none:""}}</td>
{% else %}
{% if conf.enable_invoicing %}
    <td>{{ca.total_cost_formatted|default_if_none:"nil"}}</td>
    <td>{{ca.balance_owing_formatted|default_if_none:""}}</td>
{% endif %}
{% endif %}
    <td><a href="/conferences/{{conf.pk}}/{{ca.user.username}}/rsvp/">{% trans "Edit RSVP" %}</a></td>
{% if conf.enable_invoicing %}
    <td><a href="/conferences/{{conf.pk}}/{{ca.user.username}}/invoice/">{% trans "View Invoice" %}</a></td>
{% endif %}
  </tr>
{% endfor %}
</table>
<p align="right"><b>{% trans "Attendees in list:" %} {{ cas.count }}</b></p>
{% if user.is_superuser %}
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Night" %}</strong></td>
    <td><strong>{% trans "Male" %}</strong></td>
    <td><strong>{% trans "Female" %}</strong></td>
{#    <td><strong>{% trans "Unknown" %}</strong></td>  #}
    <td><strong>{% trans "Total" %}</strong></td>
  </tr>
{% for night, data in accommtotals %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{night}}</td>
    <td>{{data.1}}</td>
    <td>{{data.2}}</td>
{#    <td>{{data.0}}</td>  #}
    <td>{{data.3}}</td>    
  </tr>
{% endfor %}
</table>
</p>
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "No of nights" %}</strong></td>
    <td><strong>{% trans "Male" %}</strong></td>
    <td><strong>{% trans "Female" %}</strong></td>
    <td><strong>{% trans "Total" %}</strong></td>
  </tr>
{% for night, data in accommtotals_nights %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{night}}</td>
    <td>{{data.1}}</td>
    <td>{{data.2}}</td>
    <td>{{data.3}}</td>
  </tr>
{% endfor %}
</table>
</p>
{% if not hide_all_custom %}
<p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Activity" %}</strong></td>
    <td><strong>{% trans "People" %}</strong></td>
  </tr>
{% ifnotequal conf.custom1_setting 0 %}
  <tr class="odd">
    <td>{{conf.custom1_label}}</td>
    <td>{{customtotals.0}}</td>
  </tr>
{% endifnotequal %}
{% ifnotequal conf.custom2_setting 0 %}
  <tr class="even">
    <td>{{conf.custom2_label}}</td>
    <td>{{customtotals.1}}</td>
  </tr>
{% endifnotequal %}
{% ifnotequal conf.custom3_setting 0 %}
  <tr class="odd">
    <td>{{conf.custom3_label}}</td>
    <td>{{customtotals.2}}</td>
  </tr>
{% endifnotequal %}
{% ifnotequal conf.custom4_setting 0 %}
  <tr class="even">
    <td>{{conf.custom4_label}}</td>
    <td>{{customtotals.3}}</td>
  </tr>
{% endifnotequal %}
{% ifnotequal conf.custom5_setting 0 %}
  <tr class="odd">
    <td>{{conf.custom5_label}}</td>
    <td>{{customtotals.4}}</td>
  </tr>
{% endifnotequal %}
</table>
</p>
{% endif %}
<p>
<a href="/conferences/{{conf.pk}}/?accomm=1">View printable list</a> | <a href="/conferences/{{conf.pk}}/nametags.csv">Get CSV file for nametags</a> | <a href="/conferences/{{conf.pk}}/email/">{% trans "Email attendees" %}</a> 
</p>
{% endif %}
<p>
To RSVP for yourself ({{user.get_full_name}}), please <a href="/conferences/{{conf.pk}}/{{user.username}}/rsvp/">click here</a>
</p>
<p>
<form action="/conferences/{{conf.pk}}/" method="GET"> {% csrf_token %}
To RSVP for someone else, enter that person's myRobogals username: <input type="text" name="username"> <input type="submit" value="Submit">
</form>
</p>
<p>
To remove someone who has already registered, please contact your Regional Director as that person may already have been booked for accommodation and other activities, and we need to make sure that we cancel any such bookings.
</p>
{% endblock %}
