<html>
<head>
  <title>Robogals invoice</title>
</head>
<body style="font-family: Tahoma, sans-serif">

<table border="0" width="600px" align="center" cellpadding="2" cellspacing="2">
<tr>
<td style="vertical-align: top">

<span style="font-size: 12pt"><strong>Robogals Global</strong></span><br />
<span style="font-size: 8.5pt">(Robogals Inc.)<br />
ABN: 91 316 998 421<br />
Vic association no: A0051829M<br />
<br />
Room 404, Walter Boas Building, Wilson Ave<br />
University of Melbourne VIC 3010<br />
<br />
Email: accounts@robogals.org<br />
Web: www.robogals.org<br />
Post: PO Box 4435, Parkville VIC 3052<br />
&nbsp;<br />
&nbsp;<br />
TO:<br />
{{ca.first_name}} {{ca.last_name}}<br />
{{ca.user.chapter.name}}<br />
&nbsp;<br />
&nbsp;</span>
</td>

<td style="text-align: right; vertical-align: top">
<span style="font-size: 20pt"><strong>TAX INVOICE</strong></span><br />
<br />
<br />
<span style="font-size: 8.5pt">INVOICE NUMBER: C{{ca.pk|stringformat:"05d"}}<br />
DATE: {{ca.rsvp_time|date:"d M Y"|upper}}</span>

</td>
</tr>

<tr>

<td colspan="2">

<table width="100%" border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="80%" style="text-align: center"><strong><span style="font-size: 8pt">DESCRIPTION</span></strong></td>
<td style="text-align: center"><strong><span style="font-size: 8pt">AMOUNT</span></strong></td>
</tr>

{% for part in ca.parts_attending.all %}
<tr>
<td><span style="font-size: 8.5pt">{{part.title}}</span></td>
<td style="text-align: right"><span style="font-size: 8.5pt">{{part.cost_formatted}}</span></td>
</tr>
{% endfor %}

<tr>
<td><span style="font-size: 8.5pt"><em>Includes GST</em></span></td>
<td style="text-align: right"><span style="font-size: 8.5pt"><em>{{ca.total_gst_formatted}}</em></span></td>
</tr>

<tr>
<td><span style="font-size: 8.5pt"><strong>Total</strong></span></td>
<td style="text-align: right"><span style="font-size: 8.5pt"><strong>{{ca.total_cost_formatted}}</strong></span></td>
</tr>

{% for payment in ca.conferencepayment_set.all %}
<tr>
<td><span style="font-size: 8.5pt">{{payment.get_payment_method_display}} on {{payment.date|date:"d M Y"}}</span></td>
<td style="text-align: right"><span style="font-size: 8.5pt">{{payment.amount_formatted}}</span></td>
</tr>
{% empty %}
<tr>
<td><span style="font-size: 8.5pt">Amount paid</span></td>
<td style="text-align: right"><span style="font-size: 8.5pt">$0.00</span></td>
</tr>
{% endfor %}

<tr>
<td><span style="font-size: 8.5pt"><strong>Balance owing</strong></span></td>
<td style="text-align: right"><span style="font-size: 8.5pt"><strong>{{ca.balance_owing_formatted}}</strong></span></td>
</tr>



</table>

</td>

</tr>

<tr>

<td colspan="2">


<span style="font-size: 8.5pt">&nbsp;<br />Payment methods:</span>
<ul>
  <li><span style="font-size: 8.5pt"><em><strong>Preferred:</strong></em> Direct deposit: BSB: 083-457  Acct #: 82-315-3665  Reference: C{{ca.pk|stringformat:"05d"}}; or</span></li>
  <li><span style="font-size: 8.5pt">Cheque or money order made payable to &quot;Robogals Inc.&quot; posted to PO Box 4435, Parkville VIC 3052; or</span></li>
  <li><span style="font-size: 8.5pt">PayPal to sciencechallenge@robogals.org - if using this option you must charge the PayPal fees to yourself</span></li>
</ul>
</td>

</tr>

</body>
</html>
