{% extends "base.html" %}

{% block title %}Credits{% endblock %}

{% block pagetitle %}<img src="{{MEDIA_URL}}/myrobogals-big.jpg">{% endblock %}

{% block content %}
<strong>myRobogals version 1.0 beta<br>
&copy; 2010 Robogals Global</strong><br>
<br>
Concept:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/marita/">Marita Cheng</a><br>
<br>
Project management:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/mark/">Mark Parncutt</a><br>
<br>
Software engineering:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/mark/">Mark Parncutt</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/qc/">Quynh-Chi Nguyen</a><br>
<br>
<br>
<a href="http://www.djangoproject.com/"><img src="{{MEDIA_URL}}/djangopowered.gif" border="0"></a>
{% endblock %}
