{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Credits" %}{% endblock %}

{% block pagetitle %}{% trans "Credits" %}{% endblock %}

{% block content %}
<img src="{{MEDIA_URL}}/images/myrobogals-credits.jpg"><br>
<strong>Version 1.1<br>
&copy; 2010-2011 Robogals Global</strong><br>
<br>
{% trans "Contributors:" %}<br>
<a href="/profile/mark/">Mark Parncutt</a> (project manager, Jan-Nov '10, Aug '11 - present)<br>
<a href="/profile/hamish/">Hamish Graham</a> (project manager, Nov '10 - Aug '11)<br>
<a href="/profile/qc/">Quynh-Chi Nguyen</a><br>
<a href="/profile/makiko/">Makiko Nagasawa</a><br>
<a href="/profile/paul/">Paul Madsen</a><br>
<br>
<br>
<a href="http://www.djangoproject.com/"><img src="{{MEDIA_URL}}/djangopowered.gif" border="0"></a>
{% endblock %}
