{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Credits" %}{% endblock %}

{% block pagetitle %}{% trans "Credits" %}{% endblock %}

{% block content %}
<img src="{{MEDIA_URL}}/images/myrobogals-credits.jpg"><br>
<strong>Version 1.0 beta<br>
&copy; 2010-2011 Robogals Global</strong><br>
<br>
{%trans "Concept:" %}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/marita/">Marita Cheng</a><br>
<br>
{%trans "Project manager:" %}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/mark/">Mark Parncutt</a> (Feb 2010 - Oct 2010)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/hamish/">Hamish Graham</a> (Nov 2010 - present)<br>
<br>
{% trans "Software engineers:"}<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/mark/">Mark Parncutt</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/hamish/">Hamish Graham</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/qc/">Quynh-Chi Nguyen</a><br>
<br>
<br>
<a href="http://www.djangoproject.com/"><img src="{{MEDIA_URL}}/djangopowered.gif" border="0"></a>
{% endblock %}
