{% extends "base.html" %}
{% load i18n %}
{% block title %}{% if new %}{% trans "Create new list" %}{% else %}{% trans "Edit list:" %} {{userlist}}{% endif %}{% endblock %}

{% block pagetitle %}{% if new %}{% trans "Create new list" %}{% else %}{% trans "Edit list:" %}  {{userlist}}{% endif %}{% endblock %}

{% block content %}
{% if new %}
<form action="/chapters/{{chapter.myrobogals_url}}/lists/add/" method="POST"> {% csrf_token %}
{% else %}
<form action="/chapters/{{chapter.myrobogals_url}}/lists/{{list_id}}/edit/" method="POST"> {% csrf_token %}
{% endif %}
<table>
{% if ulform.name.errors %}
{% for error in ulform.name.errors %}
  <tr>
    <td style="vertical-align: top" colspan="2"><div class="error">{{error}}</div></td>
  </tr>
{% endfor %}
{% endif %}
  <tr>
    <td style="vertical-align: top" width="30">{% trans "Name" %}</td>
    <td style="vertical-align: top">{{ ulform.name }}</td>
  </tr>
{% if ulform.users.errors %}
{% for error in ulform.users.errors %}
  <tr>
    <td style="vertical-align: top" colspan="2"><div class="error">{{error}}</div></td>
  </tr>
{% endfor %}
{% endif %}
  <tr>
    <td style="vertical-align: top" width="30">{% trans "Members" %}</td>
    <td style="vertical-align: top">{{ ulform.users }}</td>
  </tr>
{% if ulform.display_columns.errors %}
{% for error in ulform.display_columns.errors %}
  <tr>
    <td style="vertical-align: top" colspan="2"><div class="error">{{error}}</div></td>
  </tr>
{% endfor %}
{% endif %}
  <tr>
    <td style="vertical-align: top" width="30">{% trans "Columns to display" %}</td>
    <td style="vertical-align: top">{{ ulform.display_columns }}</td>
  </tr>
{% if ulform.notes.errors %}
{% for error in ulform.notes.errors %}
  <tr>
    <td style="vertical-align: top" colspan="2"><div class="error">{{error}}</div></td>
  </tr>
{% endfor %}
{% endif %}
  <tr>
    <td style="vertical-align: top" width="30">{% trans "Notes" %}</td>
    <td style="vertical-align: top">{{ ulform.notes }}</td>
  </tr>
  <tr>
    <td style="vertical-align: top" width="30">&nbsp;</td>
    <td style="vertical-align: top"><input type="submit" value="Submit" /></td>
  </tr>
</table>
</form>
{% endblock %}
