{% extends "base_tinymce.html" %}
{% load i18n %}

{% block title %}{% trans "Send bulk email" %}{% endblock %}

{% block pagetitle %}{% trans "Send bulk email" %}{% endblock %}

{% block content %}
<script>
function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default, if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    form.setAttribute("target", "_blank");

    for (var key in params) {
        if (params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

function previewEmail() {
	var header = document.getElementById("id_header_list").value;
	if ((document.getElementById("id_body").style.display !== "none")) {
		var msg = document.getElementById("id_body").value;
	} else {
		var msg = escape(iframeElem.contentDocument.getElementById("tinymce").innerHTML);
	}
	post_to_url("/messages/previewemail/", {"header": header, "msg": msg}, "post");
}
</script>
<form action="/messages/email/write/" method="POST">
{% if emailform.errors %}
<div class="error">
{% trans "Please correct the following field(s)" %}:<br>
{% for error in emailform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>To:</strong></td>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
{% if request.user.is_superuser %}
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="1" id="type1" disabled="disabled" /></td>
          <td style="vertical-align: top"><label for="type1"><span style="text-decoration: line-through">{% trans "All members who have opted to receive email from the following chapters" %}</span></label></td>
{% else %}
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="1" id="type1" {% ifequal typesel '1' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type1">{% blocktrans %}All members of {{ chapter }} who have opted to receive email{% endblocktrans %}</label></td>
{% endif %}
        </tr>
{% if request.user.is_superuser %}
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_chapters">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.chapters }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
{% endif %}
        <tr>
{% if request.user.is_superuser %}
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="2" id="type2" {% ifequal typesel '2' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type2">{% trans "Executive committee members of the following chapters" %}</label></td>
{% else %}
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="2" id="type2" {% ifequal typesel '2' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type2">{% blocktrans %}Executive committee members of {{ chapter }}{% endblocktrans %}</label></td>
{% endif %}
        </tr>
{% if request.user.is_superuser %}
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_exec">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.chapters_exec }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
{% endif %}
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="5" id="type5" {% ifequal typesel '5' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type5">{% trans "To a member list" %}</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_lists">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top"><b>N.B.</b>{% trans  "Message will only be sent to list members who have opted to receive email" %}</td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.list }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="3" id="type3" {% ifequal typesel '3' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type3">{%trans "Select individual members" %}</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_recipients">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top"><b>N.B.</b> {% trans "Only members who have opted to receive email are shown" %}</td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.recipients }}</td>
        </tr>
      </table>
{% if request.user.is_superuser %}
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="4" id="type4" {% ifequal typesel '4' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="type4">{% trans "Send newsletter" %}</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_newsletter">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.newsletters }}</td>
        </tr>
      </table>
{% endif %}
    </td>
  </tr>
</table>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><strong>{% trans "Header:" %}</strong></td>
    <td>{{ emailform.header_list }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Filter by:" %}</strong></td>
    <td><span id="status_normal"><select name="status">
	{% for memberstatustype in memberstatustypes %}
	<option value="{{memberstatustype.id}}" {% ifequal memberstatustype.idstr statussel %}selected="selected"{% endifequal %}>{{memberstatustype.description}}</option>
	{% endfor %}
	<option value="0" {% ifequal '0' statussel %}selected="selected"{% endifequal %}>All</option>
	</select></span>
	<span id="status_newsletter" style="display: none">{% trans "Newsletter subscribers only" %}</span>
    </td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "From:" %}</strong></td>
    <td><span id="from_normal">{{ emailform.from_type }}</span><span id="from_newsletter" style="display: none">{% trans "From address set according to newsletter options" %}</span></td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Subject:" %}</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Message:" %}</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>&nbsp;</strong></td>
    <td><form><input type="button" value="preview email" onclick="previewEmail()"></form></td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Scheduling:" %}</strong></td>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="scheduling" type="radio" value="0" id="sched0" {% ifequal schedsel '0' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="sched0"><span>{% trans "Send immediately" %}</span></label></td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30"><input name="scheduling" type="radio" value="1" id="sched1" {% ifequal schedsel '1' %}checked="checked"{% endifequal %} /></td>
          <td style="vertical-align: top"><label for="sched1"><span>{% trans "Send later" %}</span></label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_scheduling">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{% trans "at" %} {{ emailform.schedule_time }} {% trans "on" %} {{ emailform.schedule_date }}{% if request.user.is_superuser %}<br>{%trans "in" %} {{ emailform.schedule_zone }}{% endif %}<br>If using recipients' timezones for newsletter subscribers who do not have a timezone specified, Melbourne time will be used for them.</td>
        </tr>
      </table>
    </td>
  <tr>
  <tr>
    <td valign="top"><strong>{% trans "Attachments:" %}</strong></td>
    <td>Can be added on the next page</td>
  </tr>
</table>
{# Translation not required for this warning as only Global will see it #}
<div id="newsletter_warning" style="padding: 7px; margin: 7px; background-color: #CC0000; color: #FFFFFF; display: none">
<strong>This newsletter will be sent to thousands of people. If this message is showing, then the option you have selected is the real thing and NOT a test. Please ensure:</strong>
<ul>
  <li>All relevant procedures for this newsletter have been complied with</li>
  <li>An up-to-date web version has been uploaded for people who click "view it online"</li>
  <li>{{email_id}} has been inserted into the email here, but not the "view it online" version</li>
</ul>
</div>
<input type="hidden" name="step" value="1" />
<input type="submit" value="Send Email!" />
</form>
{% endblock %}
