{% extends "base.html" %}

{% block title %}Write email{% endblock %}

{% block pagetitle %}Write new email{% endblock %}

{% block content %}
<form action="/messages/email/write/" method="POST">
{% if emailform.errors %}
{{ emailform.errors }}
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>To:</strong></td>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="1" id="type1" checked="checked" /></td>
{% if request.user.is_superuser %}
          <td style="vertical-align: top"><label for="type1">All members who have opted to receive email from the following chapters </label></td>
{% else %}
          <td style="vertical-align: top"><label for="type1">All members of {{ request.user.chapter }} who have opted to receive email</label></td>
{% endif %}
        </tr>
{% if request.user.is_superuser %}
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_chapters">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.chapters }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
{% endif %}
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="2" id="type2" /></td>
{% if request.user.is_superuser %}
          <td style="vertical-align: top"><label for="type2">Executive committee members of the following chapters</label></td>
{% else %}
          <td style="vertical-align: top"><label for="type2">Executive committee members of {{ request.user.chapter }}</label></td>
{% endif %}
        </tr>
{% if request.user.is_superuser %}
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_exec">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.chapters_exec }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
{% endif %}
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="5" id="type5" /></td>
          <td style="vertical-align: top"><label for="type5">To a member list</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_lists">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top"><b>N.B.</b> Message will only be sent to list members who have opted to receive email</td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.list }}</td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="3" id="type3" /></td>
          <td style="vertical-align: top"><label for="type3">Select individual members</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_recipients">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top"><b>N.B.</b> Only members who have opted to receive email are shown</td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.recipients }}</td>
        </tr>
      </table>
{% if request.user.is_superuser %}
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="type" type="radio" value="4" id="type4" /></td>
          <td style="vertical-align: top"><label for="type4">Send newsletter</label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_newsletter">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">{{ emailform.newsletters }}</td>
        </tr>
      </table>
{% endif %}
    </td>
  </tr>
  <tr>
    <td valign="top"><strong>From:</strong></td>
    <td>{{ emailform.from_type }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>Subject:</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>Message:</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>HTML:</strong></td>
    <td>{{ emailform.html }} Treat this message as HTML (note that line breaks will <b>not</b> be automatically converted to &lt;br&gt;)</td>
  </tr>
</table>
<input type="submit" value="Send Email!" />
</form>
{% endblock %}
