{% extends "base_tinymce.html" %}
{% load i18n %}

{% block title %}{% trans "RSVP to a workshop" %}{% endblock %}

{% block pagetitle %}{% trans "RSVP to a workshop" %}{% endblock %}

{% block content %}
<h4>{{ title_string }}</h4>
<form action="/teaching/{{event_id}}/rsvp/{{user_id}}/{{ rsvp_type }}/" method="POST"> {% csrf_token %}
{% if rsvpform.errors %}
<div class="error">
{% trans "Please correct the following field(s)" %}:<br>
{% for error in rsvpform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<div id="rsvpmessage">
	<p>{{ rsvpform.leave_message }}<label for="leave_message"><strong>{% trans "Leave a message? (optional)" %}</strong></label></p>
	<p>{{ rsvpform.message }}</p>
	<p><input type="submit" value="{{ title_string }}" /></p>
</div>
</form>
{% endblock %}
