{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load showstarrating %}

{% block title %}Set maximum upload file size{% endblock %}

{% block pagetitle %}Set maximum upload file size{% endblock %}

{% block content %}
<form action="/{{apps}}/setmaxuploadfilesize/?return={{return|urlencode}}" method="post"> {% csrf_token %}
<table width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td>{% trans "Maximum file size:" %}</td>
		<td><input type="text" name="maxfilesize" size="34" maxlength="100" value="{{max_size}}"> {% trans "MB" %}</td>
	</tr>
</table>
<p style="clear: both; font-size: 200%;">
<input type="submit" value="{% trans "Set" %}" style="height:50px; width:50px">
</p>
</form>
{% endblock %}
