{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% block title %}{{chapter.name}}{% endblock %}

{% block pagetitle %}{{chapter.name}}{% endblock %}

{% block content %}
<a href="/forums/search/">{% trans "Search" %}</a>

{% if user.is_superuser %}
<div class="round5"><div class="moduletable" style="padding-left: 0px; padding-right: 0px"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner">
<h4 class="module-title">Add new category</h4>
<form action="/forums/newcategory/" method="GET">
{% trans "Category name:" %} <input type="text" name="category">
{% trans "Visibility:" %}
<select name="visibility">
<option value="">{% trans "Global" %}</option>
<option value="{{chapter.pk}}">{% trans "Local" %}</option>
</select>
{% trans "Available to:" %}
<select name="availability">
<option value="public">{% trans "Public" %}</option>
<option value="execonly">{% trans "Exec-Only" %}</option>
</select>
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="{% trans "add" %}">
</form>
</div></div></div></div>
{% endif %}

<div class="round5"><div class="moduletable" style="padding-left: 0px; padding-right: 0px"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner">
<h4 class="module-title">Add new forum</h4>
<form action="/forums/newforum/" method="GET">
{% trans "Forum name:" %} <input type="text" name="forum">
{% trans "Category:" %}
<select name="category">
{% for globExecCategory in globExecCategories %}
<option value="{{globExecCategory.pk}}">{{globExecCategory.get_full_name}}</option>
{% endfor %}
{% for globPubCategory in globPubCategories %}
<option value="{{globPubCategory.pk}}">{{globPubCategory.get_full_name}}</option>
{% endfor %}
{% for localExecCategory in localExecCategories %}
<option value="{{localExecCategory.pk}}">{{localExecCategory.get_full_name}}</option>
{% endfor %}
{% for localPubCategory in localPubCategories %}
<option value="{{localPubCategory.pk}}">{{localPubCategory.get_full_name}}</option>
{% endfor %}
</select>
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="{% trans "add" %}">
</form>
</div></div></div></div>

<table cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
{% for globExecCategory in globExecCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ globExecCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{globExecCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% endif %}
	</tr>
	{% for forum in globExecCategory.forum_set.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a href="/forums/{{ chapter.myrobogals_url }}/forum/{{ forum.pk }}/">{{ forum.name }}</a></td>
		<td>{{ forum.num_topics }}</td>
		<td>{{ forum.num_posts }}</td>
		<td>{{ forum.last_post|linebreaksbr }}</td>
		{% if user.is_superuser %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}images/delete.gif" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	{% if user.is_superuser %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for globPubCategory in globPubCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ globPubCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{globPubCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% endif %}
	</tr>
	{% for forum in globPubCategory.forum_set.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a href="/forums/{{ chapter.myrobogals_url }}/forum/{{ forum.pk }}/">{{ forum.name }}</a></td>
		<td>{{ forum.num_topics }}</td>
		<td>{{ forum.num_posts }}</td>
		<td>{{ forum.last_post|linebreaksbr }}</td>
		{% if user.is_superuser %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}images/delete.gif" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	{% if user.is_superuser %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for localExecCategory in localExecCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ localExecCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{localExecCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% endif %}
	</tr>
	{% for forum in localExecCategory.forum_set.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a href="/forums/{{ chapter.myrobogals_url }}/forum/{{ forum.pk }}/">{{ forum.name }}</a></td>
		<td>{{ forum.num_topics }}</td>
		<td>{{ forum.num_posts }}</td>
		<td>{{ forum.last_post|linebreaksbr }}</td>
		{% if user.is_superuser %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}images/delete.gif" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	{% if user.is_superuser %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for localPubCategory in localPubCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ localPubCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{localPubCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% endif %}
	</tr>
	{% for forum in localPubCategory.forum_set.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a href="/forums/{{ chapter.myrobogals_url }}/forum/{{ forum.pk }}/">{{ forum.name }}</a></td>
		<td>{{ forum.num_topics }}</td>
		<td>{{ forum.num_posts }}</td>
		<td>{{ forum.last_post|linebreaksbr }}</td>
		{% if user.is_superuser %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}images/delete.gif" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	{% if user.is_superuser %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
</table>
{% endblock %}
