{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% block title %}{% trans "Robogals forums" %}{% endblock %}

{% block pagetitle %}{% trans "Robogals forums" %}{% endblock %}

{% block content %}
<p>
<a href="/forums/search/">{% trans "Search" %}</a>
|
<a href="/forums/watchmytopics/?return={{return|urlencode}}">{% trans "Watch all topics I've posted in" %}</a>
|
<a href="/forums/unwatchalltopics/?return={{return|urlencode}}">{% trans "Unwatch all" %}</a>
{% if user.is_superuser %}
|
<a href="/forums/setmaxuploadfilesize/?return={{return|urlencode}}">{% trans "Set max upload file size" %}</a>
{% endif %}
</p>

<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
{% for globExecCategory in globExecCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ globExecCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td width="100">{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{globExecCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% else %}
			{% if canDeleteGlobal %}
				<td>{% trans "Delete" %}</td>
			{% else %}
				{% if user.is_staff %}
					<td></td>
				{% endif %}
			{% endif %}
		{% endif %}
	</tr>
	{% for forum in globExecCategory.forum_set.all %}
	{% if forum not in user.forum_blacklist.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a name="{{forum.pk}}"></a><a href="/forums/forum/{{ forum.pk }}/">{{ forum.name }}</a><br />{% autoescape off %}{{ forum.description }}{% endautoescape %}<br />
		<span style="font-size: 9pt">
		{% if user in forum.watchers.all %}
		{% trans "Watch" %} | <a href="/forums/unwatchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Un-watch" %}</a>
		{% else %}
		<a href="/forums/watchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Watch" %}</a> | {% trans "Un-watch" %}
		{% endif %}
		{% if user.is_superuser or canEditGlobal %} | <a href="/forums/?editForumId={{forum.pk}}#{{forum.pk}}">{% trans "edit" %}</a> | <a href="/forums/showforumoffenses/{{forum.pk}}/">{% trans "offences" %}</a>{% endif %}</td>
		<td>{{ forum.number_of_topics }}</td>
		<td>{{ forum.number_of_posts }}</td>
		<td>{{ forum.last_post_time|date:_("DATETIME_FORMAT") }}<br />{% if forum.last_post_user %} {% trans "by" %} {{ forum.last_post_user.get_full_name }}{% endif %}</td>
		{% if user.is_superuser or canDeleteGlobal %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}/images/delete.png" alt="Delete" /></a></td>
		{% else %}
			{% if user.is_staff %}
				<td></td>
			{% endif %}
		{% endif %}
	</tr>
	{% ifequal editForum forum.pk %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<td colspan="{% if user.is_superuser or user.is_staff %}5{% else %}4{% endif %}">
	<form action="/forums/editforum/{{ forum.pk }}/?return={{return|urlencode}}" method="POST"> {% csrf_token %}
	<table>
	<tr>
		<td>{% trans "new forum name:" %}</td>
		<td><input type="text" name="forum" maxlength="80" size="50" value="{{forum.name}}" /></td>
	</tr>
	<tr>
		<td>{% trans "new description:" %}</td>
		<td><input type="text" name="description" size="50" value="{{forum.description}}" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Edit Forum" /></td>
	</tr>
	</table>
	</form>
	</td>
	</tr>
	{% endifequal %}
	{% endif %}
	{% endfor %}
	{% if user.is_staff  %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for globPubCategory in globPubCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ globPubCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td width="100">{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{globPubCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% else %}
			{% if canDeleteGlobal %}
				<td>{% trans "Delete" %}</td>
			{% else %}
				{% if user.is_staff %}
					<td></td>
				{% endif %}
			{% endif %}
		{% endif %}
	</tr>
	{% for forum in globPubCategory.forum_set.all %}
	{% if forum not in user.forum_blacklist.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a name="{{forum.pk}}"></a><a href="/forums/forum/{{ forum.pk }}/">{{ forum.name }}</a><br />{% autoescape off %}{{ forum.description }}{% endautoescape %}<br />
		<span style="font-size: 8pt">
		{% if user in forum.watchers.all %}
		{% trans "Watch" %} | <a href="/forums/unwatchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Un-watch" %}</a>
		{% else %}
		<a href="/forums/watchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Watch" %}</a> | {% trans "Un-watch" %}
		{% endif %}
		{% if user.is_superuser or canEditGlobal %} | <a href="/forums/?editForumId={{forum.pk}}#{{forum.pk}}">{% trans "edit" %}</a> | <a href="/forums/showforumoffenses/{{forum.pk}}/">{% trans "offences" %}</a>{% endif %}</td>
		<td>{{ forum.number_of_topics }}</td>
		<td>{{ forum.number_of_posts }}</td>
		<td>{{ forum.last_post_time|date:_("DATETIME_FORMAT") }}<br />{% if forum.last_post_user %} {% trans "by" %} {{ forum.last_post_user.get_full_name }}{% endif %}</td>
		{% if user.is_superuser or canDeleteGlobal %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}/images/delete.png" alt="Delete" /></a></td>
		{% else %}
			{% if user.is_staff %}
				<td></td>
			{% endif %}
		{% endif %}
	</tr>
	{% ifequal editForum forum.pk %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<td colspan="{% if user.is_superuser or user.is_staff %}5{% else %}4{% endif %}">
	<form action="/forums/editforum/{{ forum.pk }}/?return={{return|urlencode}}" method="POST"> {% csrf_token %}
	<table>
	<tr>
		<td>{% trans "new forum name:" %}</td>
		<td><input type="text" name="forum" maxlength="80" size="50" value="{{forum.name}}" /></td>
	</tr>
	<tr>
		<td>{% trans "new description:" %}</td>
		<td><input type="text" name="description" size="50" value="{{forum.description}}" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Edit Forum" /></td>
	</tr>
	</table>
	</form>
	</td>
	</tr>
	{% endifequal %}
	{% endif %}
	{% endfor %}
	{% if user.is_staff %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for localExecCategory in localExecCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ localExecCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{localExecCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% else %}
			{% if user.is_staff %}
				<td>{% trans "Delete" %}</td>
			{% endif %}
		{% endif %}
	</tr>
	{% for forum in localExecCategory.forum_set.all %}
	{% if forum not in user.forum_blacklist.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a name="{{forum.pk}}"></a><a href="/forums/forum/{{ forum.pk }}/">{{ forum.name }}</a><br />{% autoescape off %}{{ forum.description }}{% endautoescape %}<br />
		<span style="font-size: 8pt">
		{% if user in forum.watchers.all %}
		{% trans "Watch" %} | <a href="/forums/unwatchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Un-watch" %}</a>
		{% else %}
		<a href="/forums/watchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Watch" %}</a> | {% trans "Un-watch" %}
		{% endif %}
		{% if user.is_staff %} | <a href="/forums/?editForumId={{forum.pk}}#{{forum.pk}}">{% trans "edit"%}</a> | <a href="/forums/showforumoffenses/{{forum.pk}}/">{% trans "offences" %}</a>{% endif %}</td>
		<td>{{ forum.number_of_topics }}</td>
		<td>{{ forum.number_of_posts }}</td>
		<td>{{ forum.last_post_time|date:_("DATETIME_FORMAT") }}<br />{% if forum.last_post_user %} {% trans "by" %} {{ forum.last_post_user.get_full_name }}{% endif %}</td>
		{% if canDeleteGlobal or user.is_staff %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}/images/delete.png" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% ifequal editForum forum.pk %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<td colspan="{% if user.is_superuser or user.is_staff %}5{% else %}4{% endif %}">
	<form action="/forums/editforum/{{ forum.pk }}/?return={{return|urlencode}}" method="POST"> {% csrf_token %}
	<table>
	<tr>
		<td>{% trans "new forum name:" %}</td>
		<td><input type="text" name="forum" maxlength="80" size="50" value="{{forum.name}}" /></td>
	</tr>
	<tr>
		<td>{% trans "new description:" %}</td>
		<td><input type="text" name="description" size="50" value="{{forum.description}}" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Edit Forum" /></td>
	</tr>
	</table>
	</form>
	</td>
	</tr>
	{% endifequal %}
	{% endif %}
	{% endfor %}
	{% if user.is_staff %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
{% for localPubCategory in localPubCategories %}
	<tr style="color:white; background-color:#1366A3">
		<td>{{ localPubCategory.get_full_name }}</td>
		<td>{% trans "Topics" %}</td>
		<td>{% trans "Posts" %}</td>
		<td>{% trans "Last Post" %}</td>
		{% if user.is_superuser %}
		<td><a style="color:white" href="/forums/category/delete/{{localPubCategory.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a></td>
		{% else %}
			{% if user.is_staff %}
				<td>{% trans "Delete" %}</td>
			{% endif %}
		{% endif %}
	</tr>
	{% for forum in localPubCategory.forum_set.all %}
	{% if forum not in user.forum_blacklist.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td><a name="{{forum.pk}}"></a><a href="/forums/forum/{{ forum.pk }}/">{{ forum.name }}</a><br />{% autoescape off %}{{ forum.description }}{% endautoescape %}<br />
		<span style="font-size: 8pt">
		{% if user in forum.watchers.all %}
		{% trans "Watch" %} | <a href="/forums/unwatchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Un-watch" %}</a>
		{% else %}
		<a href="/forums/watchforum/{{forum.pk}}/?return={{return|urlencode}}">{% trans "Watch" %}</a> | {% trans "Un-watch" %}
		{% endif %}
		{% if user.is_staff %} | <a href="/forums/?editForumId={{forum.pk}}#{{forum.pk}}">{% trans "edit" %}</a> | <a href="/forums/showforumoffenses/{{forum.pk}}/">{% trans "offences" %}</a>{% endif %}</td>
		<td>{{ forum.number_of_topics }}</td>
		<td>{{ forum.number_of_posts }}</td>
		<td>{{ forum.last_post_time|date:_("DATETIME_FORMAT") }}<br />{% if forum.last_post_user %} {% trans "by" %} {{ forum.last_post_user.get_full_name }}{% endif %}</td>
		{% if canDeleteGlobal or user.is_staff %}
		<td><a href="/forums/forum/delete/{{forum.pk}}/?return={{return|urlencode}}"><img src="{{ MEDIA_URL }}/images/delete.png" alt="Delete" /></a></td>
		{% endif %}
	</tr>
	{% ifequal editForum forum.pk %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<td colspan="{% if user.is_staff %}5{% else %}4{% endif %}">
	<form action="/forums/editforum/{{ forum.pk }}/?return={{return|urlencode}}" method="POST"> {% csrf_token %}
	<table>
	<tr>
		<td>{% trans "new forum name:" %}</td>
		<td><input type="text" name="forum" maxlength="80" size="50" value="{{forum.name}}"></td>
	</tr>
	<tr>
		<td>{% trans "new description:" %}</td>
		<td><input type="text" name="description" size="50" value="{{forum.description}}"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Edit Forum" /></td>
	</tr>
	</table>
	</form>
	</td>
	</tr>
	{% endifequal %}
	{% endif %}
	{% endfor %}
	{% if user.is_staff %}
	<tr><td colspan="5"></td></tr>
	{% else %}
	<tr><td colspan="4"></td></tr>
	{% endif %}
{% endfor %}
</table>
{% if user.is_staff %}
<div class="round5"><div class="moduletable" style="padding-left: 0px; padding-right: 0px"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner">
<h4 class="module-title">Add new category</h4>
<form action="/forums/newcategory/" method="GET"> {% csrf_token %}
<table>
	<tr>
		<td>{% trans "Category name:" %}</td> <td><input type="text" name="category" size="34" maxlength="80"></td>
	</tr>
	<tr>
		<td>{% trans "Visibility:" %}</td>
		<td>
<select name="visibility">
{% if user.is_superuser %}
<option value="">{% trans "International" %}</option>
{% endif %}
<option value="{{user.chapter.pk}}">{% trans "My chapter only" %}</option>
</select>
</td>
	</tr>
	<tr>
<td>{% trans "Available to:" %}</td>
<td>
<select name="availability">
<option value="public">{% trans "All members" %}</option>
<option value="execonly">{% trans "Exec only" %}</option>
</select>
</td>
</tr>
</table>
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="{% trans "Add Category" %}">
</form>
</div></div></div></div>
{% endif %}

{% if user.is_staff %}
<div class="round5"><div class="moduletable" style="padding-left: 0px; padding-right: 0px"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner">
<h4 class="module-title">Add new forum</h4>
<form action="/forums/newforum/" method="GET"> {% csrf_token %}
<table>
	<tr>
		<td>{% trans "Forum name:" %}</td>
		<td><input type="text" name="forum" maxlength="80" size="50"></td>
	</tr>
	<tr>
		<td>{% trans "Description:" %}</td>
		<td><input type="text" name="description" size="50"></td>
	</tr>
<tr>
<td>{% trans "Category:" %}</td>
<td>
<select name="category">
{% if user.is_superuser or canAddGlobal %}
{% for globExecCategory in globExecCategories %}
<option value="{{globExecCategory.pk}}">{{globExecCategory.get_full_name}}</option>
{% endfor %}
{% for globPubCategory in globPubCategories %}
<option value="{{globPubCategory.pk}}">{{globPubCategory.get_full_name}}</option>
{% endfor %}
{% endif %}
{% for localExecCategory in localExecCategories %}
<option value="{{localExecCategory.pk}}">{{localExecCategory.get_full_name}}</option>
{% endfor %}
{% for localPubCategory in localPubCategories %}
<option value="{{localPubCategory.pk}}">{{localPubCategory.get_full_name}}</option>
{% endfor %}
</select>
</td>
</tr>
</table>
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="{% trans "Add Forum" %}">
</form>
</div></div></div></div>
{% endif %}


<p>
	{% trans "Total number of topics:" %} <strong>{{ total_num_topics }},</strong>
	{% trans "Total number of posts:" %} <strong>{{ total_num_posts }}</strong><br />
	{% trans "Currently online" %} <strong> {{ num_online_users }}: </strong><br /> |
	{% for o in online_users %}
		{% if o.0 %}
			<a href="/profile/{{o.1.username}}/">{{o.1.get_full_name}}</a> |
		{% else %}
			{{o.1.get_full_name}} |
		{% endif %}
	{% endfor %}
</p>
{% endblock %}
