{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load blacklisted %}
{% block title %}{{chapter.name}}{% endblock %}

{% block pagetitle %}{{chapter.name}}{% endblock %}

{% block content %}
<p>{% trans "Forum" %}: {{forum.name}}</p>
<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
	<tr style="color:white; background-color:#1366A3">
		<td>{% trans "Perpetrator" %}</td>
		<td>{% trans "Notes" %}</td>
	</tr>
	{% for offen in offens_list %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		{% if offen.0 %}
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;"><a name="{{offen.1.pk}}"></a><a href="/profile/{{offen.1.perpetrator.username}}/">{{ offen.1.perpetrator.get_full_name }}</a> {{offen.1.perpetrator|blacklisted:forum|safe}}
		{% for cur_position in offen.1.perpetrator.cur_positions %}
		<br />({{cur_position.positionType}})
		{% endfor %}
		<br />{{offen.3}}<br />{% trans "Posts:" %} {{ offen.2 }}</td>
		{% else %}
		<td valign="top" style="border-right: solid 1px grey;">{{ offen.1.perpetrator.get_full_name }} {{offen.1.perpetrator|blacklisted:forum|safe}}
		{% for cur_position in offen.1.perpetrator.cur_positions %}
		<br />({{cur_position.positionType}})
		{% endfor %}
		</td>
		{% endif %}
		<td style="border-bottom: solid 1px grey;">{{ offen.1.notes|linebreaksbr }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
