{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load showstarrating %}

{% block title %}Confirm deletion of category{% endblock %}

{% block pagetitle %}Confirm deletion of category{% endblock %}

{% block content %}
<form action="/forums/category/delete/{{category.pk}}/?return={{return|urlencode}}" method="post"> {% csrf_token %}
<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
	<tr style="color:white; background-color:#1366A3">
		<td>{{ category.name }}</td>
		<td>{% if category.chapter %}{{category.chapter.name}}{% else %}{% trans 'International' %}{% endif %}</td>
		<td>{% if category.exec_only %}{% trans 'Executive only' %}{% else %}{% trans 'Open to Public' %}{% endif %}</td>
	</tr>
</table>
<p style="clear: both; font-size: 200%;">
<input type="submit" id="delcategory" name="delcategory" value="Delete category">
</p>
</form>
{% endblock %}
