{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Generate and email password:" %} {{username}}{% endblock %}

{% block pagetitle %}{% trans "Generate and email password:" %} {{username}}{% endblock %}

{% block content %}
{% if errmsg %}{{errmsg}}<br> <br>{% endif %}
{% trans "In the email below, the field names are the same as for importing a CSV file." %} <a href="/chapters/{{chapter.myrobogals_url}}/edit/users/import/help/">{% trans "Full list of field names" %}</a>.<br>&nbsp;<br>
<form action="/profile/{{username}}/genpw/" method="post" enctype="multipart/form-data">
{% if error %}
<div class="error">{{error}}</div>
{% endif %}
<table>
  <tr>
    <td colspan="2"><strong>{% trans "Notification email:" %}</strong></td>
  </tr>
  {% if welcomeform.subject.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in welcomeform.subject.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" style="width: 70px"><strong>{% trans "Subject:" %}</strong></td>
    <td>{{ welcomeform.subject }}</td>
  </tr>
  {% if welcomeform.body.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in welcomeform.body.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top"><strong>Message:</strong></td>
    <td>{{ welcomeform.body }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>HTML:</strong></td>
    <td>{{ welcomeform.html }} {% trans "Treat this message as HTML (note that line breaks will <b>not</b> be automatically converted to" %} &lt;br&gt;)</td>
  </tr>
</table>
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="Submit">
</form>
{% endblock %}
