{% extends "base.html" %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block pagetitle %}{% trans "Welcome to myRobogals" %}{% endblock %}
{% block content %}
<img src="{{MEDIA_URL}}/images/myrobogals-home.jpg" style="float: right; margin-left: 5px; margin-bottom: 5px">{% blocktrans %}
<strong>myRobogals</strong> is our new global intranet and record-keeping tool, intended to simplify many of Robogals' day-to-day tasks including organising school visits, maintaining a member database, communicating with members, storing records reliably for future generations and easily collecting statistics on a global scale!<br>
<br>
To get started, download the <a href="http://www.robogals.org/files/myRobogals-guide.pdf">myRobogals user guide</a>.<br>
<br>
Throughout these early stages, we really appreciate any feedback, suggestions and other queries! Just email <a href="mailto:my@robogals.org">my@robogals.org</a> to get in touch with the myRobogals development team.<br>
<br>
<strong>And while you're here...</strong> 'Like' Robogals on Facebook! You know you want to :)<br>
<br>
{% endblocktrans %}
<!-- {% trans "DATETIME_FORMAT_LONG" %} -->
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Frobogals&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
{% endblock %}
