{% extends "base.html" %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block pagetitle %}{% trans "Welcome to myRobogals" %}{% endblock %}

{% block header %}
<style>
	#update {
		text-align: justify;
		padding-right: 10;
	}
</style>
{% endblock %}

{% block content %}
<img src="{{ MEDIA_URL }}images/myrobogals-home.jpg" style="float: right; margin-left: 30px; margin-bottom: 5px">{% blocktrans %}

<h3>Keep up to date with new changes to myRobogals, please check out our <a href="changelogs/">changelogs</a></h3>

<strong>myRobogals</strong> is our global intranet and record-keeping tool, designed to simplify many of Robogals' day-to-day tasks including organising school visits, maintaining a member database, communicating with members, storing records reliably for future generations and easily collecting statistics on a global scale!<br>
<br>
If you need any assistance, just email <a href="mailto:support@robogals.org">support@robogals.org</a> to get in touch with the myRobogals support team. Also don't hesitate to request new features - most of the features in myRobogals exist because someone like you requested them.<br>
<br>
<strong>And while you're here...</strong> 'Like' Robogals on Facebook! You know you want to :)<br>
<br>
{% endblocktrans %}
<!-- {% trans "DATETIME_FORMAT_LONG" %} -->
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frobogals&amp;send=false&amp;layout=box_count&amp;width=44&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=61" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:48px; height:62px;" allowtransparency="true"></iframe><script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/FollowCompany" data-id="873367" data-counter="top"></script>
{% endblock %}
