{% extends "base.html" %}
{% load i18n %}
{% block title %}Import subscribers for {{newsletter.name}}{% endblock %}

{% block pagetitle %}Import subscribers for {{newsletter.name}}{% endblock %}

{% block content %}
{% if errmsg %}{{errmsg}}<br> <br>{% endif %}
Preview of uploaded file:
<br>
<table>
{% for row in filerows %}
  <tr>
{% for cell in row %}
    <td>{{cell}}</td>
{% endfor %}
  </tr>
{% endfor %}
</table>
<form action="/messages/newsletters/{{newsletter.pk}}/import/" method="post">
<input type="hidden" name="tmppath" value="{{tmppath}}">
<input type="hidden" name="step" value="2">
<input type="submit" value="Add subscribers">
</form>
{% endblock %}
