{% extends "base.html" %}
{% load i18n %}
{% load valid_field %}
{% block title %}{%trans "Import users" %}{% endblock %}

{% block pagetitle %}{% trans "Import users" %}{% endblock %}

{% block content %}
{% if errmsg %}{{errmsg}}<br> <br>{% endif %}
{% trans "Preview of uploaded file:" %}<br>
{% blocktrans %}Green columns have a valid field name. <strong>Red columns are unrecognised and will be ignored.</strong>{% endblocktrans %}
<br>
<table>
{% for row in filerows %}
  <tr>
  {% ifequal forloop.counter 1 %}
  {% for cell in row %}
    <td style="background-color: #{% valid_field cell %}">{{cell}}</td>
  {% endfor %}
  {% else %}
  {% for cell in row %}
    <td>{{cell}}</td>
  {% endfor %}
  </tr>
  {% endifequal %}
{% endfor %}
</table>
<form action="/chapters/{{chapter.myrobogals_url}}/edit/users/import/" method="post"> {% csrf_token %}
<input type="hidden" name="tmppath" value="{{tmppath}}">
<input type="hidden" name="step" value="2">
<input type="submit" value="{% trans "Add members" %}">
</form>
{% endblock %}
