{% extends "base_without_login.html" %}
{% load i18n %}
{% block title %}{%trans "Import subscribers: field names" %}{% endblock %}

{% block pagetitle %}{% trans "Import subscribers: field names" %}{% endblock %}

{% block content %}
{% trans "The first row of your CSV file must specify the field names for the data contained in the file." %}<br>
<br>
{% trans "The email field must always be included. All other fields are optional. Fields with an unrecognised name are ignored - it doesn't hurt to have them in your file." %}
{% for section_name, section_info in HELPINFO %}
<h4>{{ section_name }}</h4>
<table cellspacing="0" border="1" cellpadding="3">
{% for field_name, field_info in section_info %}
  <tr>
    <td style="vertical-align: top">{{ field_name }}</td>
    <td style="vertical-align: top">{{ field_info }}</td>
  </tr>
{% endfor %}
</table>
{% endfor %}
{% endblock %}
