{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Join Robogals" %}{% endblock %}

{% block pagetitle %}{% trans "Join Robogals" %}{% endblock %}

{% block content %}
<strong>{% trans "Please select the chapter you wish to join:" %}</strong>
<ul>
    <li>
        Global
        <ul>
        {% for item in listing %}
            <li>
                {{item.super.short}}
                <ul>
                {% for chapter in item.chapters %}
                    <li><a href="/join/{{chapter.myrobogals_url}}/">{{chapter.short}}</a><br><em>{{chapter.university}}</em></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}
