<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>myRobogals</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}templates/system/css/landing.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body style="background: url('{{ MEDIA_URL }}images/low-poly-wallpaper-22.png');">
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <div class="heading">
                    <h1 class="cover-heading">myRobogals</h1>
                    <h5 class="cover-quote" id="quote"></h5>
                </div>

                <form action="/login/" method="post" name="login"> {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group-lg form-group {% if field.errors %}has-error{% endif %}">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <label class="control-label" for="inputError1">{{ error }}</label>
                                    {% endfor %}
                                {% endif %}
                                {{ field }}
                        </div>
                    {% endfor %}

                    {% if next %}<input type="hidden" name="next" value="{{next}}" />{% endif %}
                    <input type="submit" name="Submit" class="btn btn-md btn-default" value="Login" />
                </form>

                <div class="row">
                    <div class="col-md-4"><a href="/forgotpass/">Forgot your password?</a></div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-3"><a href="/join/">Sign up!</a></div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-3"><a href="/support/">Contact Us &amp; FAQ</a></div>
                </div>
            </div>

            <!--Footer -->
            <div class="mastfoot">
                <div class="media-icons">
                    <a href="https://www.facebook.com/robogals/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/robogals"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/robogals/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company-beta/873367/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/robogals/myrobogals"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="inner">
                    <p>
                        <a href="/credits/">Credits</a> | <a href="http://robogals.org">robogals.org</a>
                        <br>
                        <i class="fa fa-copyright" aria-hidden="true"></i> Robogals 2010-2017
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}resources/bootstrap/js/bootstrap.min.js"></script>

<script>
    quote = document.getElementById("quote");

    num = getRandomInt(0, 1000);

    switch (num) {
        case 1:
            quote.innerText = "Hello World!";
            break;
        case 2:
            quote.innerText = "Making Robogals great again";
            break;
        case 3:
            quote.innerText = "Changing the world one girl at a time";
            break;
        case 4:
            quote.innerText = "#Changethegame";
            break;
        case 5:
            quote.innerText = "xoxoGossipGals";
            break;
        case 6:
            quote.innerText = "The login button will break your computer";
            break;
        case 7:
            quote.innerText = "We still matter";
            break;
        case 8:
            quote.innerText = "myRobogals is great, please use it more";
            break;
        case 9:
            quote.innerText = "Yes, you are at the right myRobogals";
            break;
        default:
            quote.innerText = "Robogal's global intranet and record keeping tool"
    }

    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min;
    }
</script>
</body>
</html>
