{% extends "base.html" %}
{% load i18n %}
{% load hide_email %}

{% block title %}{% blocktrans with chapter.name as chapter %}View list: {{userlist}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with chapter.name as chapter %}View list: {{userlist}}{% endblocktrans %}{% endblock %}

{% block content %}
<form action="/chapters/{{chapter.myrobogals_url}}/lists/{{list_id}}/" method="GET">
{% trans "Search:" %} <input type="text" name="search" value="{{search}}"> <input type="submit" value="Go">
</form>
<p>
<a href="/chapters/{{chapter.myrobogals_url}}/lists/{{list_id}}/edit/">{% trans "Edit this list" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/">{% trans "Return to chapter page" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/users/">{% trans "Return to manage users" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/lists/">{% trans "Return to list of lists" %}</a></p>
<table>
  <tr>
    <td><strong>{% trans "Username" %}</strong></td>
    <td><strong>{% trans "First name" %}</strong></td>
    <td><strong>{% trans "Last name" %}</strong></td>
    <td><strong>{% trans "Email" %}</strong></td>
    <td><strong>{% trans "Mobile" %}</strong></td>
  </tr>
{% for u in users %}
  <tr>
    <td><a href="/profile/{{u.username}}/">{{u.username}}</a></td>
    <td>{{u.first_name}}</td>
    <td>{{u.last_name}}</td>
    <td>{% hide_email u.email %}</td>
    <td>{% if not u.mobile %}{% else %}+{{u.mobile}}{% endif %}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
