{% extends "base.html" %}
{% load i18n %}
{% load get_user_attr %}

{% block title %}{% blocktrans %}View list: {{userlist}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans %}View list: {{userlist}}{% endblocktrans %}{% endblock %}

{% block content %}
<p>
<a href="/chapters/{{chapter.myrobogals_url}}/lists/{{list_id}}/edit/">{% trans "Edit this list" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/">{% trans "Return to chapter page" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/users/">{% trans "Return to manage users" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/lists/">{% trans "Return to list of lists" %}</a></p>
{% if userlist.notes %}
<p>
<strong>{% trans "Notes:" %}</strong><br>
{{userlist.notes}}
</p>
{% endif %}
<form action="/chapters/{{chapter.myrobogals_url}}/lists/{{list_id}}/" method="GET"> {% csrf_token %}
{% trans "Search:" %} <input type="text" name="search" value="{{search}}"> <input type="submit" value="Go">
</form>
<p align="right"><b>{% trans "Members in list:" %} {{ users|length }}</b></p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "Username" %}</strong></td>
    {% for col in display_columns %}
    <td><strong>{{col.display_name_en}}</strong></td>
    {% endfor %}
  </tr>
{% for u in users %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="/profile/{{u.username}}/">{{u.username}}</a></td>
	{% for col in display_columns %}
    <td>{% get_user_attr u col.field_name %}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="right"><b>{% trans "Members in list:" %} {{ users|length }}</b></p>
{% endblock %}
