{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load showlocaltime %}
{% block title %}{% trans "Message recipients" %}{% endblock %}

{% block pagetitle %}{% trans "Message recipients" %}{% endblock %}

{% block content %}
{% ifequal msgtype "email" %}
<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
	<tr class="odd">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Subject" %}</td>
		<td {% if recipients %}colspan="3"{% endif %}>{{ email.subject }}<br />
&#40;{% trans "From" %}: {{ email.from_name }} &lt;{{email.from_address}}&gt;&#41;</td>
	</tr>
	<tr class="odd">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td {% if recipients %}colspan="3"{% endif %}><a href="/messages/showemail/{{email.pk}}/" target="_blank">{% trans "show" %}</a></td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="odd">
		<td valign="top" style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td {% if recipients %}colspan="3"{% endif %}>{{email.status_description}}
	{% if email.scheduled %}
		&#40;{% trans "Scheduled date" %}: {{email.scheduled_date|date:_("DATETIME_FORMAT")}}&#44; {{email.scheduled_date_type_description}}&#41;
	{% else %}
		&#40;{% trans "Time Sent" %}: {{email.date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
	{% endif %}
		</td>
	</tr>
{% if recipients %}
	<tr class="even">
		<td>{% trans "User" %}</td>
		<td>{% trans "Address" %}</td>
		<td>{% trans "Status" %}</td>
		<td>{% trans "Scheduled date" %}</td>
	</tr>
	{% for recipient in recipients %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{{recipient.to_name}}</td>
		<td>{{recipient.to_address}}</td>
		<td>{{recipient.status_description}}</td>
		<td>{{recipient.scheduled_date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}</td>
	</tr>
	{% endfor %}
{% endif %}
</table>
{% endifequal %}
{% ifequal msgtype "sms" %}
<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
	<tr class="odd">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td {% if recipients %}colspan="4"{% endif %}>{{ sms.body|linebreaksbr }}</td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="odd">
		<td valign="top" style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td {% if recipients %}colspan="4"{% endif %}>{{sms.status_description}}
	{% if sms.scheduled %}
		&#40;{% trans "Scheduled date" %}: {{sms.scheduled_date|date:_("DATETIME_FORMAT")}}&#44; {{sms.scheduled_date_type_description}}&#41;
	{% else %}
		&#40;{% trans "Time Set" %}: {{sms.date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
	{% endif %}
		</td>
	</tr>
{% if recipients %}
	<tr class="even">
		<td>{% trans "User" %}</td>
		<td>{% trans "Number" %}</td>
		<td>{% trans "Status" %}</td>
		<td>{% trans "Gateway" %}</td>
		<td>{% trans "Scheduled date" %}</td>
	</tr>
	{% for recipient in recipients %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{{recipient.user.get_full_name}}</td>
		<td>{{recipient.to_number}}</td>
		<td>{{recipient.status_description}}</td>
		<td>{{recipient.gateway_description}}</td>
		<td>{{recipient.scheduled_date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}</td>
	</tr>
	{% endfor %}
{% endif %}
</table>
{% endifequal %}
{% endblock %}
