{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load showlocaltime %}
{% block title %}{% trans "Message history" %}{% endblock %}

{% block pagetitle %}{% trans "Message history" %}{% endblock %}

{% block content %}
<p>
{% if emailMsgsSent %}
<a href="#emailSent">{% trans "Email Messages Sent" %}</a> |
{% else %}
{% trans "Email Messages Sent" %} |
{% endif %}
{% if SMSMsgsSent %}
<a href="#SMSSent">{% trans "SMS Messages Sent" %}</a> |
{% else %}
{% trans "SMS Messages Sent" %} |
{% endif %}
{% if emailMsgsReceived %}
<a href="#emailReceived">{% trans "Email Messages Received" %}</a> |
{% else %}
{% trans "Email Messages Received" %} |
{% endif %}
{% if SMSMsgsReceived %}
<a href="#SMSReceived">{% trans "SMS Messages Received" %}</a>
{% else %}
{% trans "SMS Messages Received" %}
{% endif %}
</p>
<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
{% if emailMsgsSent %}
	<tr style="color:white; background-color:#1366A3">
		<td colspan="2"><a name="emailSent"></a>{% trans "Email Messages Sent" %}</td>
	</tr>
	{% for emailMsgSent in emailMsgsSent %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Subject" %}</td>
		<td>{{ emailMsgSent.subject }}<br />
&#40;{% trans "From" %}: {{ emailMsgSent.from_name }} &lt;{{emailMsgSent.from_address}}&gt;&#41;</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td><a href="/messages/showemail/{{emailMsgSent.pk}}/" target="_blank">{% trans "show" %}</a><br>{% for f in emailMsgSent.upload_files.all %} <a href="/messages/downloademailfile/{{emailMsgSent.pk}}/{{f.filename}}/">{{f.filename}}({{f.filesize|filesizeformat}})</a>{% endfor %}</td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td>{{emailMsgSent.status_description}}
	{% if emailMsgSent.scheduled %}
		&#40;{% trans "Scheduled date" %}: {{emailMsgSent.scheduled_date|date:_("DATETIME_FORMAT")}}&#44; {{emailMsgSent.scheduled_date_type_description}}&#41;
	{% else %}
		&#40;{% trans "Time Sent" %}: {{emailMsgSent.date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
	{% endif %}
		<br /><a href="/messages/emailrecipients/{{emailMsgSent.pk}}/">{% trans "Recipients" %}</a>
		</td>
	</tr>
	{% endfor %}
{% endif %}
{% if SMSMsgsSent %}
	<tr style="color:white; background-color:#1366A3">
		<td colspan="2"><a name="SMSSent"></a>{% trans "SMS Messages Sent" %}</td>
	</tr>
	{% for SMSMsgSent in SMSMsgsSent %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td>{{ SMSMsgSent.body|linebreaksbr }}</td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td>{{SMSMsgSent.status_description}}
	{% if SMSMsgSent.scheduled %}
		&#40;{% trans "Scheduled date" %}: {{SMSMsgSent.scheduled_date|date:_("DATETIME_FORMAT")}}&#44; {{SMSMsgSent.scheduled_date_type_description}}&#41;
	{% else %}
		&#40;{% trans "Time Set" %}: {{SMSMsgSent.date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
	{% endif %}
	{% if SMSMsgSent.senderid %}
	&#40;{% trans "From" %}: {{SMSMsgSent.senderid}}&#41;
	{% endif %}
		<br /><a href="/messages/smsrecipients/{{SMSMsgSent.pk}}/">{% trans "Recipients" %}</a>
		</td>
	</tr>
	{% endfor %}
{% endif %}
{% if emailMsgsReceived %}
	<tr style="color:white; background-color:#1366A3">
		<td colspan="2"><a name="emailReceived"></a>{% trans "Email Messages Received" %}</td>
	</tr>
	{% for emailMsgReceived in emailMsgsReceived %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Subject" %}</td>
		<td>{{ emailMsgReceived.message.subject }}<br />
&#40;{% trans "From" %}: {{ emailMsgReceived.message.from_name }} &lt;{{emailMsgReceived.message.from_address}}&gt;&#41;</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td><a href="/messages/showemail/{{emailMsgReceived.message.pk}}/" target="_blank">{% trans "show" %}</a><br>{% for f in emailMsgReceived.message.upload_files.all %} <a href="/messages/downloademailfile/{{emailMsgReceived.message.pk}}/{{f.filename}}/">{{f.filename}}({{f.filesize|filesizeformat}})</a>{% endfor %}</td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td>{{emailMsgReceived.status_description}}
			&#40;{% trans "Scheduled date" %}: {{emailMsgReceived.scheduled_date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
		</td>
	</tr>
	{% endfor %}
{% endif %}
{% if SMSMsgsReceived %}
	<tr style="color:white; background-color:#1366A3">
		<td colspan="2"><a name="SMSReceived"></a>{% trans "SMS Messages Received" %}</td>
	</tr>
	{% for SMSMsgReceived in SMSMsgsReceived %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey; border-bottom: solid 1px grey;">{% trans "Message" %}</td>
		<td>{{ SMSMsgReceived.message.body|linebreaksbr }}</td>
	</tr>
	<tr style="border-bottom: solid 1px grey;" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top"  style="border-right: solid 1px grey;">{% trans "Status" %}</td>
		<td>{{SMSMsgReceived.status_description}}
			&#40;{% trans "Scheduled date" %}: {{SMSMsgReceived.scheduled_date|showlocaltime:user.tz_obj|date:_("DATETIME_FORMAT")}}&#41;
		{% if SMSMsgReceived.message.senderid %}
		&#40;{% trans "From" %}: {{SMSMsgReceived.message.senderid}}&#41;
		{% endif %}
		</td>
	</tr>
	{% endfor %}
{% endif %}
</table>
{% endblock %}
