{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with c.name as chapter %}Subscribe to {{chapter}} newsletter{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with c.name as chapter %}Subscribe to {{chapter}} newsletter{% endblocktrans %}{% endblock %}

{% block content %}
<form action="/newsletter/{{c.myrobogals_url}}/subscribe/" method="post"> {% csrf_token %}
<table>
  {% if errmsg %}
  <tr>
    <td colspan="2"><div class="error">{{errmsg}}</div></td>
  </tr>
  {% endif %}
{% for field in newsletterform %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top" width="100">{{ field.label_tag }}</td>
    <td style="vertical-align: top">{{ field }}</td>
  </tr>
{% endfor %}
</table>
<input type="submit" value="{% trans 'Subscribe' %}" />
</form>
{% endblock %}
