{% extends "base_tinymce.html" %}
{% load i18n %}

{% block title %}{% trans "Report Offenses" %}{% endblock %}

{% block pagetitle %}{% trans "Report Offenses" %}{% endblock %}

{% block head %} {{ emailform.media }} {% endblock %}

{% block content %}
<form action="/forums/post/fileoffenses/{{post.pk}}/" method="POST"> {% csrf_token %}
{% if offenseForm.errors %}
<div class="error">
{% trans "Please correct the following field(s)" %}:<br>
{% for error in offenseForm.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr style="border-top:solid 1px grey;">
    <td valign="top"><a name="end"></a><strong>{% trans "Notes:" %}</strong></td>
    <td>{{ offenseForm.notes }}</td>
  </tr>
  <tr style="border-top:solid 1px grey;" colspan="2">
	<td>
	<input type="checkbox" name="deletePost" value="1" checked="checked"/> {% trans "Delete the post" %}
	</td>
  </tr>
  <tr style="border-top:solid 1px grey;" colspan="2">
	<td>
	<input type="checkbox" name="blackList" value="1"/> {% trans "Black list the author" %}
	</td>
  </tr>
</table>
<input type="hidden" name="return" value="{{return}}" />
<input type="submit" value="Report" />
</form>
{% endblock %}
