{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block pagetitle %}{% trans 'Change password' %}{% endblock %}

{% block content %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="/chpass/" method="post">
<table>
  {% if form.old_password.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.old_password.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'Old password' %}</td>
    <td>{{ form.old_password }}</td>
  </tr>
  {% if form.new_password1.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.new_password1.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'New password' %}</td>
    <td>{{ form.new_password1 }}</td>
  </tr>
  {% if form.new_password2.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.new_password2.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'Confirm new password' %}</td>
    <td>{{ form.new_password2 }}</td>
  </tr>
</table>
<input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
