{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block pagetitle %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<p>{% trans "Please create a new password:" %}</p>

<form method="post"> {% csrf_token %}
<table>
  {% if form.new_password1.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.new_password1.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'New password' %}</td>
    <td>{{ form.new_password1 }}</td>
  </tr>
  {% if form.new_password2.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in form.new_password2.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'Confirm new password' %}</td>
    <td>{{ form.new_password2 }}</td>
  </tr>
</table>
<input type="submit" value="{% trans 'Change my password' %}" />
</form>

{% else %}

<p>{% trans "The password reset link is invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
