{% extends "base.html" %}
{% load i18n %}
{% block title %}{% if adduser %}{%trans "Add member" %}{% else %}{% if join %}{% trans "Join" %} {{chapter}}{% else %} {% trans "Edit Profile:" %} {{u.username}}{% endif %}{% endif %}{% endblock %}

{% block pagetitle %}{% if adduser %}{%trans "Add member" %}{% else %}{% if join %}{% trans "Join" %} {{chapter}}{% else %} {% trans "Edit Profile:" %} {{u.username}}{% endif %}{% endif %}{% endblock %}

{% block content %}
<!-- form for editing profile information -->
{% if adduser %}
<form action="/chapters/{{chapter.myrobogals_url}}/edit/users/add/" method="POST">
{% else %}
 {% if join %}
 <form action="/join/{{chapter.myrobogals_url}}/" method="POST">
 {% else %}
 <form action="/profile/{{u.username}}/edit/" method="POST">
 {% endif %}
{% endif %}
<div class="round5"><div class="moduletable"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner" id="basic-info-div">
<h3 class="module-title" id="basic-info-title">
<img src="{{MEDIA_URL}}/images/expand.png" style="position: relative; top: -3px; display: none" id="basic-info-expand">
<img src="{{MEDIA_URL}}/images/collapse.png" style="position: relative; top: -3px" id="basic-info-collapse">
{% trans "Basic information" %}</h3>
<table id="basic-info-table">
  <tr>
    <td colspan="2">{% blocktrans %}The <span style="color: #ff0000">*</span> denotes required fields. Only this section needs to be filled out to become a member.{% endblocktrans %}</td>
  </tr>
{% if join %}
  {% if usererr %}
  <tr>
    <td colspan="2"><div class="error">{{ usererr }}</div></td>
  </tr>
  {% endif %}
  <!--
  <tr>
    <td width="150">New username <span style="color: #ff0000">*</span></td>
    <td><input type="text" name="username"{% if new_username %} value="{{new_username}}"{% endif %}></td>
  </tr>
  -->
{% else %}
  {% if usererr %}
  <tr>
    <td colspan="2"><div class="error">{{ usererr }}</div></td>
  </tr>
  {% endif %}  
{% endif %}
{% for field in formpart1 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td width="150">{{ field.label_tag }}{% if field.field.required %} <span style="color: #ff0000">*</span>{% endif %}</td>
    <td>{{ field }}</td>
  </tr>
{% endfor %}
{% if chpass %}
  {% if pwerr %}
  <tr>
    <td colspan="2"><div class="error">{{ pwerr }}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td width="150">{% trans "New password" %}{% if join %} <span style="color: #ff0000">*</span>{% endif %}</td>
    <td><input type="password" name="password1"></td>
  </tr>
  <tr>
    <td>{% trans "Confirm new password" %}{% if join %} <span style="color: #ff0000">*</span>{% endif %}</td>
    <td><input type="password" name="password2"></td>
  </tr>
{% if request.user.is_staff and not adduser %}
  <tr>
    <td width="150">&nbsp;</td>
    <td><a href="/profile/{{u.username}}/genpw/">{% trans "Generate and email new password" %}</a></td>
  </tr>
{% endif %}
{% endif %}
  <tr>
    <td style="vertical-align: top">{% trans "Chapter" %} <span style="color: #ff0000">*</span></td>
    <td style="vertical-align: top">{{ chapter }}{% if not join %}<br /><span style="font-size: 9pt">{% trans "To move to another chapter, please contact support@robogals.org" %}</span>{% endif %}</td>
  </tr>
</table>
</div></div></div></div>
<div class="round5"><div class="moduletable"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner" id="privacy-setting-div">
<h3 class="module-title nopadtitle moduletablenobottom" id="privacy-setting-title">
<img src="{{MEDIA_URL}}/images/expand.png" style="position: relative; top: -3px" id="privacy-setting-expand">
<img src="{{MEDIA_URL}}/images/collapse.png" style="position: relative; top: -3px; display: none" id="privacy-setting-collapse">
{% trans "Privacy settings" %}</h3>
<table id="privacy-setting-table" style="display: none">
  <tr>
    <td>{{ formpart2.privacy.label_tag }}</td>
    <td>{{ formpart2.privacy }}</td>
  </tr>
  <tr>
    <td colspan="2">{{formpart2.email_public}} {{formpart2.email_public.label_tag}}</td>
  </tr>
  <tr>
    <td colspan="2">{{formpart2.dob_public}} {{formpart2.dob_public.label_tag}}</td>
  </tr>
</table>
</div></div></div></div>
<div class="round5"><div class="moduletable"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner" id="profile-info-div">
<h3 class="module-title nopadtitle moduletablenobottom" id="profile-info-title">
<img src="{{MEDIA_URL}}/images/expand.png" style="position: relative; top: -3px" id="profile-info-expand">
<img src="{{MEDIA_URL}}/images/collapse.png" style="position: relative; top: -3px; display: none" id="profile-info-collapse">
{% trans "Profile information" %}</h3>
<table id="profile-info-table" {% if formpart3.errors %}class="jqerror"{% endif %} style="display: none">
  <tr>
    <td colspan="2">{% trans "This section is <strong>optional</strong>, but it helps us to understand the demographics of the organisation a bit better. It also makes your profile page more interesting :)" %}</td>
  </tr>
  <tr>
{% for field in formpart3 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top" width="200">{{ field.label_tag }}</td>
    <td style="vertical-align: top">{{ field }}</td>
  </tr>
{% endfor %}
</table>
</div></div></div></div>
<div class="round5"><div class="moduletable"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner" id="email-sms-div">
<h3 class="module-title nopadtitle moduletablenobottom" id="email-sms-title">
<img src="{{MEDIA_URL}}/images/expand.png" style="position: relative; top: -3px" id="email-sms-expand">
<img src="{{MEDIA_URL}}/images/collapse.png" style="position: relative; top: -3px; display: none" id="email-sms-collapse">
{% trans "Email and SMS settings" %}</h3>
<table id="email-sms-table" style="display: none">
{% for field in formpart4 %}
  <tr>
    <td colspan="2">{{ field }} {{ field.label_tag }}</td>
  </tr>
{% endfor %}
</table>
</div></div></div></div>
{% if exec_fields %}
<div class="round5"><div class="moduletable"><div class="module-surround">
<div class="module-grad"></div><div class="module-surround2"></div><div class="module-surround3"></div><div class="module-surround4"></div><div class="module-surround5"></div>
<div class="module-inner" id="exec-fields-div">
<h3 class="module-title nopadtitle moduletablenobottom" id="exec-fields-title">
<img src="{{MEDIA_URL}}/images/expand.png" style="position: relative; top: -3px" id="exec-fields-expand">
<img src="{{MEDIA_URL}}/images/collapse.png" style="position: relative; top: -3px; display: none" id="exec-fields-collapse">
{% trans "Exec-only fields" %}</h3>
<table id="exec-fields-table" style="display: none">
  <tr>
    <td colspan="2">{{ formpart5.security_check}} {{ formpart5.security_check.label_tag }}</td>
  <tr>
  <tr>
    <td colspan="2">{{ formpart5.trained }} {{ formpart5.trained.label_tag }}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{{ formpart5.internal_notes.label_tag }}</td>
    <td style="vertical-align: top">{{ formpart5.internal_notes }}</td>
  </tr>
</table>
</div></div></div></div>
{% endif %}
{% if return %}
<input type="hidden" name="return" value="{{return}}" />
{% endif %}
<input type="submit" value="Submit" />
</form>
{% endblock %}
