{% extends "base.html" %}

{% comment %}{% load profile_filters %}{% endcomment %}

{% block title %}Profile - {{user.first_name}} {{user.last_name}}{% endblock %}

{% block pagetitle %}Profile: {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<!-- display profile information -->
<!--
{% if user.photo %}
<img src="{{user.photo.url}}" style="float: right">
{% endif %}
-->
<strong>Chapter:</strong> <a href="/chapters/{{user.chapter.myrobogals_url}}/">{{user.chapter}}</a><br />
<strong>Joined:</strong> {{user.date_joined_local|date:"j F Y"}}<br />
<strong>Membership type:</strong> {{user.membertype}}<br />
{% if user.dob_public %}
<strong>Date of birth:</strong> {{user.dob|date:"j F Y"}} (age {{user.age}})<br />
{% endif %}
{% if user.email_public %}
<strong>Email address:</strong> {{user.email}}<br />
{% endif %}
{% if show_course %}
{% if user.course %}
<strong>Course:</strong> {{user.course}} at {% if user.university %}{{user.university}}{% endif %}
{% if user.graduation_year %}
(completing {{user.graduation_year}})
{% endif %}
<br />
{% endif %}
{% endif %}
{% if show_job %}
{% if user.job_title %}
<strong>Occupation:</strong> {{user.job_title}} at {% if user.company %}{{user.company}}{% endif %}<br />
{% endif %}
{% endif %}
{% if current_positions %}
<br />
<strong>Current position:</strong> <ul style="margin-top: 2px">
	{% for current_position in current_positions %}
		<li><strong>{{current_position}}</strong></li>
	{% endfor %}</ul>
{% endif %}
{% if past_positions %}
<strong>Past positions:</strong> <ul style="margin-top: 2px">
	{% for past_position in past_positions %}
		<li>{{past_position}}</li>
	{% endfor %}</ul>
{% endif %}
{% if not current_positions and not past_positions %}
<br />
{% endif %}
{% if user.bio %}
<strong>Bio:</strong><br />
{{ user.bio }}
{% endif %}
{% endblock %}
