{% extends "base.html" %}
{% load i18n %}
{% load hide_email %}

{% comment %}{% load profile_filters %}{% endcomment %}

{% block title %}{% blocktrans with user.get_full_name as name %}Profile - {{name}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with user.get_full_name as name %}Profile: {{name}}{% endblocktrans %}{% endblock %}

{% block content %}
<!-- display profile information -->
<!--
{% if user.photo %}
<img src="{{user.photo.url}}" style="float: right">
{% endif %}
-->
<strong>{% trans "Chapter:" %}</strong> <a href="/chapters/{{user.chapter.myrobogals_url}}/">{{user.chapter}}</a><br />
<strong>{% trans "Joined:" %}</strong> {{user.date_joined_local|date:_("DATE_FORMAT_NODAY")}}<br />
<strong>{% trans "Membership type:" %}</strong> {{user.membertype}}<br />
{% if user.dob_public %}
<strong>{% trans "Date of birth:" %}</strong> {{user.dob|date:_("DATE_FORMAT_NODAY")}} ({% blocktrans with user.age as age %}age {{age}}{% endblocktrans %})<br />
{% endif %}
{% if user.email_public %}
<strong>{% trans "Email address:" %}</strong> {% hide_email user.email %}<br />
{% endif %}
{% if show_course %}
{% if user.course %}
<strong>{% trans "Course:" %}</strong> {{user.course}} at {% if user.university %}{{user.university}}{% endif %}
{% if user.graduation_year %}
(completing {{user.graduation_year}})
{% endif %}
<br />
{% endif %}
{% endif %}
{% if show_job %}
{% if user.job_title %}
<strong>{% trans "Occupation:" %}</strong> {{user.job_title}} at {% if user.company %}{{user.company}}{% endif %}<br />
{% endif %}
{% endif %}
{% if current_positions %}
<br />
<strong>{% trans "Current position:" %}</strong> <ul style="margin-top: 2px">
	{% for current_position in current_positions %}
		<li><strong>{{current_position}}</strong></li>
	{% endfor %}</ul>
{% endif %}
{% if past_positions %}
<strong>{% trans "Past positions:" %}</strong> <ul style="margin-top: 2px">
	{% for past_position in past_positions %}
		<li>{{past_position}}</li>
	{% endfor %}</ul>
{% endif %}
{% if not current_positions and not past_positions %}
<br />
{% endif %}
{% if user.bio %}
<strong>{% trans "About me:" %}</strong><br />
{{ user.bio }}<br />
<br />
{% endif %}
{% if visits %}
<strong>{% trans "Workshops and events attended:" %}</strong><br />
<table cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
  <tr class="even">
    <td><strong>{% trans "Date" %}</strong></td>
    <td><strong>{% trans "School/Event" %}</strong></td>
    <td><strong>{% trans "Girls" %}</strong></td>
    <td><strong>{% trans "Type" %}</strong></td>
  </tr>
{% for v in visits %}
{% if v.event.schoolvisit %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{v.event.visit_start|date:_("DATE_FORMAT")}}</td>
    <td>{{v.event.schoolvisit.school}}</td>
    <td>{{v.event.schoolvisit.get_num_girls_display}}</td>
    <td>{{v.event.schoolvisit.get_type}}</td>
  </tr>
{% endif %}
{% endfor %}
</table>
{% endif %}
{% endblock %}
