{% extends "base.html" %}
{% load i18n %}
{% block title %}Schools{% endblock %}

{% block pagetitle %}Schools{% endblock %}

{% block content %}
<p><a href="/teaching/schools/new/">{% trans "Add new school" %}</a></p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr>
    <td><strong>{% trans "School Name" %}</strong></td>
    <td><strong>{% trans "Contact Person" %}</strong></td>
    <td><strong>{% trans "Email" %}</strong></td>
    <td><strong>{% trans "Phone" %}</strong></td>
	
    <td> </td>
    <td> </td>
	<td> </td>
  </tr>
{% for s in schools %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{s.name}}</td>
    <td>{{s.contact_person}}</td>
    <td>{{s.contact_email}}</td>
    <td>{{s.contact_phone}}</td>
    <td><a href="/teaching/schools/{{s.pk}}/">{% trans "View/Edit" %}</a></td>
    <td><a href="/teaching/schools/{{s.pk}}/delete/">{% trans "Delete" %}</a></td>
	<td><a href="/teaching/{{s.pk}}/newvisit_with_school_selected/">{% trans "Create new workshop" %}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
