{% extends "base.html" %}
{% load i18n %}
{% block title %}Delete a School{% endblock %}

{% block pagetitle %}Delete a School{% endblock %}

{% block content %}
<div class ="error">
<strong>Only schools that have never had a visit assigned to them can be deleted.<br><br> Deleted schools cannot be retrived.<strong>
</div>
<form action="/teaching/schools/{{school.pk}}/delete/" method="POST">
{% if deleteform.errors %}
<div class="error">
{% for error in deleteform.errors %}
- {{error}}<br>
{% endfor %}
</div>
<a href="/teaching/schools/">Return to schools list</a> 
{% else %}
<h4>Are you sure you want to delete {{school.name}}?</h4>
<center><input type="submit" style="font-size: 150%" value="Delete School" /><center>
</form>
{% endif %}
{% endblock %}
