{% extends "base.html" %}
{% load i18n %}
{% block title %}{% if new %}{%trans "Create new" %}{% else %}{% trans "Edit" %}{% endif %} {% trans "school" %}{% endblock %}

{% block pagetitle %}{% if new %}{% trans "Create new" %}{% else %}{% trans "Edit" %}{% endif %}{% trans " school" %}{% endblock %}

{% block content %}
<p><a href="/teaching/schools/">{% trans "Return to school list" %}</a></p>
{% if new %}
<form action="/teaching/schools/new/" method="POST">
{% else %}
<form action="/teaching/schools/{{school_id}}/" method="POST">
{% endif %}
<table>
  <tr>
    <td colspan="2"><strong>{% trans "Basic information" %}</strong><br />{% trans '<span style="color: #ff0000">*</span> required fields' %}</td>
  </tr>
{% for field in formpart1 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ field.label_tag }}
 {% if field.field.required %}
  	<span style="color: #ff0000">*</span></td>
	{% endif %}
    <td>{{ field }}{% if field.help_text %}<br /><span style="font-size: 8pt">{{field.help_text}}</span>{% endif %}</td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Contact person" %}</strong></td>
  </tr>
{% for field in formpart2 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ field.label_tag }}</td>
    <td>{{ field }}</span></td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">&nbsp;<br /><strong>{% trans "Extra info" %}</strong></td>
  </tr>
{% for field in formpart3 %}
  {% if field.errors %}
  <tr>
    <td colspan="2"><div class="error">{% for error in field.errors %}{{error}}{% endfor %}</div></td>
  </tr>
  {% endif %}
  <tr>
    <td style="vertical-align: top">{{ field.label_tag }}</td>
    <td>{{ field }}</td>
  </tr>
{% endfor %}
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
