{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Send bulk SMS" %}{% endblock %}

{% block pagetitle %}{% trans "Send bulk SMS" %}{% endblock %}

{% block content %}
{% blocktrans %}
Your chapter has reached its SMS limit for this month. <strong>Your SMS has not been sent.</strong><br>
<br>
The intention behind the monthly limit is to prevent abuse (e.g. someone's password fell into the wrong hands), it is not intended to stifle legitimate use of this system.  If you do legitimately need to send this many SMSes, please contact the IT Manager, Robogals Global, to increase your chapter's monthly SMS limit.<br>
<br>
For {{chapter.name}}, the monthly limit is currently {{chapter.sms_limit}}.
{% endblocktrans %}
{% endblock %}
