{% extends "base.html" %}
{% load i18n %}

{% block header %} <link rel="stylesheet" href="{{ MEDIA_URL }}templates/system/css/import_workshops.css" type="text/css" /> {% endblock %}

{% block title %}Global workshop reports{% endblock %}

{% block pagetitle %}Global workshop reports{% endblock %}

{% block content %}
<h3>Global Workshop Reporting</h3>
<p>Retrieve workshop statistics entered by chapters globally</p>
<form action="{% url 'reports:global' %}" method="post"> {% csrf_token %}
                        {% if theform.errors %}
                                <span class="alert">{{ theform.errors }}</span>
                        {% endif %}
				<table>
					<tr>
                        <td>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.start_date.name }}">{{ theform.start_date.label }}</label>
						</td>
						<td>
                                {{ theform.start_date }}
                        </td>
					</tr>
					<tr>
                        <td>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.end_date.name }}">{{ theform.end_date.label }}</label>
						</td>
						<td>
                                {{ theform.end_date }}
                        </td>
					</tr>
				</table>

                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.visit_type.name }}">{{ theform.visit_type.label }}</label>
                                {{ theform.visit_type }}<br /><span style="font-size: 9pt">{% autoescape off %}{{theform.visit_type.help_text}}{% endautoescape %}</span>
                        </div>
						<div>
								{{ theform.printview }} <label class="label-left" style="width:120px;" for="id_{{ theform.printview.name }}">{{ theform.printview.label }}</label>
                        </div>
                        <input type="submit" value="Fetch Report">
</form>

{% if warning %}
    <span class="alert">{{ warning }}</span>
{% endif %}

{% if chapter_totals %}
    {% include "stats_workshop_breakdown.html" %}
{% endif %}

<h3>Workshop Input Method</h3>
<p>Displays which method of entering workshops our users use the most</p>
<form action="{% url 'reports:global' %}" method="post"> {% csrf_token %}
    <input type="hidden" name="method" value="workshop_input" />
    <input type="submit" value="Fetch Workshop Method Report" />
</form>

{% if workshop_method_totals %}
    <p>{% include "stats_workshop_entry_method.html" %}</p>
{% endif %}
{% endblock %}
