{% extends "base.html" %}
{% load i18n %}

{% block title %}Global workshop reports{% endblock %}

{% block pagetitle %}Global workshop reports{% endblock %}

{% block content %}
<form action="/globalreports/" method="post">
                        {% if theform.errors %}
                                <span class="alert">{{ theform.errors }}</span>
                        {% endif %}
                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.start_date.name }}">{{ theform.start_date.label }}</label>
                                {{ theform.start_date }} 
                        </div>
                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.end_date.name }}">{{ theform.end_date.label }}</label>
                                {{ theform.end_date }} 
                        </div>
						
                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.visit_type.name }}">{{ theform.visit_type.label }}</label>
                                {{ theform.visit_type }}<br /><span style="font-size: 9pt">{% autoescape off %}{{theform.visit_type.help_text}}{% endautoescape %}</span>
                        </div>
						<div>
								{{ theform.printview }} <label class="label-left" style="width:120px;" for="id_{{ theform.printview.name }}">{{ theform.printview.label }}</label>
                        </div>
                        <input type="submit" value="Fetch Report">
</form>

{% if warning %}
    <span class="alert">{{ warning }}</span>
{% endif %}

{% if chapter_totals %}
	<table style="text-align: center; margin-top:20px" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<tr class="even" style="">
			<td><strong>{% trans "Chapter" %}</strong></td>
			<td><strong>{% trans "Total Workshops" %}</strong></td>
			<td><strong>{% trans "Total Unique Schools" %}</strong></td>
			<td><strong>{% trans "Total Unique Girls" %}</strong></td>
			<td><strong>{% trans "Total girl-workshops" %}</strong></td>
			<td><strong>{% trans "Weighted girl-workshops" %}</strong></td>
		</tr>
		{% for name, chapter in chapter_totals %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{ name }}</td>
			<td>{{ chapter.workshops }} </td>
			<td>{{ chapter.schools }}</td>
			<td>{{ chapter.first }}</td>
			<td>{{ chapter.girl_workshops }}</td>
			<td>{{ chapter.weighted }}</td>
		</tr>
		{% endfor %}
	</table>
	<table style="text-align: center; margin-top:20px" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<tr class="even" style="">
			<td><strong>{% trans "Region" %}</strong></td>
			<td><strong>{% trans "Total Workshops" %}</strong></td>
			<td><strong>{% trans "Total Unique Schools" %}</strong></td>
			<td><strong>{% trans "Total Unique Girls" %}</strong></td>
			<td><strong>{% trans "Total girl-workshops" %}</strong></td>
			<td><strong>{% trans "Weighted girl-workshops" %}</strong></td>
		</tr>
		{% for name, region in region_totals %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{ name }}</td>
			<td>{{ region.workshops }} </td>
			<td>{{ region.schools }}</td>
			<td>{{ region.first }}</td>
			<td>{{ region.girl_workshops }}</td>
			<td>{{ region.weighted }}</td>
		</tr>
		{% endfor %}
		<tr class="{% if region_totals|length|divisibleby:2 %}odd{% else %}even{% endif %}" style="font-weight:bold;">
			<td>Global</td>
			<td>{{ global.workshops }} </td>
			<td>{{ global.schools }}</td>
			<td>{{ global.first }}</td>
			<td>{{ global.girl_workshops }}</td>
			<td>{{ global.weighted }}</td>
		</tr>
	</table>
{% endif %}
{% endblock %}
