{% extends "base.html" %}

{% block title %}Global reporting{% endblock %}

{% block pagetitle %}Global reporting{% endblock %}

{% block content %}
<form action="/globalreports/" method="post">
        <fieldset style="margin-right: 20px;">
                <legend>Filters</legend>
                        {% if theform.errors %}
                                <span class="alert">{{ theform.errors }}</span>
                        {% endif %}
                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.start_date.name }}">{{ theform.start_date.label }}</label>
                                {{ theform.start_date }} 
                        </div>
                        <div>
                                <label class="label-left" style="width:120px;" for="id_{{ theform.end_date.name }}">{{ theform.end_date.label }}</label>
                                {{ theform.end_date }} 
                        </div>
                        <input type="submit" value="Fetch Report">
        </fieldset>
</form>
{% if chapter_totals %}
<fieldset style="margin-right: 20px;">
                <legend>Report</legend>
	<p><strong>Chapters</strong></p>			
	<table style="text-align: center;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<tr class="even" style="">
			<td>Chapter Name</td>
			<td>Total Workshops</td>
			<td>Total Unique Schools</td>
			<td>Total Unique Girls</td>
			<td>Total girl-workshops</td>
			<td>Weighted girl-workshops</td>
		</tr>
		{% for name, chapter in chapter_totals %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{ name }}</td>
			<td>{{ chapter.workshops }} </td>
			<td>{{ chapter.schools }}</td>
			<td>{{ chapter.first }}</td>
			<td>{{ chapter.girl_workshops }}</td>
			<td>{{ chapter.weighted }}</td>
		</tr>
		{% endfor %}
	</table>
	<p><strong>Regions</strong></p>	
	<table style="text-align: center;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<tr class="even" style="">
			<td>Region Name</td>
			<td>Total Workshops</td>
			<td>Total Unique Schools</td>
			<td>Total Unique Girls</td>
			<td>Total girl-workshops</td>
			<td>Weighted girl-workshops</td>
		</tr>
		{% for name, region in region_totals %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{ name }}</td>
			<td>{{ region.workshops }} </td>
			<td>{{ region.schools }}</td>
			<td>{{ region.first }}</td>
			<td>{{ region.girl_workshops }}</td>
			<td>{{ region.weighted }}</td>
		</tr>
		{% endfor %}
		<tr style="font-weight:bold;">
			<td>Global</td>
			<td>{{ global.workshops }} </td>
			<td>{{ global.schools }}</td>
			<td>{{ global.first }}</td>
			<td>{{ global.girl_workshops }}</td>
			<td>{{ global.weighted }}</td>
		</tr>
	</table>
</fieldset>
{% endif %}
{% endblock %}