{% extends "base.html" %}
{% load i18n %}
{% load hide_email %}
{% block title %}{% trans "Support" %}{% endblock %}

{% block pagetitle %}{% trans "myRobogals Support" %}{% endblock %}

{% block content %}
The myRobogals support team is very happy to help you with a wide range of things!  Such as:
<ul>
  <li>General questions about using myRobogals</li>
  <li>Forgotten usernames and passwords - please first try to <a href="/forgotpass/">reset your password</a> but then don't hesitate to contact us if that doesn't work</li>
  <li>Granting/revoking exec access, and creating/removing email addresses for committee members</li>
  <li>Turning on or off the chapter custom fields (student number etc)</li>
  <li>Amending incorrect stats that you can't modify yourself</li>
  <li>Permanently delete users that you can't delete yourself (please provide explanation)</li>
  <li>Fixing any bugs you've found in myRobogals (please provide steps to reproduce the bug, if possible)</li>
  <li>Adding new features to myRobogals that you would find useful</li>
  <li>Anything else you require assistance with!</li>
</ul>
<p>To contact us, please email <strong>support@robogals.org</strong>, or lodge a support request <a href="http://support.robogals.org" target="_blank">through our online knowledgebase and support system</a></p>
<p>Support is available in English only</p>
    <p>For non-IT-related questions about Robogals please see the contact us at {% hide_email "coo@robogals.org" %}</p>

{% endblock %}
