{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Workshops" %}{% endblock %}

{% block pagetitle %}{% trans "Workshops" %}{% endblock %}

{% block content %}
<ul>
    <li><a href="list/">{% trans "View upcoming and past school visits" %}</a></li>
    {% if request.user.is_staff %}
    <li><a href="new/">{% trans "Create new school visit" %}</a></li>
    <li><a href="schools/">{% trans "View schools list" %}</a></li>
    <li><a href="schools/new/">{% trans "Add school" %}</a></li>
    {% endif %}
</ul>
{% endblock %}
