{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block title %}{% trans "Current local times" %}{% endblock %}

{% block pagetitle %}{% trans "Current local times" %}{% endblock %}

{% block content %}
{% blocktrans %}This page shows the local time for each Robogals chapter and regional body, taking into account both <strong>timezone differences</strong> and <strong>daylight savings</strong>. It can be very beneficial when scheduling a Skype meeting or phone call with other Robogals chapters. {% endblocktrans %}
{% localtime off %}
<ul>
    <li style="margin: .5em">
        <strong style="color: #1366A3">{% trans "Global" %}</strong> - <em>{{globalchapter.local_time|date:_("DATETIME_FORMAT_SPECIAL")}} {% trans "in" %} {{globalchapter.location}}</em>
        <ul>
        {% for item in listing %}
            <li style="margin: .5em">
                <strong style="color: #1366A3">{{item.super.short}}</strong> - <em>{{item.super.local_time|date:_("DATETIME_FORMAT_SPECIAL")}} {% trans "in" %} {{item.super.location}}</em>
                <ul>
                {% for chapter in item.chapters %}
                    <li style="margin: .5em"><strong style="color: #1366A3">{{chapter.short}}</strong> - <em>{{chapter.local_time|date:_("DATETIME_FORMAT_SPECIAL")}}</em></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
{% endlocaltime %}
{% endblock %}
