{% extends "base.html" %}
{% load i18n %}
{% load thous %}
{% load showlocaltime %}
{% load showstarrating %}
{% block title %}{{topic.subject}}{% endblock %}
{% block pagetitle %}{{topic.subject}}{% endblock %}

{% block content %}
<p>
	<a href="/forums/">{% trans "Home" %}</a>
	&raquo;
	<a href="/forums/forum/{{forum.pk}}/?targettopicpk={{topic.pk}}&sort={{forumsort}}">{{forum.name}}</a>
	&raquo;
	{{topic.subject}}
</p>

{% if posts.number == 1 %}
	{% trans "home" %} |
{% else %}
	<a href="?page=1&forumpage={{forumpage}}&forumsort={{forumsort}}">{% trans "home" %}</a> |
{% endif %}

{% if posts.has_previous %}
	<a href="?page={{ posts.previous_page_number }}&forumsort={{forumsort}}&forumpage={{forumpage}}">{% trans "previous" %}</a> |
{% else %}
	{% trans "previous" %} |
{% endif %}

{% trans "Page" %} {{ posts.number }} {% trans "of" %} {{ posts.paginator.num_pages }}

{% if posts.has_next %}
	| <a href="?page={{ posts.next_page_number }}&forumpage={{forumpage}}&forumsort={{forumsort}}">{% trans "next" %}</a>
{% else %}
	| {% trans "next" %}
{% endif %}

{% if posts.number == posts.paginator.num_pages %}
	| {% trans "last" %}
{% else %}
	| <a href="?page={{posts.paginator.num_pages}}&forumpage={{forumpage}}&forumsort={{forumsort}}">{% trans "last" %}</a>
{% endif %}

<table width="100%" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
	<tr style="color:white; background-color:#1366A3">
		<td width="140">{% trans "Poster" %}</td>
		<td>{% trans "Message" %}</td>
	</tr>
	{% for post in posts.object_list %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td valign="top" style="border-right: solid 1px grey;" rowspan="4"><a name="{{post.1.pk}}"></a>{% if post.0 %}<a href="/profile/{{post.1.posted_by.username}}/">{% endif %}<strong>{{ post.1.posted_by.get_full_name }}</strong>{% if post.0 %}</a>{% endif %}
		{% for cur_position in post.1.posted_by.cur_positions %}
		<br /><span style="font-size: 9pt"><em>{{cur_position.positionType}}<br />{{cur_position.positionChapter}}</em></span>
		{% empty %}
		<br /><em>{{post.1.posted_by.chapter}}</em>
		{% endfor %}
		<br />{{post.3}}<br />{% trans "Posts:" %} {{ post.2 }}</td>
		<td style="border-bottom: solid 1px grey;">{{post.1.created_on|showlocaltime:request.user.tz_obj|date:_("DATETIME_FORMAT")}}{% if post.1.updated_on %} | {% trans "Last edit:" %} {{ post.1.edited_by.get_full_name }} ({{ post.1.updated_on|showlocaltime:request.user.tz_obj|date:_("DATETIME_FORMAT")}}){% endif %}</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{{ post.1.message|linebreaksbr }}</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{% if post.1.upload_files.all %}
		{% for file in post.1.upload_files.all %}
			<a href="/forums/downloadpostfile/{{post.1.pk}}/{{file.pk}}/?return={{return|urlencode}}">{{file.filename}} ({{file.filesize|filesizeformat}})</a>
			<a href="/forums/deletefile/{{post.1.pk}}/{{file.pk}}/?return={{return|urlencode}}">{% trans "Delete" %}</a><br/>
		{% endfor %}
{% endif %}</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>
		</td>
	</tr>
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td style="border-right: solid 1px grey; border-bottom: solid 1px grey;" align="right">{{ posts.start_index|add:forloop.counter|add:-1 }}</td>
		<td style="border-bottom: solid 1px grey;">
		<div style="display: inline-block; float: left;">
		{% if forloop.counter == 1 and posts.number == 1 %}
			{% if hasAlreadyVoted %}
				<a href="/forums/undoupvote/{{post.1.pk}}/?return={{return|urlencode}}%23{{post.1.pk}}">[Undo +1]</a>
			{% else %}
				<a href="/forums/upvote/{{post.1.pk}}/?return={{return|urlencode}}%23{{post.1.pk}}">[+1]</a>
			{% endif %}
		{% endif %}
		</div>
		<div style="display: inline-block; float: right;">
		<a href="/forums/topic/{{topic.pk}}/?quotePostId={{post.1.pk}}&page={{posts.number}}&forumpage={{forumpage}}&forumsort={{forumsort}}#end" style="margin-left: 15px;">{% trans "quote" %}</a>
		{% if post.1.posted_by.pk == request.user.pk or request.user.is_superuser or canEdit %}
		<a href="/forums/topic/{{topic.pk}}/?editPostId={{post.1.pk}}&page={{posts.number}}&forumpage={{forumpage}}&forumsort={{forumsort}}#{{post.1.pk}}" style="margin-left: 15px;">{% trans "edit" %}</a>
		{% if canDelete or post.1.posted_by.pk == request.user.pk or request.user.is_superuser %}
			{% if forloop.counter == 1 and posts.number == 1 %}
		<a href="/forums/topic/delete/{{topic.pk}}/?return=/forums/forum/{{forum.pk}}/%3Fsort%3D{{forumsort}}%26page%3D{{forumpage}}" style="margin-left: 15px;">delete topic</a>
			{% else %}
		<a href="/forums/post/delete/{{post.1.pk}}/?return={{return|urlencode}}" style="margin-left: 15px;">delete post</a>
			{% endif %}
		{% endif %}
		{% if not canDelete %}
			{% if canFileOffenses %}
				<a href="/forums/post/fileoffenses/{{post.1.pk}}/?return={{return|urlencode}}%23{{post.1.pk}}" style="margin-left: 15px;">{% trans "Report as offensive" %}</a>
			{% endif %}
		{% endif %}
			{% ifequal editPost post.1.pk %}
		</div>
		</td>
	</tr>
			<form action="/forums/editpost/{{ post.1.pk }}/?return={{return|urlencode}}%23{{post.1.pk}}" method="POST" enctype="multipart/form-data">
			  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				<td valign="top" style="border-right: solid 1px grey; border-top: solid 1px grey;"><strong>{% trans "Message:" %}</strong></td>
				<td style="border-top: solid 1px grey;">{{ postform.message }}</td>
			  </tr>
			  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				<td style="border-right: solid 1px grey;"><input type="checkbox" name="Watch" checked="checked"/> {% trans "Watch" %}</td><td>{% if posts.number == 1 and forloop.counter == 1 %} <input type="file" name="upload_files" id="id_upload_files" multiple> {% endif %} </td>
			 </tr>
			  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" style="border-bottom: solid 1px grey;">
				<td style="border-right: solid 1px grey;"><input type="submit" value="Edit Post" /></td><td></td>
			 </tr>
			</form>
			{% endifequal %}
		{% endif %}
	{% if editPost != post.1.pk %}
		</div>
		</td>
	</tr>
	{% endif %}
	{% endfor %}
{% if not editPost %}
<form action="/forums/newpost/{{ topic.pk }}/?return={{returnLastPage|urlencode}}" method="POST" enctype="multipart/form-data">
  <tr class="{% if posts.object_list|length|divisibleby:2 %}odd{% else %}even{% endif %}" style="border-top:solid 1px grey;">
    <td valign="top"><a name="end"></a><strong>{% trans "Message:" %}</strong></td>
    <td>{{ postform.message }}</td>
  </tr>
  <tr class="{% if posts.object_list|length|divisibleby:2 %}odd{% else %}even{% endif %}">
	<td colspan="2"><input type="checkbox" name="watch" value="1" checked="checked"/> {% trans "Email me when someone posts in this topic" %}</td>
  </tr>
  <tr class="{% if posts.object_list|length|divisibleby:2 %}odd{% else %}even{% endif %}">
	<td colspan="2"></td>
  </tr>
  <tr class="{% if posts.object_list|length|divisibleby:2 %}odd{% else %}even{% endif %}">
	<td colspan="2"><input type="submit" value="Add Post" /></td>
  </tr>
</form>
{% endif %}
</table>
{% endblock %}
