{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "University IDs for CSV import" %}{% endblock %}

{% block pagetitle %}{% trans "University IDs for CSV import" %}{% endblock %}

{% block content %}
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
{% for uni in unis %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td style="vertical-align: top">{{ uni.pk }}</td>
    <td style="vertical-align: top">{{ uni.name }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
