{% extends "base.html" %}
{% load i18n %}
{% load hide_email %}
{% load get_user_attr %}
{% block title %}{% blocktrans with chapter.name as chapter %}Member listing: {{chapter}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with chapter.name as chapter %}Member listing: {{chapter}}{% endblocktrans %}{% endblock %}

{% block content %}
<form action="/chapters/{{chapter.myrobogals_url}}/edit/users/" method="GET">
{% trans "Search:" %} <input type="text" name="search" value="{{search}}">

<p>{% trans "Show specific status members:" %}
<select name="status">
{% for memberstatustype in memberstatustypes %}
<option value = {{memberstatustype.id}} {% ifequal memberstatustype.id status %} selected {% endifequal %}>{{memberstatustype.description}}</option>
{% endfor %}
<option value = 0 {% ifequal 0 status %} selected {% endifequal %}>All</option>
</select>
</p>
<input type="submit" value="Go">


</form>
<p>
<a href="/chapters/{{chapter.myrobogals_url}}/">{% trans "Return to chapter page" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/#cols">{% trans "Add/remove columns" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/users/add/?return={{return|urlencode}}">{% trans "Add new member" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/lists/">{% trans "Manage user lists" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/users/import/">{% trans "Import CSV file" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/execs/">{% trans "Show exec committee members" %}</a> | <a href="/chapters/{{chapter.myrobogals_url}}/edit/status/">{% trans "Edit member status" %}</a>
</p>

<p align="right"><b>Total Users: {{ users|length }} </b></p>
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
  <tr class="even">
    <td><strong>{% trans "Username" %}</strong></td>
    {% for col in display_columns %}
    <td><strong>{{col.display_name_local}}</strong></td>
    {% endfor %}
  </tr>
{% for u in users %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="/profile/{{u.username}}/edit/?return={{return|urlencode}}">{{u.username}}</a></td>
	{% for col in display_columns %}
    <td>{% get_user_attr u col.field_name %}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="right"><b>Total Users: {{ users|length }} </b></p>
{% endblock %}
