{% extends "base.html" %}

{% block title %}Confirm - Delete {{userToBeDeleted.first_name}} {{userToBeDeleted.last_name}}{% endblock %}

{% block pagetitle %}Confirm - Delete {{userToBeDeleted.first_name}} {{userToBeDeleted.last_name}}{% endblock %}

{% block content %}
<form action="/delete/user/{{userToBeDeleted.pk}}/" method="post">
<p>
You should only delete a member if this is a duplicate account, was created accidentally, or is otherwise very insignificant. If this is a former member, we suggest you mark them as 'alumni' rather than deleting the account. You can mark members as 'alumni' in bulk in Chapter &gt; Manage members &gt; Edit member status
</p>
<p style="clear: both; font-size: 200%;">
<input type="submit" id="delete" name="delete" value="Delete member">
<input type="submit" id="alumni" name="alumni" value="Mark member as alumni">
</p>
</form>
{% endblock %}
