{% extends "base_tinymce.html" %}

{% block title %}Email Invitees of a School Visit{% endblock %}

{% block pagetitle %}Email Invitees of a School Visit{% endblock %}

{% block content %}
<form action="/teaching/{{visit_id}}/email/" method="POST">
{% if emailform.errors %}
<div class="error">
Please correct the following field(s):<br>
{% for error in emailform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>To:</strong></td>
    <td>
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="1" id="invitee_type1" checked="checked" /></td>
          <td style="vertical-align: top"><label for="type2">All Invitees</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="2" id="invitee_type2"/></td>
          <td style="vertical-align: top"><label for="type2">Invitees who have RSVP'd</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="3" id="invitee_type2" /></td>
          <td style="vertical-align: top"><label for="type2">Invitees who have yet to RSVP</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="4" id="invitee_type2" /></td>
          <td style="vertical-align: top"><label for="type2">Selected Invitees</label></td>
        </tr>
        <tr>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_recipientes">
				<tr>
					<td style="vertical-align: top" width="30">&nbsp;</td>
					<td style="vertical-align: top">{{ emailform.memberselect }}</td>
				</tr>
			</table>
		</tr>
      </table>
    </td>
  </tr>
</table>
<table id="inviteemail">
  <tr>
    <td valign="top" style="width: 50px"><strong>Subject:</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>Message:</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>Scheduling:</strong></td>
    <td>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align: top" width="30"><input name="scheduling" type="radio" value="0" id="sched0" checked="checked" /></td>
          <td style="vertical-align: top"><label for="sched0"><span>Send immediately</span></label></td>
        </tr>
        <tr>
          <td style="vertical-align: top" width="30"><input name="scheduling" type="radio" value="1" id="sched1" /></td>
          <td style="vertical-align: top"><label for="sched1"><span>Send later</span></label></td>
        </tr>
      </table>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_scheduling">
        <tr>
          <td style="vertical-align: top" width="30">&nbsp;</td>
          <td style="vertical-align: top">at {{ emailform.schedule_time }} on {{ emailform.schedule_date }}</td>
        </tr>
      </table>
    </td>
  <tr>
</table>
<input type="submit" value="Send Email" />
</form>
{% endblock %}
