{% extends "base_tinymce.html" %}
{% load i18n %}

{% block title %}{% trans "Email invitees of a school visit" %}{% endblock %}

{% block pagetitle %}{% trans "Email invitees of a school visit" %}{% endblock %}

{% block head %} {{ emailform.media }} {% endblock %}

{% block content %}
<form action="/teaching/{{visit_id}}/email/" method="POST"> {% csrf_token %}
{% if emailform.errors %}
<div class="error">
{% trans "Please correct the following field(s):" %}<br>
{% for error in emailform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>To:</strong></td>
    <td>
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="1" id="invitee_type1" checked="checked" /></td>
          <td style="vertical-align: top"><label for="invitee_type1">{% trans "All invitees" %}</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="2" id="invitee_type2"/></td>
          <td style="vertical-align: top"><label for="invitee_type2">{% trans "Invitees who have RSVP'd as attending" %}</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="3" id="invitee_type3"/></td>
          <td style="vertical-align: top"><label for="invitee_type3">{% trans "Invitees who have RSVP'd as not attending" %}</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="4" id="invitee_type4" /></td>
          <td style="vertical-align: top"><label for="invitee_type4">{% trans "Invitees who have yet to RSVP" %}</label></td>
        </tr>
		<tr>
          <td style="vertical-align: top" width="30"><input name="invitee_type" type="radio" value="5" id="invitee_type5" /></td>
          <td style="vertical-align: top"><label for="invitee_type5">{% trans "Selected Invitees" %}</label></td>
        </tr>
        <tr>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" id="form_table_recipientes">
				<tr>
					<td style="vertical-align: top" width="30">&nbsp;</td>
					<td style="vertical-align: top">{{ emailform.memberselect }}</td>
				</tr>
			</table>
		</tr>
      </table>
    </td>
  </tr>
</table>
<table id="inviteemail">
  <tr>
    <td valign="top" style="width: 50px"><strong>{% trans "Subject:" %}</strong></td>
    <td>{{ emailform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Message:" %}</strong></td>
    <td>{{ emailform.body }}</td>
  </tr>
</table>
<input type="submit" value="{% trans "Send Email" %}"/>
</form>
{% endblock %}
