{% extends "base_tinymce.html" %}
{% load i18n %}
{{cancelform.media}}

{% block title %}{%trans "Cancel a workshop" %}{% endblock %}

{% block pagetitle %}Cancel a workshop{% endblock %}

{% block content %}
<div class ="error">
<strong>{% trans "Once a workshop is cancelled it will be removed from the database and you will not be able to edit it again. Only cancel a workshop if you are sure it is not happening." %}</strong>
</div>
<form action="/teaching/{{visit_id}}/cancel/" method="POST"> {% csrf_token %}
{% if cancelform.errors %}
<div class="error">
{% trans "Please correct the following field(s):" %}<br>
{% for error in cancelform.errors %}
- {{error}}<br>
{% endfor %}
</div>
{% endif %}
<table>
  <tr>
    <td valign="top"><strong>{% trans "Notification email to volunteers who had RSVPed as attending" %}</strong></td>
  </tr>
</table>
<table id="cancelemail">
  <tr>
    <td valign="top" style="width: 50px"><strong>{% trans "Subject:" %}</strong></td>
    <td>{{ cancelform.subject }}</td>
  </tr>
  <tr>
    <td valign="top"><strong>{% trans "Message:" %}</strong></td>
    <td>{{ cancelform.body }}</td>
  </tr>
	
</table>
<input type="submit" value="{% trans "Cancel workshop and send email" %}" />
</form>
{% endblock %}
