{% extends "base.html" %}
{% load i18n %}
{% block title %}{{v.school}} on {{v.visit_start|date:_("DATE_FORMAT")}}{% endblock %}

{% block pagetitle %}{{v.school}} on {{v.visit_start|date:_("DATE_FORMAT")}}{% endblock %}

{% block content %}
<p><a href="/teaching/list/">{% trans "Return to workshop list" %}</a>
{% if request.user.is_staff %}{% ifequal v.status 0 %} | <a href="/teaching/{{v.pk}}/edit/">{% trans "Edit workshop" %}</a>  | <a href="/teaching/{{v.pk}}/invite/">{% trans "Invite or add volunteers" %}</a> | <a href="/teaching/{{v.pk}}/email/">{% trans "Email volunteers" %}</a>
| <a href="/teaching/{{v.pk}}/stats/">{% trans "Close workshop and enter stats" %}</a> | <a href="/teaching/{{v.pk}}/cancel/">{% trans "Cancel workshop" %}</a>{% endifequal %}
{% ifequal v.status 1 %} | <a href="/teaching/{{v.pk}}/reopen/">{% trans "Delete stats and re-open workshop" %}</a>{% endifequal %}
{% endif %}
</p>
{% ifequal v.status 0 %}
{% ifequal user_rsvp_status 0 %}
  {% ifequal v.allow_rsvp 0 %}
    <p class="attend-unconf">{% trans "You have not RSVP'd to this event. Your RSVP:" %} <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/yes/">{% trans "attending" %}</a> | <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/no/">{% trans "not attending" %}</a></p>
  {% else %}
    <p class="attend-unconf">{% trans "This is a closed event. You must be invited to RSVP." %}</p>
  {% endifequal %}
{% else %}
  {% ifequal user_rsvp_status 1 %}
    <p class="attend-unconf">{% trans "You have been invited to this event but have not yet RSVP'd. Your RSVP:" %} <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/yes/">{% trans "attending" %}</a> | <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/no/">{% trans "not attending" %}</a></p>
  {% else %}
    {% ifequal user_rsvp_status 2 %}
      <p class="attend-yes">{% trans "Your RSVP status is" %} <strong>{% trans "attending" %}</strong>. <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/no/">{% trans "Change to not attending" %}</a></p>
    {% else %}
      {% ifequal user_rsvp_status 4 %}
        <p class="attend-no">{% trans "Your RSVP status is" %} <strong> {% trans "not attending" %}</strong>. <a href="/teaching/{{v.pk}}/rsvp/{{request.user.pk}}/yes/">{% trans "Change to attending" %}</a></p>
      {% endifequal %}
    {% endifequal %}
  {% endifequal %}
{% endifequal %}
{% else %}
  {% ifequal v.status 1 %}
  	{% if user_attended %}
      <p class="attend-yes">{% trans "This event is over. You attended this event." %}</p>
    {% else %}
      <p class="attend-unconf">{% trans "This event is over." %}</p>
    {% endif %}
  {% else %}
    {% ifequal v.status 2 %}
      <p class="attend-no">{% trans "This event has been cancelled" %}</p>
    {% endifequal %}
  {% endifequal %}
{% endifequal %}
<table  cellpadding="5" cellspacing="0">
  <tr>
    <td colspan="2"><strong>{% trans "Basic information" %}</strong></td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 150px">{% trans "School" %}</td>
    <td>{{v.school}}</td>
  </tr>
{% if request.user.is_superuser %}
  <tr>
    <td style="vertical-align: top; width: 150px">{% trans "Chapter" %}</td>
    <td>{{v.chapter}}</td>
  </tr>
{% endif %}
  <tr>
    <td style="vertical-align: top">{% trans "Date" %}</td>
    <td>{{v.visit_start|date:_("DATE_FORMAT_LONG")}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Time" %}</td>
    <td>{{v.visit_start|date:_("TIME_FORMAT")}} - {{v.visit_end|date:_("TIME_FORMAT")}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Location" %}</td>
    <td>{{v.location}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Notes" %}</td>
    <td>{{v.notes}}</td>
  </tr>
  <tr>
    <td colspan="2"><strong>&nbsp;<br />{% trans "Info for volunteers" %}</strong></td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Meeting location" %}</td>
    <td>{{v.meeting_location}}<br /><span style="font-size: 8pt">{% trans "Where people will meet at university to go as a group to the school, if applicable" %}</span></td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Meeting time" %}</td>
    <td>{{v.meeting_time|date:_("TIME_FORMAT")}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Contact person" %}</td>
    <td>{{v.contact}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{%trans "Email" %}</td>
    <td>{{v.contact_email}}</td>
  </tr>
  <tr>
    <td style="vertical-align: top">{% trans "Phone" %}</td>
    <td>{{v.contact_phone}}<br /><span style="font-size: 8pt">{% trans "Call this number if you get lost!" %}</span></td>
  </tr>
{% ifequal v.status 0 %}
  <tr>
    <td colspan="2"><strong>&nbsp;<br />{% trans "Attending" %}</strong></td>
  </tr>
  {% for user in attending %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="/profile/{{user.user.username}}/">{{user.user.get_full_name}}</a></td>
    <td>
    {% if request.user.is_staff %}
    <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/no/">{% trans "change RSVP to not attending" %}</a> | <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/remove/">{% trans "remove" %}</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2"><strong>&nbsp;<br />{% trans "Not Attending" %}</strong></td>
  </tr>
  {% for user in notattending %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="/profile/{{user.user.username}}/">{{user.user.get_full_name}}</a></td>
    <td>
    {% if request.user.is_staff %}
    <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/yes/">{% trans "change RSVP to attending" %}</a> | <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/remove/">{% trans "remove" %}</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2"><strong>&nbsp;<br />{% trans "Awaiting Reply" %}</strong></td>
  </tr>
  {% for user in waitingreply %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="/profile/{{user.user.username}}/">{{user.user.get_full_name}}</a></td>
    <td>
    {% if request.user.is_staff %}
    <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/yes/">{% trans "change RSVP to attending" %}</a>
    | <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/no/">{% trans "change RSVP to not attending" %}</a> | <a href="/teaching/{{v.pk}}/rsvp/{{user.user.pk}}/remove/">{% trans "remove" %}</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
{% endifequal %}
</table>
{% ifequal v.status 1 %}
<table>
  <tr>
    <td colspan="2"><strong>&nbsp;<br />{% trans "Attended" %}</strong></td>
  </tr>
  {% for user in attended %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td colspan="2"><a href="/profile/{{user.user.username}}/">{{user.user.get_full_name}}</a></td>
  </tr>
  {% endfor %}
</table>
 {% if stats %}
 <h2>{% trans "Workshop statistics" %}</h2>
 <p><strong>{% trans "Workshop type:" %}</strong> {{ stats.get_visit_type_display }}</p>
	<p><strong>{% trans "Students taught:" %}</strong>
    <table width="400px" style="table-layout:fixed;  text-align:center;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<col width="100px" />
		<col width="150px" />
		<col width="150px" />
		<tr class="odd">
			<td></td>
			<td>Girls</td>
			<td>Boys</td>
		</tr>
	</table>
	<table width="400px" style="table-layout:fixed; text-align: center;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<col width="100px" />
		<col width="75px" />
		<col width="75px" />
		<col width="75px" />
		<col width="75px" />
		<tr class="even" style="">
			<td></td>
			<td>First</td>
			<td>Repeat</td>
			<td>First</td>
			<td>Repeat</td>
		</tr>
		<tr class="odd">
			<td>Primary School</td>
			<td>{{ stats.primary_girls_first|default_if_none:"" }}</td>
			<td>{{ stats.primary_girls_repeat|default_if_none:"" }}</td>
			<td>{{ stats.primary_boys_first|default_if_none:"" }}</td>
			<td>{{ stats.primary_boys_repeat|default_if_none:"" }}</td>
		</tr>
		<tr class="even">
			<td>High School</td>
			<td>{{ stats.high_girls_first|default_if_none:"" }}</td>
			<td>{{ stats.high_girls_repeat|default_if_none:"" }}</td>
			<td>{{ stats.high_boys_first|default_if_none:"" }}</td>
			<td>{{ stats.high_boys_repeat|default_if_none:"" }}</td>
		</tr>
		<tr class="odd">
			<td>Other</td>
			<td>{{ stats.other_girls_first|default_if_none:"" }}</td>
			<td>{{ stats.other_girls_repeat|default_if_none:"" }}</td>
			<td>{{ stats.other_boys_first|default_if_none:"" }}</td>
			<td>{{ stats.other_boys_repeat|default_if_none:"" }}</td>
		</tr>
	</table></p>
	{% if stats.notes %}
	<p><strong>General Notes:</strong> <br />{{ stats.notes }}</p>
	{% endif %}
  {% else %}
  <div class="error">ERROR: This visit is closed but does not have a stats object. Please report this to support@robogals.org</div>
  {% endif %}
{% endifequal %}
{% if request.user.is_staff %}
{% if eventmessages %}
<h4><strong>RSVP Messages: </strong></h4>
	{% for eventmessage in eventmessages %}
	 <div class="eventmessage">
	  <div class="topbar">{{eventmessage.user.get_full_name}}  {% trans "said:" %} <span style="position: absolute; right: 0.5em;">{{eventmessage.date|date:_("DATETIME_FORMAT")}} | <a href="/teaching/{{v.pk}}/deletemessage/{{eventmessage.id}}/">{% trans "Delete" %}</a></span></div>
	  <div class="message-box">
		<div class="message-content">{{eventmessage.message|safe}}</div>
	  </div>
	 </div>
	{% endfor %}
{% endif %}
{% endif %}
{% endblock %}
