{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Workshops and events" %}{% endblock %}

{% block pagetitle %}{% trans "Workshops and events" %}{% endblock %}

{% block content %}
{% if showall %}
<form action="/teaching/list/" method="GET">
{% trans "Filter by chapter:" %} {{chapterform.chapter}}
<input type="submit" value="{% trans "Go" %}">
</form>
{% endif %}
{% if user.is_staff %}<p><a href="/teaching/new/">{% trans "Create new workshop" %}</a></p>{% endif %}

<p><b>
{% if visits.number == 1 %}
  {% trans "home" %} |
{% else %}
  <a href="?page=1">{% trans "home" %}</a> |
{% endif %}

{% if visits.has_previous %}
  <a href="?page={{visits.previous_page_number}}">{% trans "previous" %}</a> |
{% else %}
  {% trans "previous" %} |
{% endif %}

{% trans "Page" %} {{visits.number}} {% trans "of" %} {{visits.paginator.num_pages}}

{% if visits.has_next %}
  | <a href="?page={{visits.next_page_number}}">{% trans "next" %}</a>
{% else %}
  | {% trans "next" %}
{% endif %}

{% if visits.number == visits.paginator.num_pages %}
  | {% trans "last" %}
{% else %}
  | <a href="?page={{visits.paginator.num_pages}}">{% trans "last" %}</a>
{% endif %}</b></p>
<table cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
  <tr class="even">
    <td><strong>{% trans "School" %}</strong></td>
    <td><strong>{% trans "Date" %}</strong></td>
    <td><strong>{% trans "Status" %}</strong></td>
{% if showall %}
    <td><strong>{% trans "Chapter" %}</strong></td>
{% endif %}
    <td></td>
  </tr>
{% for v in visits %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td>{{v.school}}</td>
    <td>{{v.visit_start|date:_("DATE_FORMAT")}}</td>
    <td>{{v.get_status_display}}</td>
{% if showall %}
    <td>{{v.chapter}}</td>
{% endif %}
    <td><a href="/teaching/{{v.pk}}/">{% trans "View" %}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
