{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enter workshop statistics" %}{% endblock %}

{% block pagetitle %}{% trans "Enter workshop statistics" %}{% endblock %}

{% block content %}
<form action="/teaching/{{visit_id}}/stats/" method="POST"> {% csrf_token %}
    {% if form.errors %}
	<div class="error">{% trans "Please correct your entries in the form" %}</div>
	{% endif %}
	<p><label for="id_visit_type">Visit type:</label> {{ form.visit_type }}<br /><span style="font-size: 9pt">{% autoescape off %}{{form.visit_type.help_text}}{% endautoescape %}</span></p>
	<p> Students taught:
    <table width="400px" style="table-layout:fixed;  text-align:center;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<col width="100px" />
		<col width="150px" />
		<col width="150px" />
		<tr class="odd">
			<td></td>
			<td>Girls</td>
			<td>Boys</td>
		</tr>
	</table>
	<table width="400px" style="table-layout:fixed;" cellpadding="5" border="1" rules="NONE" frame="BOX" cellspacing="0">
		<col width="100px" />
		<col width="75px" />
		<col width="75px" />
		<col width="75px" />
		<col width="75px" />
		<tr class="even" style="text-align: center;">
			<td></td>
			<td>First</td>
			<td>Repeat</td>
			<td>First</td>
			<td>Repeat</td>
		</tr>
		<tr class="odd">
			<td>Primary School</td>
			<td>{{ form.primary_girls_first }}</td>
			<td>{{ form.primary_girls_repeat }}</td>
			<td>{{ form.primary_boys_first }}</td>
			<td>{{ form.primary_boys_repeat }}</td>
		</tr>
		<tr class="even">
			<td>High School</td>
			<td>{{ form.high_girls_first }}</td>
			<td>{{ form.high_girls_repeat }}</td>
			<td>{{ form.high_boys_first }}</td>
			<td>{{ form.high_boys_repeat }}</td>
		</tr>
		<tr class="odd">
			<td>Other</td>
			<td>{{ form.other_girls_first }}</td>
			<td>{{ form.other_girls_repeat }}</td>
			<td>{{ form.other_boys_first }}</td>
			<td>{{ form.other_boys_repeat }}</td>
		</tr>
	</table></p>
	<p><label for="id_notes">General Notes:</label> <br />{{ form.notes }}</p>
	<p><label for="id_notes">Select those volunteers who attended this workshop:</label>{{ form.attended }}</p><br/>
    <p style="clear: both; font-size: 200%;"><input type="submit" value="Save Stats" /></p>
</form>
{% endblock %}
