{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Re-open workshop" %}{% endblock %}

{% block pagetitle %}{% trans "Re-open workshop" %}{% endblock %}

{% block content %}
<div class="error">
<strong>{% trans "Warning: the stats will be deleted completely - note them down if you need to." %}</strong>
</div>
<p>After you have re-opened the workshop, you will be able to make any changes you need, and then close the workshop and enter the stats again.</p>
<p><a href="http://127.0.0.1:8000/teaching/{{visit_id}}/reopen/?confirm=1">Yes I'm really sure!</a></p>
{% endblock %}
