{% extends "base.html" %}
{% load i18n %}
{% load hide_email %}

{% block title %}{%trans "Enter workshop statistics: categories" %}{% endblock %}

{% block pagetitle %}{% trans "Enter workshop statistics: categories" %}{% endblock %}

{% block content %}
<span style="text-decoration: underline">Robogals robotics workshop</span><br>
Robogals ran a robotics workshop where we visited the school, or the school visited us at uni, and Robogals was the <em>causa sine qua non</em> (the cause without which it would not have happened) for this robotics workshop to have happened.<br>
<br>
<span style="text-decoration: underline">Non-Robogals robotics workshop</span><br>
Robogals volunteers assisted with another program similar to our robotics workshops (give details).<br>
<br>
<span style="text-decoration: underline">Robogals career visit</span><br>
Robogals volunteers visited a school, or the school visited us, for a talk about engineering or STEM careers, with no robotics activities.<br>
<br>
<span style="text-decoration: underline">Robogals event</span><br>
An event run by your chapter, such as a science fair.<br>
<br>
<span style="text-decoration: underline">Non-Robogals career visit / event</span><br>
Robogals volunteers assisted with another program related to Robogals' broad aims (give details).<br>
<br>
For clarification or suggestions regarding statistics categories, please contact Mark Parncutt on {% hide_email "mark@robogals.org" %}. Your feedback is greatly appreciated and Mark looks forward to hearing from you!
{% endblock %}
