{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans with c.name as chapter %}Website details: {{chapter}}{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with c.name as chapter %}Website details: {{chapter}}{% endblocktrans %}{% endblock %}
{% block content %}
<p>
	{% for website in websites %}
		{% ifequal forloop.counter 1 %}
			<a href="#{{website.site_name}}">{{ website.site_name }}</a>
		{% else %}
			| <a href="#{{website.site_name}}">{{ website.site_name }}</a>
		{% endifequal %}
	{% endfor %}
</p>
{% for website in websites %}
<table border="1" rules="NONE" frame="BOX" cellpadding="5" cellspacing="0">
	<tr class="even">
		<td><a name="{{website.site_name}}"></a><strong>{% trans "Site Name" %}</strong></td>
		<td>{{ website.site_name }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "Site Url" %}</strong></td>
		<td>{{ website.site_url }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "Site Chapter" %}</strong></td>
		<td>{{ website.site_chapter }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "FTP Host" %}</strong></td>
		<td>{{ website.ftp_host }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "FTP User" %}</strong></td>
		<td>{{ website.ftp_user }}</strong></td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "FTP Pass" %}</strong></td>
		<td>{{ website.ftp_pass }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "FTP Path" %}</strong></td>
		<td>{{ website.ftp_path }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "SQL Host Int" %}</strong></td>
		<td>{{ website.sql_host_int }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "SQL Host Ext" %}</strong></td>
		<td>{{ website.sql_host_ext }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "SQL User" %}</strong></td>
		<td>{{ website.sql_user }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "SQL Pass" %}</strong</td>
		<td>{{ website.sql_pass }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "SQL DBname" %}</strong></td>
		<td>{{ website.sql_dbname }}</strong></td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "Joomla Admin Url" %}</strong></td>
		<td>{{ website.joomla_admin_url }}</td>
	</tr>
	<tr class="odd">
		<td><strong>{% trans "Joomla User" %}</strong></td>
		<td>{{ website.joomla_user }}</td>
	</tr>
	<tr class="even">
		<td><strong>{% trans "Joomla Pass" %}</strong></td>
		<td>{{ website.joomla_pass }}</td>
	</tr>
</table>
<br />
{% endfor %}
{% endblock %}
