{% load static %}
{% load widget_tweaks %}

<ul class="nav nav-tabs" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-attending-tab" data-toggle="pill" href="#pills-attending" role="tab" aria-controls="pills-attending" aria-expanded="true">ATTENDING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-interested-tab" data-toggle="pill" href="#pills-interested" role="tab" aria-controls="pills-interested" aria-expanded="true">INTERESTED</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-notgoing-tab" data-toggle="pill" href="#pills-notgoing" role="tab" aria-controls="pills-notgoing" aria-expanded="true">NOT GOING</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-attending" role="tabpanel" aria-labelledby="pills-attending-tab">

    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-interested" role="tabpanel" aria-labelledby="pills-interested-tab">
    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-notgoing" role="tabpanel" aria-labelledby="pills-notgoing-tab">
    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-9">
        Mark Jacobs
        <br/>
        <i class="fa fa-check-circle text-success" aria-hidden="true"></i> Trained <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Checked
      </div>
    </div>
  </div>
</div>