{% extends "base-v2.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Enter Stats" %}{% endblock %}

{% block pagetitle %}{% trans "Enter Stats" %}{% endblock %}

{% block content %}


  <div class="tile">
    <h2 class="rg-page-header">
      Basic Information
    </h2>

    <form>

      <div class="form-group row" style="justify-content: flex-end; margin-right: 0;">
        {{ form2.visit_type|add_class:"custom-select"|attr:"style:font-weight:bold;" }}
      </div>

      <div class="form-group row">
        <label for="recipient-name" class="form-control-label col-2">Event</label>
        <div class="col-10">
          <input placeholder="Enter the school or event's name" type="text" class="form-control" id="recipient-name">
        </div>
      </div>
      <div class="form-group row">
        <label for="recipient-name" class="form-control-label col-2">Location</label>
        <div class="col-10">
          <input placeholder="The location where the event is being held" type="text" class="form-control" id="recipient-name">
        </div>
      </div>
      <div class="form-group row">
        <label for="recipient-name" class="form-control-label col-2">Date</label>
        <div class="input-group date col-5" data-provide="datepicker">
          <input type="text" class="form-control" value="12-02-2012">
          <div class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-5">
        </div>
      </div>

      <div class="form-group row">
        <label for="recipient-name" class="form-control-label col-2">Time</label>
        <div class="input-group bootstrap-timepicker timepicker col-5">
          <input id="timepicker1" type="text" class="form-control input-small">
          <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        </div>
        <div class="input-group bootstrap-timepicker timepicker col-5">
          <input id="timepicker2" type="text" class="form-control input-small">
          <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        </div>
      </div>

      <div class="form-group row">
        <label for="message-text" class="form-control-label col-2">Description:</label>
        <div class="col-10">
          {{ form2.notes|add_class:"form-control"|attr:"id:message-text" }}
        </div>
      </div>

      <div class="row">
        <label class="col-2">Selected Attended:</label>
        <div class="form-group col-5">
          <select multiple class="form-control" id="exampleSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group col-5">
          <select multiple class="form-control" id="exampleSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2">Enter Stats:</label>
        <div class="col-10">
          <table class="table table-hover">
            <thead class="rg-thead-inverse">
            <tr>
              <th></th>
              <th colspan="2">Girls</th>
              <th colspan="2">Boys</th>
            </tr>
            </thead>
            <thead>
            <tr>
              <th></th>
              <th>First</th>
              <th>Repeat</th>
              <th>First</th>
              <th>Repeat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Primary School</th>
              <td>{{ form2.primary_girls_first }}</td>
              <td>{{ form2.primary_girls_repeat }}</td>
              <td>{{ form2.primary_boys_first }}</td>
              <td>{{ form2.primary_boys_repeat }}</td>
            </tr>
            <tr>
              <th scope="row">High School</th>
              <td>{{ form2.high_girls_first }}</td>
              <td>{{ form2.high_girls_repeat }}</td>
              <td>{{ form2.high_boys_first }}</td>
              <td>{{ form2.high_boys_repeat }}</td>
            </tr>
            <tr>
              <th scope="row">Other</th>
              <td>{{ form2.other_girls_first }}</td>
              <td>{{ form2.other_girls_repeat }}</td>
              <td>{{ form2.other_boys_first }}</td>
              <td>{{ form2.other_boys_repeat }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <button type="button" class="btn btn-primary">Save Stats</button>
    </form>
  </div>

{% endblock %}

{% block script %}
  <script>
      $('.datepicker').datepicker();
      $('#timepicker1').timepicker({
          icons: {
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      });
      $('#timepicker2').timepicker({
          icons: {
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      });
  </script>
{% endblock %}