{% extends "base-v2.html" %}
{% load i18n %}
{% load tz %}
{% load widget_tweaks %}

{% block title %}{% trans "Events Summary" %}{% endblock %}

{% block pagetitle %}{% trans "Events Summary" %}{% endblock %}

{% block content %}


  <div class="tile">
    <h2 class="rg-page-header">
      Your Chapter's Progress
    </h2>

    <div class="text-muted">
      Chapter's Target: {{ chapter.goal }}
    </div>

    <div class="progress">
      <div class="progress-bar bg-success-secondary" role="progressbar" style="{{ chapter.sum_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="text-muted">
      Started: {{ chapter.goal_start }}
    </div>

  </div>

  <div class="tile">
    <h2 class="rg-page-header">
      Upcoming Events
      <button type="button" style="float:right; margin-top:-3px;" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
        {% trans "NEW EVENT" %}
      </button>
    </h2>

    <table class="table table-striped">
      <thead class="rg-thead-inverse">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th style="text-align: center;">Attending</th>
        <th style="text-align: center;">Privacy</th>
      </tr>
      </thead>

      <tbody>
      {% for e in upcoming_events %}
        <tr>
          <th scope="row"><a href="{% url 'teaching:viewvisit' e.id %}">{{ e.school }}</a></th>
          <td>{{ e.visit_start|date:_("DATE_FORMAT") }}</td>
          <td>{{ e.visit_start|date:_("TIME_FORMAT") }} to {{ e.visit_end|date:_("TIME_FORMAT") }}</td>
          <td style="text-align: center;">10</td>
          <td style="text-align: center;">Private</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="tile">
    <h2 class="rg-page-header">
      Recent Events
      <a href="{% url "teaching:import_workshops" %}" style="float:right; margin-top:-3px; margin-left: 5px;" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">
        {% trans "IMPORT WORKSHOPS" %}</a>
      <a href="{% url "teaching:quickentry" %}" style="float:right; margin-top:-3px; margin-left: 5px;" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">{% trans "QUICK ENTRY" %}</a>
    </h2>

    <table class="table table-striped">
      <thead class="rg-thead-inverse">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th style="text-align: center;">Attended</th>
        <th style="text-align: center;">Stats</th>
        <th style="text-align: center;">Action</th>
      </tr>
      </thead>

      <tbody>
      {% for e in upcoming_events %}
        <tr>
          <th scope="row">{{ e.school }}</th>
          <td>{{ e.visit_end }}</td>
          <td style="text-align: center;">8</td>
          <td style="text-align: center;">22</td>
          <td style="text-align: center;"><a href="#">View</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="{% url "teaching:listvisits" %}">See all events</a>
  </div>

  <!-- Create new event modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          {% include "includes/new_event.html" %}
        </div>
      </div>
    </div>
  </div>
  <!-- Create new event modal -->
{% endblock %}

{% block script %}
  <script>
      $('.datepicker').datepicker();
      $('#timepicker1').timepicker({
          icons: {
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      });
      $('#timepicker2').timepicker({
          icons: {
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      });
  </script>
{% endblock %}

