{% extends "base-v2.html" %}
{% load i18n %}
{% load tz %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% trans "View Event" %}{% endblock %}

{% block pagetitle %}{{ v.school }}{% endblock %}

{% block content %}
  {% ifequal v.status 0 %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% ifequal user_rsvp_status 0 %}
        {% ifequal v.allow_rsvp 0 %}
          {% trans "You have not RSVP'd to this event. Your RSVP:" %} <a href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/yes/">{% trans "attending" %}</a> | <a
            href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/no/">{% trans "not attending" %}</a>
        {% else %}
          <p>{% trans "This is a closed event. You must be invited to RSVP." %}</p>
        {% endifequal %}
      {% else %}
        {% ifequal user_rsvp_status 1 %}
          <p>{% trans "You have been invited to this event but have not yet RSVP'd. Your RSVP:" %} <a
              href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/yes/">{% trans "attending" %}</a> | <a href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/no/">{% trans "not attending" %}</a></p>
        {% else %}
          {% ifequal user_rsvp_status 2 %}
            <p>{% trans "Your RSVP status is" %} <strong>{% trans "attending" %}</strong>. <a
                href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/no/">{% trans "Change to not attending" %}</a></p>
          {% else %}
            {% ifequal user_rsvp_status 4 %}
              <p>{% trans "Your RSVP status is" %} <strong> {% trans "not attending" %}</strong>. <a
                  href="/teaching/{{ v.pk }}/rsvp/{{ user.pk }}/yes/">{% trans "Change to attending" %}</a></p>
            {% endifequal %}
          {% endifequal %}
        {% endifequal %}
      {% endifequal %}
    </div>
  {% else %}
    <div class="tile">
      {% ifequal v.status 1 %}
        {% if user_attended %}
          <p class="attend-yes">{% trans "This event is over. You attended this event." %}</p>
        {% else %}
          <p class="attend-unconf">{% trans "This event is over." %}</p>
        {% endif %}
      {% else %}
        {% ifequal v.status 2 %}
          <p class="attend-no">{% trans "This event has been cancelled" %}</p>
        {% endifequal %}
      {% endifequal %}
    </div>
  {% endifequal %}

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="tile">
        <h2 class="rg-page-header">
          Event Information
        </h2>
        <p>
          <i class="fa fa-clock-o fa-lg" style="margin-right: 20px" aria-hidden="true"></i>{{ v.visit_start|date:_("DATE_FORMAT") }}
          at {{ v.visit_start|timezone:v.chapter.tz_obj|date:_("TIME_FORMAT") }}
          to
          {{ v.visit_end|timezone:v.chapter.tz_obj|date:_("TIME_FORMAT") }}
        </p>
        <p>
          <span><i class="fa fa-map-marker fa-lg" style="margin-right: 25px" aria-hidden="true"></i>{{ v.location }}</span>
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="tile">
        <h2 class="rg-page-header">
          {% trans "See All" %}
          <button type="button" style="float:right; margin-top:-3px;" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal1">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans "See All" %}
          </button>
        </h2>

        <table class="dashboard-table" align="center">
          <tr>
            <td class="dashboard-data"><b>10</b></td>
            <td class="dashboard-data"><b>3</b></td>
            <td class="dashboard-data"><b>5</b></td>
          </tr>
          <tr>
            <td class="dashboard-footer">ATTENDING</td>
            <td class="dashboard-footer">INTERESTED</td>
            <td class="dashboard-footer">NOT GOING</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="tile">
    <h2 class="rg-page-header">
      Event Specific Information
      <button type="button" style="float:right; margin-top:-3px;" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Edit" %}
      </button>
    </h2>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "School" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.school }}
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "Chapter" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.chapter }}
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "Date" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.visit_start|timezone:v.chapter.tz_obj|date:_("DATE_FORMAT_LONG") }}
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "Time" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.visit_start|timezone:v.chapter.tz_obj|date:_("TIME_FORMAT") }} - {{ v.visit_end|timezone:v.chapter.tz_obj|date:_("TIME_FORMAT") }}
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "Location" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.location }}
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-12 col-md-2">
        <strong>{% trans "Details" %}</strong>
      </div>
      <div class="col-xs-12 col-md-10">
        {{ v.notes|linebreaksbr }}
      </div>
    </div>
  </div>

  <div class="tile">
    <h2 class="rg-page-header">
      Comments
      <button type="button" style="float:right; margin-top:-3px;" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addCommentModal">
        <i class="fa fa-comment" aria-hidden="true"></i>{% trans "Add Comment" %}
      </button>
    </h2>

    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-10">
        <strong style="color: #5876D0">Mark Jacobs</strong>
        <br/>
        This is going to be an exciting workshop!
      </div>
    </div>
    <hr/>
    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-10">
        <strong style="color: #5876D0">Jennifer Yang</strong>
        <br/>
        +1 <strong style="color: #5876D0">Mark Jacobs</strong>
      </div>
    </div>
    <hr/>
    <div class="row" style="margin-top: 14px;">
      <div class="col-2" style="display: flex; align-items: center; justify-content: center">
        <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
      </div>
      <div class="col-10">
        <strong style="color: #5876D0">Jessie Pinkman</strong>
        <br/>
        Hi all, I can give lifts to the workshop from uni. Just shoot me a message if you need a lift!
      </div>
    </div>
    <hr/>
  </div>

  <!-- Create new event modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          {% include "includes/edit_event.html" %}
        </div>
      </div>
    </div>
  </div>
  <!-- Create new event modal -->

  <!-- Create new event modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">View Attendees</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          {% include "includes/attendees.html" %}
        </div>
      </div>
    </div>
  </div>

  <!-- Add comment modal -->
  <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Add Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="#">
            <div class="row">
              <div class="col-2" style="display: flex; align-items: center; justify-content: center">
                <img style="border-radius: 360px; height: 3rem;" src="{% static "myrobogals/img/profile_picture.png" %}"/>
              </div>
              <div class="col-10">
                <strong style="color: #5876D0; padding-left: 15px">{{ request.user.first_name }} {{ request.user.last_name }}</strong>
                <br/>
                <div class="form-group">
                  <div class="col-10">
                    <textarea class="form-control" id="id_comment" cols="30" name="comment" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <button type="submit" class="btn btn-primary" style="margin-left: 15px">Save</button>
            </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}